[2020-03-20 13:18] Maaeve commented on #1116
@Mathadon
Thanks for your fast response.
I'm following your explanation...
But your mass is calculated with 'm(start=1) = A_pipe*L_r*rho_default' in which 'L_r=A_floor/RadSlaCha.T/nParCir'.
So if I understand these formulations correctly, your mass m is then calculated for 1 circuit because of dividing by nParCir.
And because 'V=m/nDiscr/rho_default', this also means that V is just for 1 circuit?

[2020-03-20 13:25] Mathadon commented on #1116
@Maaeve it would seem that you are correct. I checked `IDEAS.Fluid.HeatExchangers.RadiantSlab.Examples.EmbeddedPipeNDiscr` with `nParCir=1` and `nParCir=2` and the volume mass changes. The computation thus seems inconsistent. I'll implement a fix. Thanks for reporting this!

[2020-03-20 13:35] Maaeve commented on #1116
@Mathadon
Thanks for the check.
I was designing a system and needed the total water amount in the system.
I had 5 parallel circuits of approximately 110m each and the program mentioned about 12l which seemed pretty low.
A hand calculation with internal diameters brought it to 60l which was more realistic.

[2020-03-20 13:36] Mathadon commented on #1116
Sounds like good engineering to me! this will soon be fixed on the master branch.

[2020-03-20 15:30] Maaeve commented on #1116
@Mathadon, Thanks. Can you tell me how I can get the corrected component into my Dymola once it is fixed? Is it by just downloading the whole Ideas library again?

[2020-03-20 18:05] Mathadon commented on #1116
@Maaeve , indeed, typically you'd use git to pull the latest release of IDEAS on your own computer. You can even pull the development branch already if you want, which is at https://github.com/open-ideas/IDEAS/tree/issue1116_massEmbeddedPipe

[2020-03-25 15:23] cprotopa opened #1118 "final parameters in Heating templates create problems when using Building interface"
In [`Templates/Heating/BaseClasses/HysteresisHeating`](https://github.com/open-ideas/IDEAS/blob/9abac0b8d50cd5215237dd4f4269df0cead28f0d/IDEAS/Templates/Heating/BaseClasses/HysteresisHeating.mo) and [`Templates.Heating.RadiatorHeating`](https://github.com/open-ideas/IDEAS/blob/9abac0b8d50cd5215237dd4f4269df0cead28f0d/IDEAS/Templates/Heating/RadiatorHeating.mo#L5) (maybe also others), there are som

[2020-03-27 14:34] Mathadon commented on #1118
Since the system itself determines the value of `isDH`, it does not make sense to assign a different value in `IDEAS.Templates.Interfaces.Building`. Therefore I would remove the assignment in `IDEAS.Templates.Interfaces.Building` instead?

[2020-03-27 14:35] Mathadon opened #1119 "revise threewayvalvemotor to use PartialThreeWayResistance"
For flow reversal

[2020-03-27 15:30] cprotopa commented on #1118
Indeed I think it makes more sense to define it for each heating system instead of the building. Who needs to pass on a different value through the building template could appropriately alter their own heating system model.

[2020-03-27 15:34] Mathadon commented on #1118
Yup, that makes most sense to me. Feel free to make a pull request for these changes!

[2020-03-30 07:18] Mathadon commented on #1029
@damienpicard @icupeiro should we remove the icon illustration of `port_a` and `port_b` to discourage using the ports? The icon is also quite busy now.

[2020-03-30 07:23] Mathadon commented on #1029
@cprotopa fyi for BoFy, the zone interface is changing but it will stay reverse compatible for now

[2020-03-30 07:45] icupeiro commented on #1029
Agreed, not possible to add the annotation if the port is used right?

[2020-03-30 07:46] Mathadon commented on #1029
We could make the port conditional using a boolean parameter but I rather not.

[2020-03-31 09:07] Mathadon opened #1122 "revise TRV model"
The current implementation of the TRV has a local minimum in the `smoothLim`, which can cause algebraic loop solvers to behave funny.

[2020-03-31 09:09] #1116 closed

[2020-03-31 09:26] #1119 closed

[2020-04-01 17:14] jelgerjansen opened #1125 "add conditional connectors to StrobeInfoManager and update StROBe component"
Conditional connectors should be added to the IDEAS.BoundaryConditions.Occupants.StrobeInfoManager component to be in line with the modelica specification.

The parameters IDEAS.BoundaryConditions.Occupants.StROBe component, which calls the StrobeInfoManager, also needs to be update.  Furthermore, RealExpression `TSet_signal` is adapted as follows:
`TSet_signal(y=TSet_internal+273.15*ones(nZones))

[2020-04-02 08:57] #1118 closed

[2020-04-02 17:40] Mathadon commented on #1122
fixed through #1123

[2020-04-02 17:40] #1122 closed

[2020-04-07 14:29] #1125 closed

[2020-04-07 16:51] Mathadon opened #1129 "thermal resistor adsolair causes a division"
Which can be avoided.

[2020-04-09 13:10] #1129 closed

[2020-04-26 10:42] Mathadon opened #1131 "refactor solBus"
`solbus`, which has many variables, currently passes through `propsBus`, which has many instances. This leads to a huge amount of connections and alias variables, which could create overhead at translations. This should be avoided by refactoring the code.

[2020-04-28 20:09] Mathadon opened #1133 "add getInstanceName() to orientation check"
`The inclination of a wall, a floor or a ceiling does not correspond to its record` does not mention offending model.

[2020-05-04 12:16] cprotopa opened #1134 "Weather inputs sub-hourly resolution"
It is common that custom weather files need to be used for specific simulations, e.g. with measured data. The current `simInfoManager` is meant to read TMY3 format files, which means the custom weather files need to have the appropriate columns and units. Furthermore some options are available to use parameters for some inputs etc., which is nice.
However, what is not necessarily obvious is that t

[2020-05-07 10:48] Mathadon commented on #1134
@cprotopa this shift would have to be implemented in IBPSA and I don't think that this is the way to go in this case. The ReaderTMY3 allows creating inputs for the solar irradiation etc. I suggest to use those as in :
![image](https://user-images.githubusercontent.com/5970879/81286270-11052a00-9061-11ea-9557-a557f582b5df.png)

that allows you to have any time resolution.

[2020-05-07 12:52] cprotopa commented on #1134
@Mathadon If I understand well, you mean to create a custom `SimInfoManager`, where all weather variables are read at the desired resolution from the custom weather file with a `combiTimeTable` and fed to the `weaDat` component. In this way we actually ignore what is read from the weather TMY file.

Except for skipping the +30min, some other useful conversions are by-passed in this way (temperatur

[2020-05-07 12:59] Mathadon commented on #1134
Yup, you can do that by extending the normal siminfomanager.

Yup!

Yup

Ok, I see the point. If that’s all it takes, we can change it in IDEAS. I’ve modified the IBPSA merge script such that such changes should be persistent.

Also a fair point. I’d suggest making a PR for that at IBPSA :)

[2020-05-13 06:46] #1131 closed

[2020-05-19 14:41] sohertz opened #1138 "Azimuth package and OMEdit"
Hello, I just download the latest version from IDEAS. I wanted to use it on OMEdit but got following errors:

[C:/Program Files/OpenModelica1.14.1-64bit/lib/omlibrary/IDEAS/Types/Azimuth/package.mo: 11:4-12:70]: Elements in the package.mo-file need to be in the same relative order as the package.order file. Got element named NW but it was already added because it was not the next element in the li

[2020-05-19 15:33] Mathadon commented on #1138
@sohertz thanks for reporting this! this will be fixed through #1139 once unit tests pass

[2020-05-20 06:50] #1138 closed

[2020-05-24 18:25] alexandrecuer opened #1140 "cannot run the ThreeWayValves.mo example"
Hello,

Trying to run with openmodelica  the ThreeWayValves.mo example of the IDEAS library

https://github.com/open-ideas/IDEAS/blob/8fd99555d882cccf78f269f63b95d3f1f6dece0d/IDEAS/Fluid/Actuators/Valves/Examples/ThreeWayValves.mo#L1

got the following error :
[code]
I've seen IDEAS was not designed to work with openmodelica...

maybe that's the reason ?

best

Alex

[2020-05-24 21:52] Mathadon commented on #1140
@alexandrecuer IDEAS is implemented in Modelica and OpenModelica is designed to support Modelica, so in theory there is no problem. However, OpenModelica does not support the full Modelica specification (and IDEAS sometimes unintentionally does not comply with the Modelica specification). We do not actively check compliance between IDEAS and OM so it can happen that things don't work as expected.

[2020-06-03 07:36] icupeiro opened #1141 "lambdaWater mismatch"
In the zone models, the lambdaWater parameter has different values.
While in IDEAS.Buildings.Components.InternalGains.Occupants it is computed as:

constant Modelica.SIunits.SpecificEnthalpy lambdaWater = 2418000

in IDEAS.Buildings.Components.ZoneAirModels.WellMixedAir is calculated as:

constant Modelica.SIunits.SpecificEnthalpy lambdaWater = Medium.enthalpyOfCondensingGas(T=273.15+35)

which eq

[2020-06-03 07:52] Mathadon commented on #1141
best to use `Medium.enthalpyOfCondensingGas(T=273.15+35)`
thx!

[2020-06-05 11:00] JavierArroyoBastida opened #1144 "Simple hydronic case with heat pump"
This is to extend `IDEAS.Examples.IBPSA` with a new test case for BOPTEST that uses a modulating heat pump instead of a gas boiler. @Mathadon , @dhblum, for simplicity, I'd like to make this test case very similar to `IDEAS.Examples.IBPSA.SingleZoneResidentialHydronic`, where only the production system is replaced with a modulating air-source heat pump, and the emission system with floor heating,

[2020-06-05 11:17] JavierArroyoBastida commented on #1144
I see only water-to-water heat pump model of IDEAS allows direct modulation of compressor speed, so may be more pragmatic to go for a water-to-water heat pump implementation.

[2020-06-08 07:54] Mathadon commented on #1144
It's the most physically realistic model so I would prefer using that one indeed.

[2020-06-08 16:55] dhblum commented on #1144
If using water-to-water, what would the assumption be for source-side water?  That it is geothermal?

Since you mention radiant floor, I also wanted to bring @EttoreZ into this conversation, because he would like to test MPC on an emulator that utilizes radiant floor heating based on a case study he is working on of apartment buildings served by a district heating system.  The test case data, enve

[2020-06-08 18:20] EttoreZ commented on #1144
I confirm. I started from the bestest air example and making it into a two room apartment with floor heating. As heat source there is an idealized district heating (just an infinite source with fixed flow rate)

[2020-06-11 13:55] dhblum commented on #1144
While BOPTEST can be used as a framework by anyone to develop and test their own emulators for MPC, and potentially make them accessible by others, I also want to be careful not to introduce too many emulators in the BOPTEST repository that are similar.  This would make it less likely that MPC/control developers use the same test cases and more difficult to compare.

[2020-06-12 06:24] #1133 closed

[2020-06-12 13:43] JavierArroyoBastida commented on #1144
Welcome @EttoreZ to the issue, nice to see that you are working with a similar test case.

@dhblum regarding [your question](https://github.com/open-ideas/IDEAS/issues/1144#issuecomment-640749497), it's important to note that the source of the energy in a heat pump is independent from the working fluid of the evaporator and condenser.
water-to-water, air-to-water, air-to-air or water-to-air refer

[2020-06-16 18:14] JavierArroyoBastida commented on #1144
A first implementation with an air source heat pump can be found here: https://github.com/JavierArroyoBastida/IDEAS/tree/issue1144_hydronictestWithHP,
under `IDEAS.Examples.IBPSA.SingleZoneResidentialHydronicHeatPump`
It's open to suggestions. Thanks again to @icupeiro for the assistance throughout the implementation.

Still need to finish the documentation and build the test case around the model

[2020-06-17 20:26] dhblum commented on #1144
I took a look at the implementation.  Is it typical that you would have a water-to-water heat pump that then also has a water-to-air heat exchanger, instead of just a water-to-air heat pump?  Or a water-to-water heat pump with a geothermal loop?

[2020-06-17 20:36] EttoreZ commented on #1144
@dhblum I don't know in Belgium, but it is used sometimes in Italy when you have a long distance between the external heat exchanger unit and the rest of the machine to avoid refrigerant flowing in a long circuit. However, almost all the residential applications tend to have the refrigerant circuit directly going to the air-to-fluid heat exchanger.

[2020-06-18 09:38] JavierArroyoBastida commented on #1144
I'm not entirely sure which approach is most commonly used. Maybe @damienpicard can throw some light on it? @damienpicard in summary: the goal is to develop a residential building emulator model located in Belgium and using a heat pump as production system and floor heating as emission system. We wonder what is the typical set up for such system in Belgium. Right now an air source heat pump is imp

[2020-06-30 08:05] Mathadon opened #1148 "overridable assignments in siminfomanager"

[2020-06-30 08:21] #1148 closed

[2020-07-02 12:20] #1141 closed

[2020-07-08 17:44] damienpicard commented on #1144
Sorry for the late reply. Air/water heat pump are by far the most common systems for residential buildings. I think that most of them are reversible (to allow cooling) despite the fact that Belgian energy regulations is discouraging it.

[2020-07-08 17:46] damienpicard commented on #1144
Floor heating for the ground floor is the obvious choice. For the bedrooms, it is typically either unheated or with floor heating. The bathroom gets an additional (electrical) radiator.

[2020-07-09 07:30] JavierArroyoBastida commented on #1144
thanks a lot for your reply @damienpicard! An air/water heat pump is in fact what I'm pursuing with the model. I'm just concerned about the air-to-water heat exchanger that I use in the heat pump source to keep using the `IDEAS.Fluid.HeatPumps.ScrollWaterToWater` model as an air-source heat pump:
![Capture](https://user-images.githubusercontent.com/22677958/87009783-f3218600-c1c5-11ea-9ddc-f021700

[2020-07-09 09:55] Mathadon commented on #1144
I guess that both are possible, you just have to be consistent with the performance data that you use. If the performance data are for a heat pump, including the water-air heat exchanger then you should model it accordingly.

I would use `ScrollWaterToWater` directly with air. There's a bit of an error since condensation is not considered in the modeling then but I presume that your HEX does not c

[2020-07-09 10:28] JavierArroyoBastida commented on #1144
You're right, the in place heat exchanger does not take into account humidity condensation either. Using the `ScrollWaterToWater` directly with air sounds good to me. Do you know if there's any parameter record already available in IDEAS for an air-source heat pump that is calibrated with manufacturer data? I guess there's not, at least I can't find it for the `ScrollWaterToWater` heat pump, but j

[2020-07-09 10:34] Mathadon commented on #1144
As far as I know that does not exist.

[2020-07-14 09:18] #1140 closed

[2020-07-14 11:48] JavierArroyoBastida commented on #1144
The model has been updated in here: https://github.com/open-ideas/IDEAS/pull/1147 and is ready for review. The BOPTEST testcase has been updated accordingly. Both are ready for review.
Now the model uses directly an air-to-water heat pump with parameters calibrated from manufacturer performance data. You can find the files used for calibration here: https://github.com/JavierArroyoBastida/project1-

[2020-07-15 10:06] JavierArroyoBastida opened #1152 "Review simple bestest case"
This is for a small fix on the simple hydronic case example used for BOPTEST as pointed out by the review of @dhblum. The description of `reaTSetCoo` and `reaTSetHea` should read "operative temperature" instead of "air temperature".

[2020-07-20 09:44] #1144 closed

[2020-07-20 09:45] Mathadon commented on #1152
closed through #1153

[2020-07-20 09:45] #1152 closed

[2020-07-22 06:32] #1113 closed

[2020-07-22 06:35] #996 closed

[2020-07-22 06:37] #854 closed

[2020-07-22 06:45] Mathadon commented on #505
Since I have never seen a use case for this, I am closing this issue.

[2020-07-22 06:45] #505 closed

[2020-07-22 06:49] Mathadon commented on #684
Volumetric heat capacity could be a good proxy for the number of states.

[2020-07-22 09:43] #1029 closed

[2020-07-23 06:51] #1114 closed

[2020-07-28 15:36] Mathadon opened #1157 "autoformaat Modelica"
See https://github.com/urbanopt/modelica-fmt

[2020-07-29 11:56] Mathadon opened #1158 "code formatting"
Some minor code formatting issues.

[2020-07-29 20:07] #1158 closed

[2020-07-29 20:44] Mathadon commented on #1066
Todo:
 - figure out how the implementation can be made conditional. Default `tight` interzonal air flow? Does it even have to be conditional when using a fixed pressure boundary? Then pressure differences and hence flow rates are constant. Although the fixed=false trick is used, which may spoil things.
 - 0/1/2 cracks as option in SimInfoManager?
 - figure out how zone height consistency can be im

[2020-08-03 19:10] Mathadon commented on #1066
Brainstorm:
 - Choose between 0/1/2 cracks and choose between `tight`/`fixed pressure`, use asserts to disallow combinations that would cause singularities.
 - Default 0 cracks and `n50tight`
 - buoyancy optional with absolute height in each zone

[2020-08-12 07:12] Mathadon opened #1160 "improve known orientation detection"
Azimuth angles should not matter for floors and ceilings but they do.

[2020-08-12 07:35] Mathadon opened #1162 "avoid initial equation in ExteriorSolarAbsorption"
Avoid initial equation in `IDEAS.Buildings.Components.BaseClasses.RadiativeHeatTransfer.ExteriorSolarAbsorption`. Could use a simple parameter equation instead.

[2020-08-12 09:25] Mathadon commented on #979
@icupeiro are you planning work on this or can this be closed?

[2020-08-13 20:03] Mathadon commented on #1066
Annoying side-effect: if the propsbusk contains fluid ports, it should also contain a Medium declaration, meaning that walls should also contain a Medium declaration.

[2020-08-27 17:06] Mathadon opened #1165 "thermal properties of screed and gypsum"
There seems to be some ambiguity about what 'screed' is exactly. In Belgium (Chape) it's a mixture of sand and cement and thus density is in the range of 1800-2200 kg/m3, while `IDEAS.Buildings.Data.Materials.Screed` has rho=1100. Indeed, some sources on the internet (including IES) quote 1100-1200 kg/m3 for screed. This is light weight screed, as mentioned in the IDEAS documentation. This should

[2020-08-28 11:29] JavierArroyoBastida opened #1166 "bestest heat pump revision"
This issue is to address the revision points made by @dhblum for the single zone residential hydronic BOPTEST case with heat pump located in `IDEAS.Examples.IBPSA.SingleZoneResidentialHydronicHeatPump`.

[2020-09-08 13:03] Mathadon commented on #1066
See https://github.com/open-ideas/IDEAS/tree/1066-interzonal

[2020-09-15 16:12] Mathadon opened #1168 "OuterWall not implemented for floor in rectangularZoneTemplate"
Causing a singularity.

[2020-09-15 17:59] Mathadon commented on #1066
ee653a0 solves a pretty big bug where the new models worked for normal zones but not for the `RectangularZoneTemplate`. The problem seems to be related to the propsbus series connections. This causes a fluid port to have no external connections, causing that connection to have m_flow=0 and default `inStream(h_outflow)=h_outflow` to be used. The `BoundaryWall` however also injects `m_flow=0`. Simpl

[2020-09-17 08:59] Mathadon opened #1169 "default medium in zone"
Should be `IDEAS.Media.Air`.

[2020-09-17 11:27] #1169 closed

[2020-09-28 18:31] #1160 closed

[2020-09-28 18:32] #1162 closed

[2020-10-05 22:14] sjchakra opened #1171 "Links in documentation not valid in v2.1.0"
There are multiple references of **IDEAS.Thermal.Components.** in the documentation of models in IDEAS.Fluid.HeatPumps.HP_AirWater_TSet. That path no longer exists.

It would great to have the correct path to all the references!

[2020-10-10 02:29] EttoreZ opened #1172 "Issue with IDEAS.Fluid.HeatPumps.HP_AirWater_TSet"
I am developing a personal case study for BOPTEST and I am using `IDEAS.Fluid.HeatPumps.HP_AirWater_TSet` as heat pump model. However, JModelica fails to compile the code giving the following error:

Error at line 15, column 41, in file '/home/developer/MODELICAPATH/IDEAS/Fluid/HeatPumps/HP_AirWater_TSet.mo':
  Equality comparisons do not allow real operands: QDesign == 0
    type of 'QDesign' is

[2020-10-11 12:06] Mathadon opened #1174 "python3 in unit tests"
Travis fails in https://travis-ci.com/github/open-ideas/IDEAS/jobs/397780036. Probably due to python3 - specific code. Upgrading to 3.6.

[2020-10-12 12:56] #1174 closed

[2020-10-13 14:19] #1172 closed

[2020-10-22 13:09] kldjonge opened #1176 "IDEAS.Buildings.Components.Window"
**In IDEAS.Buildings.Components.Window, the glazing type is limited to specific choices in latest version.**

replaceable IDEAS.Buildings.Data.Interfaces.Glazing glazing
    constrainedby IDEAS.Buildings.Data.Interfaces.Glazing "Glazing type"
    annotation (choices(
        choice(redeclare IDEAS.Buildings.Data.Glazing.Ins2Ar2020 glazing "Insulating double glazing (6/16/6 AR Planitherm one, U=1.0

[2020-10-22 14:04] Mathadon commented on #1176
The old models are for old glazing types that are no longer commercially available and some of them even have wrong emissivities. They can still be used if you really want to by directly writing the record path in the code.

[2020-10-22 14:12] kldjonge commented on #1176
So any custom glazing type the modeler would like to add should be implemented via the edit text interface?

[2020-10-22 14:13] Mathadon commented on #1176
yes

[2020-10-22 14:23] kldjonge commented on #1176
Seems more logical to either not give any options or give 'all' of them.

I would think it makes more sense to then just delete the old glazing types but still have all matching is true, if you then add a custom glazing type in a local library it will be an option in the model.

[2020-10-22 14:33] Mathadon commented on #1176
You have a point there but that is not backwards compatible. Then I break pretty much any old model in IDEAS, which is something I try to avoid.

[2020-10-23 07:22] kldjonge commented on #1176
And if we would extend the correct windowtypes from a new (but duplicate) frame class still keeping the old ones in the library? Wouldn't that fix the problem?

ps. I'm asking because I came across it while checking a model we use in class.

[2020-10-23 07:24] Mathadon commented on #1176
That's not a bad idea.. I'll look into it.

[2020-10-23 07:26] kldjonge commented on #1176
Not urgent at all btw. Our students downloaded IDEAS already, so for this year I'll just teach them how to do it via text.

[2020-10-23 07:30] Mathadon commented on #1176
What's wrong with the new glazing types btw? Why not just use those?

[2020-10-23 07:36] kldjonge commented on #1176
The glazing types are ok offcourse, it is just quite limiting to not have (a smooth) option to add one yourself.
For instance if you have to model an old building, or want to experiment with certain window types, add coatings,...

e.g. for our students: they start by modeling a specific building (with a specific glazing type) and change things to optimise that building later on (making chaning gla

[2020-10-28 09:06] Mathadon opened #1177 "outerwall type orientation C PPD12 is internal wall"
Should be outer wall.

[2020-10-28 14:00] Mathadon commented on #1177
`hFloor2` is not used

[2020-11-06 20:09] Mathadon opened #1179 "Material resistivity computed incorrectly for gasses"
R = d/k is incorrect for gasses.

[2020-11-16 16:29] #1176 closed

[2020-11-16 16:31] Mathadon commented on #1171
@sjchakra thanks for reporting this. Can you list all models with missing references? Then I will fix them!

[2020-11-18 15:05] Mathadon opened #1181 "default n50 value"
The default n50 value is currently 0.4/h but I just saw a source that claims that 3/h is a good average. @kldjonge what is your experience?

[2020-11-18 15:43] kldjonge commented on #1181
Which source is this? I would think that 3/h concerns the total ACH (so both mechanical and infiltration). I will look in to it.

[2020-11-18 15:44] Mathadon commented on #1181
WTCB presentation that is currently going on.

[2020-11-18 15:58] kldjonge commented on #1181
From the senvivv study I found this information. 3/h seems to be a better assumption then 0.4.h indeed.
0.4/h is mentioned as the average, actual ACH (so not at 50pa), from the measured cases in this study.

![image](https://user-images.githubusercontent.com/46526840/99553633-a85b1a80-29be-11eb-817a-b496be289532.png)

[2020-11-18 18:05] Mathadon commented on #1181
Doh. Let's fix this straight away.

[2020-11-19 06:35] Mathadon commented on #1181
This causes substantial temperature differences in some models, eg.:
<img width="1256" alt="image" src="https://user-images.githubusercontent.com/5970879/99630191-b69a4c80-2a39-11eb-8c20-62559847d043.png">

[2020-11-19 07:08] Mathadon commented on #1181
The actual value of 0.4 means that the parameter value `zone.n50toAch = 20` (which is used to scale the flow rate from 50 Pa to a realistic average pressure) is a bit at the high side too since `3/0.4 = 7.5`. This further increases the flow rate.

The average wind speed in Belgium is 2-7 m/s (https://www.meteo.be/nl/unpublish/algemeen-klimaat-belgie/parameters). The Uccle weather file average is 3

[2020-11-19 08:10] icupeiro commented on #1181
@Mathadon I think it would be a good idea to include in the documentation or in the parameter description some typical values depending on the building age, e.g. as Dirk proposed:
Passive houses 0.3-0.6 ACH
New construction buildings - 3-4 ACH
Old buildings - 10+ ACH

[2020-11-19 08:18] Mathadon commented on #1181
If we have really representative figures, sure. The source that Dirk cited dates from 2007 so that's not recent, and it's a UK study. I think that the passive house numbers are representative though.

[2020-11-19 09:17] Mathadon commented on #1181
Reference result differences for `n50ToAch=7.5`:
<img width="1306" alt="image" src="https://user-images.githubusercontent.com/5970879/99644054-befc8280-2a4d-11eb-9ab6-51309c62719e.png">
<img width="1304" alt="image" src="https://user-images.githubusercontent.com/5970879/99644192-e81d1300-2a4d-11eb-8af0-245730c8adb0.png">
<img width="1301" alt="image" src="https://user-images.githubusercontent.com/

[2020-11-19 09:41] kldjonge commented on #1181
Well the senvivv study is not that recent anymore (1998 ), they found an average of 7.8/h in measurements at that time hence the 0.4. (7.8/20=0.39)

Do you recall where the  value 20 originated from?

[2020-11-19 09:43] Mathadon commented on #1181
'Common practice' I think. But physics clearly doesn't agree with it!

[2020-11-19 10:45] Mathadon opened #1185 "verify locGain value if cardinality(port_emb) > 0"
To check connection at the inside of an insulation layer.

[2020-11-19 13:26] Mathadon commented on #1181
This paper completely confuses me. https://www.aivc.org/sites/default/files/D2_S8B-09.pdf In equation 2 they use the factor 20 conversion factor but they seem to mix units: m3/h/m2 for Q50 and q/h for Q1 .

However, comparing the results in Figure 3 (50 Pa) and Figure 5 (4 Pa), the ratio is 5. A typically cited flow coefficient is 0.65 (close to turbulent), which would yield a ratio of 5.16 for 50

[2020-11-19 13:54] Mathadon commented on #1181
Bingo: https://www.researchgate.net/publication/308333882_The_Origin_and_Application_of_Leakage-Infiltration_Ratios

Abstract:

Conclusion:

Let's not use that anymore..

After going through some literature, common wisdom seems to be that the flow coefficient is about 0.65. If we assume an average pressure difference of 3 Pa, that puts the conversion factor at `(50/3)^0.65=6.23`. Let's go with tha

[2020-11-21 11:05] cprotopa commented on #1181
@Mathadon , I think the wind speed in TMY files is also at 10 height, so for smaller buildings it could be less. Could also be influenced by obstacles etc. That said, I'm not entirely following the calculations you offer. Since changing it would cause big differences, and since many codes use this 20 value, I would also be more confident if we keep it that way, if no conclusive new data is availab

[2020-11-21 14:45] Mathadon commented on #1181
Yup, let's keep 20! Though #1066 will provide an (optional) more detailed computation method.

[2020-11-21 17:02] #1181 closed

[2020-12-01 08:04] icupeiro opened #1186 "wrong picture in IDEAS.Buildings.Components.Shading.HorizontalFins"
I believe this figure is wrong since it draws the azimuth angle as the zenith angle. I could not find the azimuth angle being used in the equations, however the altitude is being used.

![HorizontalFins](https://user-images.githubusercontent.com/25082958/100712800-a4160080-33b3-11eb-8d56-6b054034f06a.PNG)

I have this updated version, is it fine? It points at the zenith (angZen) and incidence (ang

[2020-12-01 15:40] dhblum opened #1188 "Add weather station"
This issue is to add a BOPTEST weather station to:
- ``IDEAS.Examples.IBPSA.SingleZoneResidentialHydronic``
- ``IDEAS.Examples.IBPSA.SingleZoneResidentialHydronicHeatPump``

Per https://github.com/ibpsa/project1-boptest/issues/234.

[2020-12-01 16:12] dhblum commented on #1188
I'm taking care of this, will make PR when ready.

[2020-12-03 09:17] JavierArroyoBastida commented on #1188
Thanks for this @dhblum! I'm sorry I haven't found the time so far to get this implemented...

[2020-12-03 14:04] dhblum commented on #1188
@JavierArroyoBastida No worries at all.

[2020-12-04 14:42] dhblum commented on #1188
Closed by https://github.com/open-ideas/IDEAS/pull/1189.

[2020-12-04 14:42] #1188 closed

[2021-01-21 10:28] kldjonge opened #1190 "Optimistic U-value for Data.Frames.AluminiumInsulated"
In IDEAS.Buildings.Data.Frames.AluminiumInsulated, the default is 0.7. Which would make it better then the glazing it holds.

Looking at typically used aluminum frames e.g.:
https://www.reynaers.be/nl-BE/architecten/extranet/files/product/brochures/masterline%208%202020%20nl.pdf
https://www.schueco.com/be-nl/particulieren/ramen/aluminium-ramen

The 0.7 really is the best value that can be found, f

[2021-01-21 11:53] JavierArroyoBastida opened #1191 "BOPTEST Bestest control"
This is to resolve this BOPTEST issue: https://github.com/ibpsa/project1-boptest/issues/274, which relates with the IBPSA Bestest example.

[2021-02-15 12:53] JavierArroyoBastida opened #1192 "BOPTEST Bestest HP revision"
This is to revise the BOPTEST Bestest HP case according to the points raised by @Mathadon in his review of the case. Namely this should:
1. Correct materials description in documentation.
2. Reduce building size to be more representative.
3. Add effect of internal walls.

@dhblum FYI.

[2021-02-15 21:17] dhblum commented on #1192
Thanks @JavierArroyoBastida.  Do you want to make a corresponding BOPTEST issue, just so we keep track there?

[2021-02-16 07:29] JavierArroyoBastida commented on #1192
Yes, BOPTEST issue opened: https://github.com/ibpsa/project1-boptest/issues/289.

[2021-02-25 11:00] Maaeve opened #1194 "Composing a typical week weather dataset"
Hi,

I'm composing a typical week to simulate my building in Dymola.
I noticed that the SimInfoManager of IDEAS uses the simulation time to calculate the properties of the sun, e.g. zenAng, decAng, altAng, ...
So does that mean that if I make a sequence that starts at time 0s and ends after 604 800s (=7days*24hours*3600s) that I've considered the position of the sun during the first week of Januar

[2021-02-25 13:07] Mathadon commented on #1194
A sequence that starts at time 0 indeed starts at January 1st, at midnight. Check also the documentation at `IDEAS.BoundaryConditions.WeatherData.ReaderTMY3`.

If you want to make a simulation file for e.g. the first week of march, then the TMY file should start at time (31+28 days * 24h * 3600s) = 5097600 instead of at 0, and the simulation should also start at time=5097600.

I think this would w

[2021-02-25 14:31] Maaeve commented on #1194
Ok thanks.
This approach makes indeed sense when you simulate a week with days that follow directly after each other.
But what should I do then if I want to simulate each day of a particular month e.g. 1/jan followed by 1/feb, 3/mar ... till 1/dec?

[2021-02-25 14:41] JavierArroyoBastida commented on #1192
Closed by https://github.com/open-ideas/IDEAS/pull/1193.

[2021-02-25 14:41] #1192 closed

[2021-02-25 14:44] JavierArroyoBastida commented on #1191
This didn't require any update in IDEAS in the end. The issue turned out to be related to a potential pyfmi bug, see: https://github.com/modelon-community/PyFMI/issues/72. And was resolved in BOPTEST by https://github.com/ibpsa/project1-boptest/pull/284.

[2021-02-25 14:44] #1191 closed

[2021-02-25 14:46] JavierArroyoBastida commented on #1166
Closed by https://github.com/open-ideas/IDEAS/pull/1167.

[2021-02-25 14:46] #1166 closed

[2021-02-25 14:52] JavierArroyoBastida opened #1195 "BOPTEST update bestest pricing scenario"
This is to add transmission fees and taxes to the pricing scenarios of the bestest hydronic case, equivalently as it was done for the bestest hp case in https://github.com/open-ideas/IDEAS/pull/1193.

[2021-02-25 15:05] JavierArroyoBastida commented on #1195
Addressed [here](https://github.com/open-ideas/IDEAS/pull/1193/commits/dc04233ef5a3e47d363c9e7ab91c2a1dbfd6e711) already so there are no further edits needed.

[2021-02-25 15:05] #1195 closed

[2021-03-02 11:11] JavierArroyoBastida opened #1196 "Bestest HP setpoint control"
This is for https://github.com/ibpsa/project1-boptest/issues/299.

[2021-03-03 18:44] Mathadon commented on #1194
That would not be supported out of the box in one consecutive simulation. You'd have to start several simulations with different start/end times.

[2021-03-03 19:12] Mathadon commented on #1190
@kldjonge thanks for flagging this. I agree that this is a bit optimistic. We can use a U value of 1.5 instead and add 0.7 as a second option?

[2021-03-04 08:06] Maaeve commented on #1194
The model should also work for hardware-in-the-loop experiments, so starting/stopping could cause synchronisation issues.
That was the reason why I was suggesting to make a custom SimInfoManager with custom WeaDat.
Then, I could start my simulation from 0s until 604 800s (7d*24h*3600s). modTim would then be equal to the sum of the simulation time and the result of a look-up table. The look-up tabl

[2021-03-04 08:13] Mathadon commented on #1194
That could indeed work!

[2021-03-04 09:48] Maaeve commented on #1194
Ok, thanks.

[2021-03-04 09:48] #1194 closed

[2021-03-04 15:49] kldjonge commented on #1190
Sounds good to me. 👍

[2021-04-02 13:46] JavierArroyoBastida opened #1199 "Add CO2 to Bestest media"
This is for https://github.com/ibpsa/project1-boptest/issues/306.

[2021-04-12 08:33] Mathadon opened #1201 "simple clock"
Add a simple clock implementation without events.

[2021-04-12 09:02] Mathadon opened #1203 "circuits"
This PR is for adding circuits.

[2021-04-12 10:12] Mathadon opened #1204 "shading controller"
Adding a new shading controller.

[2021-04-12 10:17] diederikverscheure opened #1206 "Uccle.TMY file starts at wrong time"
Hello,

is it possible that the Uccle.TMY file contains data copied from a standard TMY3 file?
According to this site TMY3 files start at 01/01 at local time 01:00:00.
https://build.openmodelica.org/Documentation/Buildings.BoundaryConditions.WeatherData.ReaderTMY3.html

In Uccle at 01/01 sunrise is around 8:45 and sunset is around 16:45.
We can check the global horizontal radiation values at time:

[2021-04-12 11:01] Mathadon commented on #1206
@diederikverscheure thanks for reporting this. I'm looking into it but at first sight your analysis is correct.

[2021-04-12 12:02] Mathadon commented on #1206
The commit ef8fc46b8 replaces

[code]

by

[code]

The solar irradiation data seems to be shifted by 1h since the value 43 W/m2 for the global horizontal irradiation that appears at time stamp '01/01/2005,11:00' is moved to time = 36000. This shift seems to be the cause of the problem. I'll look into how best to resolve this.

[2021-04-12 15:30] Mathadon opened #1207 "vav model"
Add van model with fraMin/fraMax

[2021-04-13 19:48] #1203 closed

[2021-04-14 08:24] diederikverscheure commented on #1206
According to this site in section  "Start and end data for annual weather data files"
https://build.openmodelica.org/Documentation/Buildings.BoundaryConditions.WeatherData.ReaderTMY3.html,
you could just duplicate the first line and remove the last line of the original file (time goes from 0, 3600, ...)

[2021-04-15 12:17] Mathadon commented on #1206
@diederikverscheure that is indeed correct. The problem is that we're not sure whether the file has been altered in a different way where the time offset may be correct. Not shifting the data may then be wrong. We're looking into using a different reference weather file as an alternative option.

[2021-04-16 15:38] Mathadon opened #1209 "new weather file"
A new weather file is needed since the old one is internally inconsistent as highlighted by #1206 .

The EnergyPlus epw file 'Brussels 064510 (IWEC)' (source: IWEC) is used, which is converted using the java conversion script.

About IWEC:
[code]

See https://energyplus.net/weather/sources#IWEC and https://energyplus.net/weather-location/europe_wmo_region_6/BEL//BEL_Brussels.064510_IWEC

[2021-04-16 15:40] Mathadon commented on #1209
A comparison of the old vs new file:

<img width="1333" alt="image" src="https://user-images.githubusercontent.com/5970879/115049068-98e2ed80-9eda-11eb-8e76-b9eccf2c07eb.png">

Winter:
<img width="1344" alt="image" src="https://user-images.githubusercontent.com/5970879/115049126-a8facd00-9eda-11eb-8e54-e13672252a43.png">

Summer:
<img width="1349" alt="image" src="https://user-images.githubusercon

[2021-04-16 16:11] Mathadon commented on #1206
@diederikverscheure we will create a new file, see #1209. Thanks for reporting. I'll close this issue.

[2021-04-16 16:11] #1206 closed

[2021-04-16 16:15] Mathadon commented on #1209
The new file has higher temperatures of up to 35 ˚C and also lower temperatures in winter.

[2021-04-19 18:23] #1207 closed

[2021-04-19 18:28] #1209 closed

[2021-04-19 21:08] #1204 closed

[2021-04-22 11:34] #1199 closed

[2021-04-22 11:34] #1196 closed

[2021-04-22 11:36] JavierArroyoBastida opened #1211 "BOPTEST cases documentation"
This is to update the documentation of the IBPSA examples to the latest weather file and scenario periods.

[2021-04-22 11:39] JavierArroyoBastida commented on #1211
Particularly this is for https://github.com/ibpsa/project1-boptest/issues/313 and relates to https://github.com/ibpsa/project1-boptest/issues/312.

[2021-04-26 09:59] #1211 closed

[2021-04-26 10:01] JavierArroyoBastida opened #1213 "BOPTEST scenario API"
This is to add the scenario API specifier to the docuementation of the BOPTEST bestest examples as suggested in https://github.com/ibpsa/project1-boptest/pull/323#pullrequestreview-643518090.

[2021-04-28 08:40] #1213 closed

[2021-06-03 10:45] Mathadon commented on #1066
This implementation has progressed a lot but a second PR will be required for buoyancy related aspects.

[2021-06-03 10:46] Mathadon opened #1216 "IDEAS v2.2"
This issue is to create a new IDEAS release.

[2021-06-08 20:52] Mathadon commented on #1066
First merge request merged through #1215

[2021-06-08 20:56] Mathadon commented on #1066
Simulation time for VentilationRBC increased from 15 to 29s.

[2021-06-09 06:29] #1216 closed

[2021-06-23 15:56] dhblum opened #1220 "BOPTEST Updates"
I'd like to address BOPTEST issues https://github.com/ibpsa/project1-boptest/issues/303 and https://github.com/ibpsa/project1-boptest/issues/301 as applied to the BESTEST hydronic and hydronic heat pump cases.  Namely to:

1. Update documentation by adding more illustrative system schematics.
2. Move the offset applied to zone heating set point in the hydronic case to before the overwrite block.

[2021-06-28 15:49] kldjonge opened #1222 "Problems at initialization"
I encounter problems in initialization when trying to run certain models, the same error occurs in example models of IDEAS. (e.g. IDEAS.Buildings.Examples.ComfortExample). I use Dymola 2021 and MSL 3.2.3.

![image](https://user-images.githubusercontent.com/46526840/123665031-33936d00-d838-11eb-9d9b-ee40afe0e623.png)

[2021-06-29 06:07] Mathadon commented on #1222
@kldjonge does the problem persist after a reboot? You’re not getting any error messages in the simulation tab?

[2021-06-29 06:44] kldjonge commented on #1222
Yes it does, the problem also isn’t a problem anymore when I use an older version of IDEAS.

The actual simulation never starts. It crashes after translation but before time zero.

[2021-06-29 06:49] kldjonge commented on #1222
I will ask some co-workers to test the same model to see if it stays persistant.

[2021-06-29 06:52] Mathadon commented on #1222
Dymola 2020 works so in any case it seems an option to contact support :)

[2021-06-29 08:50] kldjonge commented on #1222
I contacted them, they were able to reproduce the error. They are looking into it but told me that: "These errors are typically something wrong in external C code".

Is there an external model that you changed but didn't push by any chance?

[2021-06-29 08:55] Mathadon commented on #1222
The model that you referenced does not contain anything special that I can think of.. You could try to compile it without the Fanger model:

Maybe that provides a clue.

[2021-06-30 07:51] kldjonge commented on #1222
This 56513a022c23c8b8a3f0d9645b5b739e34ae1a29, is where the error first occurs, so the error is probably in the weatherfile or the .mos format. That also explains why some models still work and others don't.

[2021-06-30 11:53] Mathadon commented on #1222
Brussels.mos is missing a line for 3600s , which is not the case for Uccle.TMY. I'm not sure why this is the case. The file was auto-generated from the epw file. To be looked into further.

[2021-07-01 13:14] dhblum commented on #1220
Closed by https://github.com/open-ideas/IDEAS/pull/1221.

[2021-07-01 13:14] #1220 closed

[2021-07-19 14:08] Mathadon opened #1223 "bug in unify_n50"
unify_n50 is activated when it should not be and vice versa. This should be fixed.

I.e. the goal of `unify_n50` is to do the n50 recompilation of interzonal airflow even when interzonairflowtype=None. This is not enabled by default for backward compatibility reasons.

[2021-07-20 08:22] Mathadon commented on #1223
The original implementation was correct.. The goal was backward compatibility. So the unification should be overwritten by the zone-assigned n50 value.

[2021-07-20 08:22] #1223 closed

[2021-07-21 08:10] Kanchn12345 opened #1225 "Error in AHU example model simulation in Open Modelica"
As discussed on the issue for Openmodelica with #7705, I am creating an issue here.

I am trying to simulate the AHU example model (Adsolair58) available in IDEAS.AIRFLOW.AHU package of the IDEAS library. When I am trying to simulate the example it is giving the following errors “Illegal access of protected element XiSat.” and “Variable wetBulOut.XiSat not found in scope IndirectEvaporativeHex.”

[2021-07-21 08:13] YashwanthVellala commented on #1225
@Kanchn12345 Thanks for raising this ticket. I am facing this error too.

[2021-07-21 08:21] Mathadon commented on #1225
@Kanchn12345 can you verify whether https://github.com/open-ideas/IDEAS/tree/1225_XiSat resolves your issue?

[2021-07-21 08:55] YashwanthVellala commented on #1225
@Mathadon I tried using the above fix, its giving a different error now. Copied the error message below. Please take a look

[2] 14:23:01 Translation Error
[IDEAS.Templates.Interfaces.BaseClasses.Structure: 50:3-52:73]: Non-array modification ‘"ThermodynamicTemperature"‘ for array component ‘quantity‘, possibly due to missing ‘each‘.

![Error](https://user-images.githubusercontent.com/1317497/1264

[2021-07-21 08:57] Kanchn12345 commented on #1225
@Mathadon , Thank you fixing it.

I tried running the model and I am also getting the same error.

[2021-07-21 09:00] Mathadon commented on #1225
@Kanchn12345 @YashwanthVellala can you try again?

[2021-07-21 09:23] YashwanthVellala commented on #1225
@Mathadon Getting a different error now, below is the error message

[2021-07-21 09:23] YashwanthVellala commented on #1225
[2] 14:52:16 Translation Error
[IDEAS.Buildings.Components.Interfaces.PartialZone: 254:3-255:43]: Non-array modification ‘false‘ for array component ‘fixed‘, possibly due to missing ‘each‘.

[2021-07-21 09:25] Kanchn12345 commented on #1225
@Mathadon, I am also facing the same error.

[2021-07-21 10:54] YashwanthVellala commented on #1225
@Mathadon Can you please try to fix this as soon as possible

[2021-07-21 11:53] Mathadon commented on #1225
done!

[2021-07-21 11:54] Mathadon commented on #1225
There may be quite a bit more of these missing 'each'. Feel free to add them yourself and report back on where I should add them!

[2021-07-21 12:37] YashwanthVellala commented on #1225
@Mathadon Thanks for the fix, but it isnt working yet. its giving a different error, shown below.

[8] 18:01:35 Translation Error
[IDEAS.Buildings.Components.Shading.Overhang: 11:3-13:52]: Type mismatch in binding ‘wLeft = {0.5, 4.5}‘, expected array dimensions [], got [2].

Earlier, we had fixed the errors related to using 'each' ourselves, we can note and report to you on those errors. Please he

[2021-07-21 13:05] Mathadon commented on #1225
I use dymola for our development and do not use OM.

The error that you report is something that looks less straight forward to fix. Today is the national holiday in Belgium so that will be for later. I can only recommend removing the shading from the building envelope model for now if you want to progress.

[2021-07-22 06:21] Mathadon commented on #1225
@casella the error

[code]

Seems to be caused by the code
[code]

where `win` is declared as an array of components
[code]

The purpose of `wLeft={0.5,4.5},` is to assign a different value of `wLeft` to each instance of `win`. As far as I can tell, the syntax is correct. But perhaps the standard does not permit such assignments for a replaceable?

[2021-07-22 06:23] Mathadon commented on #1225
The issue may be solved through commit 9293da0 but I doubt that.

[2021-07-22 06:41] YashwanthVellala commented on #1225
@Mathadon  I'll try with this commit and let you know. Thanks

[2021-07-22 06:56] YashwanthVellala commented on #1225
@Mathadon  Doesn't resolve it. Still the same error.

[4] 12:24:35 Translation Error
[IDEAS.Buildings.Components.Shading.Overhang: 11:3-13:52]: Type mismatch in binding ‘wLeft = {0.5, 4.5}‘, expected array dimensions [], got [2].

[2021-07-22 07:01] YashwanthVellala commented on #1225
@Mathadon
On a different note, need your help on FMU in OpenModelica.
I am trying to export \IDEAS\Fluid\Examples\SimpleHouse.mo as an FMU to matlab to try few things. I used the below commands as mentioned in the OMtutorials https://openmodelica.org/doc/OpenModelicaUsersGuide/v1.11.0/fmi.html

1. loadFile("C:\Users\E485898\Downloads\IDEAS-1225_XiSat\IDEAS-1225_XiSat\IDEAS\Fluid\Examples\SimpleHou

[2021-07-22 08:00] Mathadon commented on #1225
Can you simulate `SimpleHouse` using OM (without using FMU)? If that results in an error then that's probably the cause for the FMU too since the same code is used. In any case the `translateModelFMU` function likely generates an error message that should clarify what the problem is.

[2021-07-22 08:21] YashwanthVellala commented on #1225
I can simulate the SimpleHouse in OpenModelica. Looks like the translate function is throwing some error.

[76] 13:49:43 Scripting Notification

Nonlinear iteration variables with predefined start attribute in NLSJac130. (1)
========================================
1: weaBus.TWetBul:VARIABLE(min = 0.0 start = 291.15 )  "virtual variable in expandable connector" type: Real

Info: Only non-linear it

[2021-07-22 08:22] YashwanthVellala commented on #1225
@Mathadon Also, is it likely to have a solution on the AHU model soon ?

[2021-07-22 08:23] casella commented on #1225
Pedantic check in Dymola report these issues as errors. Unfortunately it only reports the first one, so you have to kill them one by one.

[2021-07-22 08:32] casella commented on #1225
This may be by an OpenModelica bug. I would suggest you to try compiling the model with OpenModelica 1.18.0-beta.1 or with the latest nightly build, if you are still using 1.17.0 it may have been fixed already.

If not, please open a ticket [here](https://github.com/OpenModelica/OpenModelica/issues/new/choose) about that.

[2021-07-22 08:39] YashwanthVellala commented on #1225
i'll try this as well @casella
thanks !

[2021-07-22 08:48] casella commented on #1225
These are not errors, just warnings that there are some iteration variables in nonlinear equations that are using a default value as a first guess. If the solver converges, you can ignore this messsage. If it fails, this may be the cause of the failure.

BTW, we are implementing a very nice tool to help you in this case, based on the theory explained in [this paper](https://doi.org/10.1016/j.amc.2

[2021-07-22 08:52] casella commented on #1225
Not sure about these errors, maybe they are not that important.

@Mathadon according to the [latest rules regarding pure/impure functions](https://specification.modelica.org/maint/3.5/functions.html#pure-modelica-functions) I guess you should declare getHeaderElementTMY3 as impure, since it depends on externally loaded data. This ensures the compiler deals with it properly.

[2021-07-22 09:26] Mathadon commented on #1225
@YashwanthVellala your code contains

[code]

I think you need to use `translateModelFMU(IDEAS.Fluid.Examples.SimpleHouse)` or `translateModelFMU("IDEAS.Fluid.Examples.SimpleHouse")` instead of `translateModelFMU(SimpleHouse)`

[2021-07-22 09:38] Mathadon commented on #1225
@casella thanks for this info! In my experience we don't often have initial guess problems if the equations are well-defined, unless perhaps for highly non-linear systems.  E.g. the sudden closing of a value can cause the initial guess for a flow network to be completely off and can result in numerical problems. Would this tool indicate what equation/variable is the one that is causing problems?

[2021-07-22 10:02] YashwanthVellala commented on #1225
Thank you for the reference to the paper. I will go through it.

[2021-07-22 10:09] YashwanthVellala commented on #1225
@Mathadon
I think you need to use translateModelFMU(IDEAS.Fluid.Examples.SimpleHouse) or translateModelFMU("IDEAS.Fluid.Examples.SimpleHouse") instead of translateModelFMU(SimpleHouse)
---> didn't work

[2021-07-22 10:39] Mathadon commented on #1225
I’m pretty sure you’d get different errors though since the error message seemed quite clear about what the issue is?

[2021-07-22 14:47] casella commented on #1225
On a more general note, there are already at least a dozen differente issues in this ticket, which makes it a bit unmanageable if they are not solved overnight.

I would suggest to open separate ones for each issue with a clear title that refers to that.

Thanks!

[2021-07-22 14:48] casella commented on #1225
I guess that's because you don't need to initialize your models in steady-state. In the field of power plant modelling, you normally do, and it's quite a pain.

Absolutely 😃

[2021-07-22 15:12] YashwanthVellala commented on #1225
@Mathadon  can you see the original issue @Kanchn12345  reported earlier is fixed at the earliest ?

[2021-07-22 15:37] casella commented on #1225
I'm not sure. When you instantiate arrays, you can modify individual values of elements (e.g. parameters) by passing arrays of values with the same dimension of the array, or by adding 'each'. However, in this case you are redeclaring a replaceable element; what I understand is that you cannot redeclare individual elements of an array to have different types, they all need to have the same type. S

[2021-07-22 20:24] Mathadon commented on #1225
That's a fair suggestion. Focussing on a quick solution for now :)

[2021-07-22 20:26] Mathadon commented on #1225
I pushed a workaround by no longer using the (possibly) incorrect syntax in that example.

Just to be clear. I fix these issue on my spare time, which I'll prioritise myself :)

[2021-07-22 20:28] Mathadon opened #1227 "Openmodelica compatibility"
This issue is to look into errors against the Modelica specification with the goal to be able to simulate our models using OpenModelica.

[2021-07-22 20:31] Mathadon commented on #1225
If that is correct then we indeed made an error against the specification but perhaps this is just a corner case that is not supported yet in OM? It would be good if @perost could clarify this. We can revise the model to avoid this construction if it would be needed. In any case I pushed a workaround for now.

[2021-07-23 06:33] YashwanthVellala commented on #1225
@Mathadon Thanks a lot ! this is working now. i could simulate simplehouse example in IDEAS/Fluid.

thanks !
I still havent figured out how to export FMU from OpenModelica, its still giving the same error.

[2021-07-23 06:41] Mathadon commented on #1225
Aha, this I did not spot last time:

[code]

@casella as far as I know this file should be provided by OpenModelica? Any idea why it is not found?

@YashwanthVellala you can try to search the openmodelica directories for this file and manually add the containing directory to your PATH variable..

[2021-07-23 11:59] casella commented on #1225
Yeah, sorry, I indeed spotted it myself yesterday, but then got carried away.

I tried the following MWE
[code]
which works fine without the need of any `# include `statement. I guess the Modelica environment adds it automatically (from the appropriate path) when it is compiling the C source code of external functions.

In fact `#include <xxx.h>` is reserved for standard system headers _defined by

[2021-07-24 10:49] Mathadon commented on #1225
@YashwanthVellala I have pushed a change that removes the include. Can you try again?

[2021-07-26 04:56] Kanchn12345 commented on #1225
@Mathadon I tried simulating the AHU example using the latest changes made by you. I am still getting this error "10:22:47 Translation Error
[IDEAS.Buildings.Components.Interfaces.ZoneInterface: 96:5-101:36]: cardinality may only be used in the condition of an if-statement/equation or an assert."

Please look in to the issue.

Thanks

[2021-07-26 06:32] Mathadon commented on #1225
This piece of code seems to be the culprit:
[code]
These cardinality operator is used within an assert so I don't see what the problem is but possibly the translator detects `String(cardinality(ports[i]) - 1)` as being problematic. I revised this term. Can you try again?

[2021-07-26 14:55] casella commented on #1225
[Section 3.7.4.3](https://specification.modelica.org/maint/3.5/operators-and-expressions.html#cardinality-deprecated) of the specification says:

@Mathadon I guess you should remove any reference to cardinality in the message string with something like "too many".

[2021-07-26 14:58] Mathadon commented on #1225
@casella thanks! Upon re-reading the error it is indeed quite specific about what is wrong. I just overlooked the wording. I figured it would be something like that so my fix 44016c6 of before should work.

[2021-07-27 05:47] YashwanthVellala commented on #1225
@Mathadon any new release to check if the model works ? (1) AHU model and (2) the FMU cant be exported.

[2021-07-27 05:48] YashwanthVellala commented on #1225
@casella @Mathadon  the FMU is a larger issue ? I cant export any example model as an FMU. not with any of the existing commands mentioned in the documentation.

[2021-07-27 06:20] Mathadon commented on #1225
I removed the `ModelicaUtilities.h` include and that should solve the error that you experienced before. What new error are you getting?  I think we're nearly there..

[2021-07-27 09:05] casella commented on #1225
No idea. We are fixing issues one at time, please check now that the `ModelicaUtilities.h` file has been removed.

[2021-07-27 09:05] YashwanthVellala commented on #1225
ill try and let you know.

[2021-07-27 12:09] Kanchn12345 commented on #1225
Hi @Mathadon, I tried to run the AHU example model with the latest fix but I am still not able to run the AHU example model. Please find the error below:

Translation Error
[C:/OM117/OM64bit/OMCompiler/Compiler/NFFrontEnd/NFRangeIterator.mo: 238:11-239:61]: Internal error NFRangeIterator.hasNext got invalid range 1:{1, 1, 1}

Kindly look in to the issue.
Thanks

[2021-07-27 14:52] casella commented on #1225
Hmm, this seems closely related to the issue that we spotted early on about redeclared model arrays. Maybe the workaround didn't fully work.

@Kanchn12345, I am afraid we really need @perost at this point to look into the issue. Please come back to us after Aug. 16

[2021-08-03 05:33] YashwanthVellala commented on #1225
@casella @Mathadon quick question. I understand you guys use Dymola to build the models.
If i get Dymola, i should be able to use these IDEAS and BUILDINGS libraries with out any issues, we are seeing now ?

[2021-08-03 06:52] Mathadon commented on #1225
@YashwanthVellala that is correct but it would be good to get OM supported. Though, that will probably take a bit of time from both/three sides probably.

[2021-08-03 07:17] YashwanthVellala commented on #1225
@Mathadon i didn't get the 'good to get OM supported'. Sorry. My understanding is the IDEAS/BUILDINGS library, will work fine (as-is) in dymola as you people are using dymola to develop those. Ideally they should work with OpenModelica as well, but there could be small issues which this forum would support. correct me if i understood this wrongly.

My requirement is to use IDEAS/Buildings library

[2021-08-03 19:54] Mathadon commented on #1225
@YashwanthVellala that is correct. I mean that it would be great if we can get IDEAS to work with OpenModelica but it may require some development from our end and possibly from the OpenModelica developers. There are few (active) IDEAS/OpenModelica users so the issues that you are reporting are new to me and they take some time to solve.

IDEAS has been developed using Dymola and is therefore curr

[2021-08-04 07:16] YashwanthVellala commented on #1225
@Mathadon thanks for the clarification. I will continue to pursue OpenModelica for my development and keep reporting the issue here. Hopefully @perost will start to look into this issue after Aug. 16

[2021-08-16 06:07] YashwanthVellala commented on #1225
@perost Can you please check why the AHU example model wouldn't run in OpenModelica. It is throwing a bunch of errors. Please you please take a look ? @Mathadon can you please help with the summary of what you think the issue is ?

[2021-08-16 07:16] perost commented on #1225
I will try to take a look at it today.

[2021-08-16 07:17] YashwanthVellala commented on #1225
Thank you so much @perost

[2021-08-16 09:32] Mathadon commented on #1225
This is the error message.

Branch https://github.com/open-ideas/IDEAS/tree/1225_XiSat model IDEAS.Airflow.AHU.Examples.Adsolair58

:) Fyi I'm on holiday until the 30th. I'll try to keep an eye on my mail today for small fixes..

[2021-08-16 10:37] perost commented on #1225
I can't reproduce the `NFRangeIterator.hasNext` error when using the latest master of OM, I think that issue was fixed a while ago. I now get another issue:
[code]
This is a known issue, see [#6101](https://trac.openmodelica.org/OpenModelica/ticket/6101). The issue occurs when an array contains conditional components where some are deleted and some are not, like this:
[code]
The way we currently h

[2021-08-16 13:59] Mathadon commented on #1225
@perost I checked `MonoLayer.mo` and it does not seem to contain conditional components. Lines 47-58 are:

[code]
which is not an array.

The component `MonoLayer` itself is declared in an array in `IDEAS.Buildings.Components.BaseClasses.ConductiveHeatTransfer.MultiLayer` though.. So I presume that that is the problem. This is indeed hard to work around. Do you have any idea on a timing for a fix

[2021-08-16 14:09] perost commented on #1225
@Mathadon: Yes, the issue is not that `MonoLayer` contains an array but that it contains a conditional component and there's an array of `MonoLayer`. See my previous example, where `A` would correspond to `MonoLayer` and `x` would be `monLayAir`.

Estimating the time to fix bugs is always hard, but hopefully I'll be able to fix it this week.

[2021-08-16 20:21] Mathadon commented on #1225
Sounds great!

[2021-08-18 04:58] YashwanthVellala commented on #1225
thanks @perost and @Mathadon

[2021-08-18 16:02] YashwanthVellala commented on #1225
@Mathadon on a different note, could you help me with a baseline model that is a close representative to build an RTU model. I found a bunch of models, but confused which is a good starting point to develop an RTU model. thanks in advance !

[2021-08-19 09:59] perost commented on #1225
The conditional component issue should be fixed in OpenModelica/OpenModelica#7783. It was less work than expected to fix, but between catching up after vacation and getting my second vaccine shot it took a while anyway.

The model now gives a different error (I made a total model to make it easier for myself, so the file name and line number is wrong):
[code]
Unless `2 == 1` became true while I wa

[2021-08-19 11:23] YashwanthVellala commented on #1225
Thank you @perost

[2021-08-30 10:53] perost commented on #1225
The type mismatch issue should be fixed in OpenModelica/OpenModelica#7823.

The Adsolair58 model now flattens, but fails in the backend with:
{{{
Error: Too few equations, under-determined system. The model has 19190 equation(s) and 19305 variable(s).
Adsolair58.mo:7067:9-7067:42:writable] Error: sim.weaDat.weaBus.X_wEnv[1] = sim.weaDatBus.X_wEnv[1] has size 1 but 0 variables ()
}}}
`X_wEnv` is no

[2021-09-03 11:08] perost commented on #1225
With some more fixes in OMC the Adsolair58 model now simulates. It seems a couple of assertions trigger warnings during initialization though, so there might still be some issues either in the compilation or in the model itself. But the fixes should be in the latest nightly build, so you can check it out yourself and see if the simulation results look correct or not.

[2021-09-09 13:15] Mathadon commented on #1209
The weather file skips the row for time=3600 due to which `canRepeatWeatherFile=false`. I propose to duplicate the first row and to skip the last one to fix this.

[2021-09-15 13:46] jelgerjansen opened #1230 "Compatibility of IDEAS with MSL4.0.0"
To make the IDEAS library compatible with the MSL4.0.0, the conversion script `modelica://Modelica/Resources/Scripts/Conversion/ConvertModelica_from_3.2.3_to_4.0.0.mos` should be run.
Furthermore, to avoid warnings of the following type:

the extensions of all data bus connections from `Modelica.Icons.SignalBus` (which is only used for the icon), can be removed and the data bus icon should manuall

[2021-09-15 14:13] jelgerjansen commented on #1230
The changes that I described above were applied and pushed to the following branch: https://github.com/open-ideas/IDEAS/tree/issue1230_MSL4.0.0.

This branch can therefore be used in Dymola 2022 for the Modelica crash course held on the 24th of September 2021.

[2021-09-15 14:18] jelgerjansen commented on #1222
@kldjonge do you still encounter this problem? I faced the same error today (when running `IDEAS.Examples.Tutorial.Example1` in Dymola 2022 after running the conversion script to make IDEAS compatible with MSL version 4.0.0). After removing some files in my working directory (more specifically dsin.txt, dslog.txt, buildlog.txt and dymosim.exe), I was able to run the example and the error didn't oc

[2021-09-16 06:54] kldjonge commented on #1222
@jelgerjansen, yes I do. I just tried your trick and that didn't solve it either.

Couldn't it be related to the file extension?
Because I'm avoiding the problem now by not using de Brussels.mos wheaterfile. The old .TMY files work fine for me.

[2021-09-16 15:25] jelgerjansen commented on #1222
@kldjonge, I located the origin of the error. The weatherfile Brussels.mos contains a very long comment line (line 8, starting with '#COMMENTS 1, "IWEC- ...'). You can avoid the initialization error by removing this line from the weatherfile or by splitting it over multiple rows.

In the long term, @Mathadon will check if this error can be dealt with by adapting the C code called by the `SimInfoMa

[2021-09-16 15:38] Mathadon commented on #1222
This seems to be a duplicate of https://github.com/ibpsa/modelica-ibpsa/issues/1432

I.e. an update of IBPSA should solve this issue.

[2021-09-17 10:41] Mathadon commented on #894
Instructions to merge
Clean the repo of unstaged files.

[code]

add new files using `git add` and `git commit -a` to catch changed files.

Checkout the master branch, create a working branch and merge branch 894_merge.

Fix merge conflicts in reference results using `git checkout --ours` and `git add`, commit.

Run unit tests.

[2021-09-17 11:31] Mathadon commented on #1222
@jelgerjansen @kldjonge this branch should solve your problem: 894_merged
Can you verify?

[2021-09-20 07:12] kldjonge commented on #1222
@Mathadon, works for me now.

[2021-09-20 09:00] Mathadon commented on #1225
@perost thank you for looking into these issues! I will push forward with merging the fixes related to this branch.

[2021-09-20 15:26] Mathadon opened #1232 "excluding custom q50 value from default computation"
When mounting vents above windows, the q50 value increases a lot. However, the building n50 value is typically not much increased since (I presume) the blower door is made with the vents closed. Pushing in large q50 values causes the remaining q50 value to become negative, which causes an error.

I propose to add an option that excludes the custom q50 value from the computation.

[2021-09-20 15:45] kldjonge commented on #1232
The model currently includes only the infiltration of the window.  Bumping up the window q50 to model vents is thus not really a correct modelling approach I believe. The expert option should only be used with regards to infiltration.

I would suggest adding a separate flow model for the trickle vents. The flow characteristics of trickle vents are different  (e.g. different flow exponent) then fro

[2021-09-20 15:53] Mathadon commented on #1232
@kldjonge thanks for the suggestion! Do you by any chance have a source for the flow characteristic for such vents?

[2021-09-20 16:19] kldjonge commented on #1232
Renson e.g. provides this document with typical values at 2Pa
https://assets.renson100.com/epb/EPB-waarden.pdf

Also WTCB has some information about this.
https://www.wtcb.be/publicaties/infofiches/42.04/infofiche-42-04/

We typically model the airflow of such vents based on tabular data with a cubic spline fit (model for this is in the IBPSA airflow models).

Basically a P3 vent starts limiting t

[2021-09-20 16:28] kldjonge commented on #1232
Now that we are on the topic. Adding a third flow model option of an operable window similar as for the internal walls but with an optional real connector between 0 and 1 would also be a valuable addition.

Just something to think about if the trickle vents are embedded.

[2021-09-20 21:06] jelgerjansen commented on #1222
@Mathadon, also works for me now. I think we can close this issue.

[2021-09-21 06:16] #1222 closed

[2021-09-21 07:42] Mathadon commented on #1232
Based on data from `IBPSA.Airflow.Multizone.Examples.TrickleVent`:

<img width="780" alt="image" src="https://user-images.githubusercontent.com/5970879/134124347-ec0852c1-f6c8-4b92-b5bc-d559d81f0bc7.png">

[2021-09-21 09:02] kldjonge commented on #1232
@Mathadon, the mechanism that regulates the flow typically work only in 1 direction.

I wouldn't be surprised if some models in the newer generation also prevents revers flow, but I can't really confirm this as I never looked into it myself.

[2021-09-28 13:36] jelgerjansen commented on #1230
@kldjonge thank you for noticing this.

Be aware that the IDEAS branch linked to this issue was created before the latest merge with the IBPSA library (commit b49c1fa91bfdfd95c3dcd5e6a318655aedfc7fc6). Therefore, issue https://github.com/open-ideas/IDEAS/issues/1222 will still occur when you use this branch.

@Mathadon, do you have a suggestion on how to cope with the current and future changes in

[2021-09-28 21:12] Mathadon commented on #1230
@jelgerjansen best is to merge the master branch back into #1230 such that it can be merged at some point into the master without having to then merge a lot of old changes. Unless that branch is not intended to be used anymore of course!

[2021-09-29 11:12] jelgerjansen commented on #1230
@kldjonge do you use the latest Dymola (and MSL version) at Ghent University? At KU Leuven, I think the students will have to use the latest version of Dymola and MSL, so updating this branch with the changes in the master branch seems necessary.

I will look into the merge later this week.

[2021-09-29 12:51] kldjonge commented on #1230
@jelgerjansen, we will use the latest version indeed. For our exercise, the current branch is good for us for now as we ask our students to switch the weatherfile anyway at the start of the exercise.

But offcourse, keeping it updated is valuable.

If those students decide to use simulations for other courses or a MT, an updated IDEAS version makes sense.

[2021-10-14 12:42] #1171 closed

[2021-10-28 20:18] Mathadon opened #1239 "new weather file causes diffuse solar irradiation peaks"
There are diffuse solar irradiation peaks in the new weather file. Setting time zone to 2 fixes the problem.

[2021-10-29 11:16] Mathadon opened #1240 "solar blind model"
We currently do not have an option for modelling internal solar blinds. This could be added.

[2021-12-13 19:43] Mathadon opened #1241 "low G value glazing"
Add some examples.

[2021-12-13 19:52] #1241 closed

[2021-12-21 18:09] kldjonge opened #1244 "Two-port airflow with stack effect"
I'm working on the developing the full functionality for the two-port airflow option with stack-effect. My changes are currently on this branch:

https://github.com/kldjonge/IDEAS/tree/StackEffectAirflow

Could a branch of IDEAS be made so I can make a pull-request to that branch?

Anyway, I get an error ( eg. in model  IDEAS.Examples.TwinHouses.BuildingO5_Exp1_1Port ) and I don't  know how to han

[2021-12-21 18:42] Mathadon commented on #1244
Done!

https://github.com/open-ideas/IDEAS/tree/StackEffectAirflow

What is the error message?

[2022-01-03 09:27] Mathadon opened #1245 "Thermal properties of building materials"
See https://www.linkedin.com/posts/hichamjohra_thermal-properties-of-common-building-materials-activity-6879039810019835904-MATB

Thanks @icupeiro

[2022-01-24 17:49] kldjonge opened #1247 "RectangularZone combined with InterZonalAirFlow.TwoPorts"
While working on https://github.com/open-ideas/IDEAS/pull/1246, I noticed that the RectangularZone combined with interZonalAirFlowType=IDEAS.BoundaryConditions.Types.InterZonalAirFlow.TwoPorts doesn't work. I assumed it had something to do with my additions but apparently it is present in the current version of IDEAS as well.

[2022-03-09 13:49] Mathadon opened #1248 "weekly calendar"
This issue is to create an external model for loading weekly schedules from file. The schedule (a txt file) may look like:

[code]

Dashes '-' are used as wildcards and indicate that the last (rows are sorted internally) defined value should be reused.

@damienpicard @mwetter @dhblum @JavierArroyoBastida @cvering fyi

[2022-03-09 13:50] IsDols opened #1249 "error IDEAS v2.2.1 SimpleRoomFourElements example in OMEdite v3.2.3"
Hi everyone,

I am trying to run the IDEAS>ThermalZones>ReductedOrder>Examples>SimpleRoomFourElements in the OpenModelica enviroment.

![image](https://user-images.githubusercontent.com/101256024/157449650-07db87ca-35f3-483b-92a9-1bd46d654afc.png)

Though I keep getting the error that the system is over-detirmened when I run the simulation:

[2] 14:26:48 Symbolic Error
Too many equations, over-det

[2022-03-09 13:54] Mathadon commented on #1248
Working code here: https://github.com/open-ideas/IDEAS/pull/1250

[2022-03-09 13:55] Mathadon commented on #1248
`simulateModel("IDEAS.Utilities.IO.Files.WeeklyCalendar", startTime=-1000000, stopTime=1000000, numberOfIntervals=0, outputInterval=100, method="dassl", resultFile="WeeklyCalendar");
`
produces
<img width="717" alt="image" src="https://user-images.githubusercontent.com/5970879/157455666-fbe1ccb8-357f-4939-9c4c-130d427999b7.png">

[2022-03-09 13:59] Mathadon commented on #1249
@IsDols thanks for reporting this. OMEdit is currently being developed to support this model (since it this model is also part of the Buildings library too and LBL is working on support for Buildings). Make sure that you have the last version of OMEdit. Is that the case?

[2022-03-09 14:05] IsDols commented on #1249
@Mathadon Thank you for your quick response!
I am using the Modelica package complex 3.2.3 and not 4.0.0 because I got the error that this version is not yet compatible with the IDEAS library. Is this not correct you mean?

[2022-03-09 14:07] Mathadon commented on #1249
@IsDols I'm talking about OpenModelica itself. Perhaps you are using an old version of the software and a software update solves your problem?

[2022-03-09 14:15] IsDols commented on #1249
@Mathadon , I installed the latest stable version 1.18.1 and not the nightly build 1.19.0 I will give that a try. Thank you

[2022-03-09 14:53] Mathadon commented on #1248
Todo: merge/handle overlapping dates.

[2022-03-10 09:06] IsDols commented on #1249
I installed the IDEAS library and OpenModelica again and now it runs. Thank you

[2022-03-10 09:06] #1249 closed

[2022-03-10 09:07] Mathadon commented on #1249
great, thx for the update!

[2022-03-15 18:04] Mathadon commented on #1232
Merged. @kldjonge thanks for the feedback!

[2022-03-15 18:04] #1232 closed

[2022-03-21 14:44] Mathadon opened #1251 "drop latent heat gains when the medium has no water"
IDEAS always injects latent heat for occupants, even when the chosen air medium does not support water. This should be revised since conservation of energy is wrong in this case.

[2022-03-21 18:51] #1251 closed

[2022-04-01 08:42] IsDols opened #1253 "Errors running IDEAS>Buildings>Components>Examples in OMedit"
Hi,

I have a question about the (IDEAS>Buildings>Components>) Examples with a zone component. I keep getting errors while running them in the OMedit enviroment. Should it work in the OMedit enviroment, or does it only apply in Dymola? And if not is there a reason I get these errors?

Best,
Isa

Messager Browser for CavityWalls example:

[1] 10:30:01 Translation Warning
Ignoring unknown experiment

[2022-04-01 09:23] Mathadon commented on #1253
@IsDols this may be similar to #1249 . Are you using the latest version of OpenModelica?

[2022-04-01 09:28] Mathadon commented on #1253
@IsDols I have pushed a fix to the master branch for the error message at the bottom of your post.

[2022-04-01 10:30] IsDols commented on #1253
Thank you for the quick response! Yes I am using the latest version of OpenModelica, I am sorry I don`t completly know what you mean with the last message .

[2022-04-01 11:12] Mathadon commented on #1253
I mean this one:
[code]

@francescocasella are you at all able to comment on the error message reported above?
[code]
Thanks!

[2022-04-01 12:34] casella commented on #1253
Sure, but I need to know exactly which version of IDEAS is @IsDols using. The [source code on master](https://github.com/open-ideas/IDEAS/blob/b0873b1891df250c344ae6cf0deea3be02446311/IDEAS/Buildings/Components/Interfaces/PartialZone.mo#L254) at line 254 looks good to me (i.e., it has the proper `each `prefix to use a scalar value as a modifier for an array). @IsDols can you please check if it loo

[2022-04-01 12:35] casella commented on #1253
@Mathadon, maybe we should add the IDEAS library to our [testsuite](https://libraries.openmodelica.org/branches/master/), so we can test it with OpenModelica systematically and regularly. What do you think?

[2022-04-01 12:37] Mathadon commented on #1253
@casella perhaps I misunderstood. I thought that there are two unique errors but your comment seems to suggest that my bug fix may have solved the error message?
[code]
This is not an internal compiler error?

[2022-04-01 12:39] Mathadon opened #1254 "OM test suite"
@casella suggests to include IDEAS in the OpenModelica test suite https://github.com/open-ideas/IDEAS/issues/1253#issuecomment-1085845104 . I think this is a good idea and I hope to be able to make some time for this? Can you comment on what exactly we'd have to do for this?

[2022-04-01 12:42] IsDols commented on #1253
@casella I am using IDEAS v 2.2.1 and I am using the nightly build OMedit v 1.19.0 enviroment

[2022-04-01 12:44] casella commented on #1253
My bad, I added further entropy 😄

@Mathadon, if you recently added `each` to line 254, that solves the second issue. @IsDols, you should use the latest version on master of the library so it works on both Dymola and OpenModelica. Scalar modifiers applied to arrays are not legal Modelica code, but unfortunately Dymola accepts them, so we often have this problem.

As to the first error, I would sug

[2022-04-01 12:45] Mathadon commented on #1253
Yup, I solved it here :) [b0873b1](https://github.com/open-ideas/IDEAS/commit/b0873b1891df250c344ae6cf0deea3be02446311)

[2022-04-01 13:58] IsDols commented on #1253
Yes I do not have the first Translation warning anymore:

Only the ZoneInterface error is left:

 [6] 15:49:40 Translation Error
[IDEAS.Buildings.Components.Interfaces.ZoneInterface: 96:5-101:36]: [cardinality may only be used in the condition of an if-statement/equation or an assert.](omeditmessagesbrowser:///IDEAS.Buildings.Components.Interfaces.ZoneInterface?lineNumber=96)

should I open an iss

[2022-04-01 14:05] Mathadon commented on #1253
@IsDols I have pushed a fix to the master branch, can you check once more?

[2022-04-01 14:09] IsDols commented on #1253
@Mathadon Yes the error is gone and the simulation is executed, thank you!

[2022-04-01 14:10] Mathadon commented on #1253
@IsDols okay glad to have this out of the way, thanks for reporting!

[2022-04-01 14:10] #1253 closed

[2022-04-01 14:49] casella commented on #1254
Give me your consent and the URLs of the branch(es) that we need to test. That's it 😃

One typical option is to test the last stable release (mainly to check regressions caused by OpenModelica developments) and the master/main/development branch, to also get early feedback about regressions caused by changes to the library.

BTW, as soon as we see that the level of support of your library in OpenM

[2022-04-01 14:57] casella commented on #1253
That's not going to help here. Please read the description of cardinality in the latest released Modelica Language Specification, [Section 3.7.4.3](https://specification.modelica.org/maint/3.5/operators-and-expressions.html#cardinality-deprecated).

The policy of OpenModelica is to implement the Modelica Language standard. Other tools may accept code which is not valid according to the Standard, a

[2022-04-01 14:59] casella commented on #1253
EDIT: I see that apparently cardinality shows up within an assert. Are you 100% sure that is the cause of the error? In that case, this is an OpenModelica bug and it can be fixed easily.

[2022-04-01 17:25] Mathadon commented on #1254
I can't formally consent on behalf of KU Leuven but you have my personal consent :)

Let's stick to the master branch: https://github.com/open-ideas/IDEAS/tree/master We don't have a development branch.

Will we get notifications somehow if we break something?

Package manager sounds great :)

Thanks!

[2022-04-01 18:28] casella commented on #1254
We don't need a formal consent. The idea is that we want to test libraries for which the developers are willing to fix issues, so they don't make omc look bad for reasons that are not under our responsibility. Looks like it in this case 😄

It would be good if you also had some stable release versions in the long term. But we can start with that, no problem.

No, but you can check [this page](https

[2022-04-01 19:00] casella commented on #1254
@sjoelund, could you please add https://github.com/open-ideas/IDEAS to the package manager? For the time being, I would only add the master version and mark it as "experimental", because we need to fix some issues with the library to get that to work with OMC. When this is stabilized, @Mathadon can make a new release, and then we can also add that.

[2022-04-02 10:51] Mathadon commented on #1254
@casella I'm working on MSL 4.0 support atm. I can include OM fixes to make the release of IDEAS v3.

[2022-04-02 10:58] casella commented on #1254
Sounds good. As soon as we have the first test report, we can also look for other small issues.

[2022-04-05 19:11] Mathadon opened #1256 "bug in radiationconverter?"
`IDEAS.BoundaryConditions.SolarIrradiation.RadiationConvertor`
The computation of HDirNor seems wrong.

[2022-04-08 07:44] jelgerjansen commented on #1245
@Mathadon would you only like to update the records in IDEAS.Buildings.Data.Materials, or also add some materials to the list?

[2022-04-11 07:29] Mathadon commented on #1245
@jelgerjansen I think it would be good to have a list of many commonly used materials, without having a list that is too long. About 30 materials sounds fine though :)

[2022-04-11 16:50] #1248 closed

[2022-04-11 16:51] Mathadon commented on #1254
@casella I'm working on release 3.0.0, which includes MSL 4.0 support. If there is feedback from your end about OM support then it would be good if we can fix those issues before making the release. :)

[2022-04-11 22:51] casella commented on #1254
Sure. I thought IDEAS was already included in the [library testsuite](https://libraries.openmodelica.org/branches/master/), but it isn't. @sjoelund, why is this library included in the package manager, but not tested?

[2022-04-11 23:05] casella commented on #1254
@Mathadon I understand you are not too interested at running version 2.2.2 of IDEAS in OMC, and you are fine at focusing on getting the new 3.0.0 version (currently under development) to work. Is that correct?

[2022-04-12 05:12] Mathadon commented on #1254
That is correct:)

[2022-04-12 09:01] casella commented on #1254
OK, so for the time being we'll test the development version (master/HEAD), then, when you release 3.0.0, we'll also test that. I'll keep you posted.

[2022-04-26 16:16] Mathadon commented on #1254
@casella I see that IDEAS has been added but the test results are empty:
https://libraries.openmodelica.org/branches/master/IDEAS/IDEAS.html

Should I add something at the library side for getting the tests to run?

[2022-04-27 08:07] Mathadon opened #1257 "update paper list"
The list of papers is outdated. Will do an update for release 3.0.

[2022-04-27 16:58] Mathadon commented on #1247
@kldjonge I think we just didn't implement it properly the first time.

[2022-04-27 17:06] Mathadon commented on #1239
<img width="1274" alt="image" src="https://user-images.githubusercontent.com/5970879/165581038-a963eb40-2cac-4a7a-8820-549746061e81.png">

commit 1bf01dd2a3151ccec182edd78931353097cd3649

[2022-04-27 17:17] Mathadon commented on #1239
<img width="1272" alt="image" src="https://user-images.githubusercontent.com/5970879/165582898-5d3366ec-5976-4d2e-bc77-add0bbc33ec2.png">

Root cause seems to be the computation of `skyBrightness.skyBri`.

[2022-04-27 17:31] Mathadon commented on #1239
Relative air mass is correct: it peaks at 19:03 on march 26th.

[2022-04-27 17:33] Mathadon commented on #1209
See #1239 for a possible bug related to this weather file.

[2022-04-27 17:39] Mathadon commented on #1239
The problem seems to be that the diffuse solar irradiation is shifted by approximately 1 hour. The weather file is thus again wrong.

[2022-04-27 17:54] Mathadon commented on #1239
@mwetter I have run the script `java -jar ../bin/ConvertWeatherData.jar <filename>` to generate the weather file: https://github.com/open-ideas/IDEAS/blob/master/IDEAS/Resources/weatherdata/Brussels.mos  as instructed in `IDEAS.BoundaryConditions.WeatherData.ReaderTMY3`. This file seems to contain shifted diffuse solar irradiation data (the time zone seems to be off by one hour) and possibly other

[2022-04-27 18:09] Mathadon commented on #1239
To rule out further implementation error in IDEAS:

[code]
means sun rises before 15 April 08:00:00 and after 15 April 1970 21:00:00 while https://www.timeanddate.com/sun/belgium/brussels lists:
<img width="1199" alt="image" src="https://user-images.githubusercontent.com/5970879/165591569-63f9c208-4f8c-4acf-b12a-acf76c68d3da.png">

[2022-04-27 19:37] mwetter commented on #1239
@Mathadon : There is a time shift in parsing the solar radiation data because TMY3 lists the integrated solar radiation of the hour that precedes the time stamp. See also section "Time shift for solar radiation data" in IBPSA.BoundaryConditions.WeatherData.ReaderTMY3

I remember that we worked with @zuowangda quite extensively on that time shift and the smoothing of the solar radiation because TMY

[2022-04-28 08:16] Mathadon commented on #1239
@mwetter I am aware of the solar radiation integration but I figured that this should be fixed by the half hour time offset in the table reader.

After checking further it turns out that the `ConvertWeatherData.jar` in IDEAS v2.1.0 contained a bug that resulted in the wrong time stamps being generated in the mos file. I.e. time stamp 3600 was skipped and all subsequent time stamps were shifted by

[2022-04-28 09:21] #1239 closed

[2022-04-28 09:22] Mathadon commented on #1230
@jelgerjansen can this be closed?

[2022-04-28 09:22] Mathadon commented on #1227
continued in #1254

[2022-04-28 09:22] #1227 closed

[2022-04-28 09:26] #1134 closed

[2022-04-28 09:26] #979 closed

[2022-04-28 09:27] #771 closed

[2022-04-28 09:28] Mathadon commented on #1066
Continued within #1244

[2022-04-28 09:52] jelgerjansen commented on #1230
@Mathadon yes! This issue was created for the crash course of 2021 and to remind us to check the data bus extensions when updating IDEAS to MSL 4.0.0.

[2022-04-28 09:52] #1230 closed

[2022-04-28 09:57] jelgerjansen commented on #1190
@Mathadon I think this is related to issue #1245 (update of material records), so I'll try to look into this as soon as possible.

[2022-04-28 09:58] jelgerjansen commented on #1165
@Mathadon this issue is probably also related to the more general issue #1245?

[2022-04-28 09:59] Mathadon commented on #1165
Yup, can be continued within #1245

[2022-04-28 09:59] #1165 closed

[2022-04-28 10:00] Mathadon commented on #1190
It's not entirely related since the frame records do not depend on the material records.

[2022-04-28 11:30] jelgerjansen commented on #1190
I was planning to check all records, but we'll keep this as a separate issue then, since the others indeed refer to material properties

[2022-04-28 12:17] mwetter commented on #1239
@Mathadon : Is the `ConvertWeatherData.jar` in IDEAS v2.1.0 different from the one used in the IBPSA (and hence probably all other) libraries, or does the one in IBPSA also suffer from this bug?

[2022-04-28 14:28] Mathadon commented on #1239
@mwetter

[code]

It seems like you updated the jar in 2020:
[code]

This fixed the bug so the problem should be resolved in IBPSA.

[2022-04-28 14:55] mwetter commented on #1239
Thanks for the confirmation.

[2022-04-28 19:32] #1257 closed

[2022-04-28 21:10] dhblum opened #1260 "OM Simulation Error with IDEAS.Examples.IBPSA.SingleZoneResidentialHydronicHeatPump"
I'm hoping this helps with in getting IDEAS supported by OM, and will maybe show up in tests started with https://github.com/open-ideas/IDEAS/issues/1254.

OM Version: 1.20.0~dev-13-g85ae74c, Nightly build Ubuntu 18.04 x64
MSL Version: 4.0.0 distributed as OMEdit system library
IDEAS Version: master commit ad502f4f1d4160ddad6492036f3766362cedf49a
Model Path: IDEAS.Examples.IBPSA.SingleZoneResident

[2022-04-28 21:11] dhblum commented on #1260
And debug information from OMEdit (pretty useful, although I can't nail down the problem anymore):
<img width="1639" alt="Screen Shot 2022-04-28 at 5 11 08 PM" src="https://user-images.githubusercontent.com/19480999/165846596-883f1474-8c53-40a1-8e88-1081bdf4f05d.png">

[2022-05-02 11:37] Mathadon commented on #1260
@dhblum I pushed a potential fix. A temperature sensor was connected backwards. If this fixes the problem it indicates a bug in OpenModelica though since the model had allowFlowReversal=true and therefore the port connection order shouldn't matter.

[2022-05-02 14:27] dhblum commented on #1260
Thanks @Mathadon this indeed allows the model to simulate in OMEdit.  However, a new problem: the results don't match those from Dymola.  I simulated both with cvode tol 1e-6 for 10 days.  Outputs are 300s interval with no events stored.  Some key variables plotted below (heat pump power, zone temperature, outside dry bulb temperature).  Haven't looked into any further, just reporting for now.
![r

[2022-05-02 16:47] dhblum commented on #1260
Regarding the backwards temp sensor, a simple model like this still simulates ok (with allowFlowReversal=true):
<img width="565" alt="Screen Shot 2022-05-02 at 12 44 05 PM" src="https://user-images.githubusercontent.com/19480999/166289392-55730895-09e0-4e52-b908-572e05191e22.png">

[2022-05-02 17:55] Mathadon commented on #1260
@dhblum remarkable results.. I'm getting (visually) the same results for dymola.

My guess is that the temperature set point is computed incorrectly since this strongly affects the control signal in dymola:
<img width="1265" alt="image" src="https://user-images.githubusercontent.com/5970879/166299359-beabc729-c18c-4e83-b83d-a6de2a7f1f71.png">

The set point depends on the CalendarTime block, which

[2022-05-02 19:02] dhblum commented on #1260
Good point looking at heating set point, indeed it is not being set correctly for the PI controller for the heat pump.  The problem is solved if the following changes are made:

- Setting the expression in ``TSetHea`` to ``if yOcc.y > 0.5 then TSetHeaOcc else TSetHeaUno`` instead of ``if yOcc.y > 0 then TSetHeaOcc else TSetHeaUno``
- Setting ``const.k=0.5`` instead of ``const.k=0``.

Looks like ``

[2022-05-03 09:43] #1260 closed

[2022-05-03 12:18] Mathadon opened #1263 "release 3.0"
Time for the actual release:

 - [x] revise release dates
 - [x] run unit tests
 - [x]  revise tag
 - [x] create release in github

[2022-05-03 13:35] #1263 closed

[2022-05-05 01:52] hubertus65 opened #1265 "Illegal Modelica in Example model BuildingN2_Exp2"
I tested your new IDEAS 3.0.0 Library in Modelon Impact and got a few compilation errors that I think are flagged correctly:
Error at line 674, column 11, in model 'IDEAS.Examples.TwinHouses.BaseClasses.Structures.TwinhouseN2',
In component struct:
    Connecting to an instance of a non-connector type is not allowed
Error at line 680, column 11, in model 'IDEAS.Examples.TwinHouses.BaseClasses.Stru

[2022-05-05 01:54] hubertus65 commented on #1265
You need to make your sensor a real "model" using the same connector as the building zone then I think you can still autogenerate the models in basically the same way.

[2022-05-05 06:18] #1265 closed

[2022-05-05 06:20] Mathadon commented on #1265
@hubertus65 thanks for reporting! This has been fixed through #1266. Feel free to let us know in case there are more problems. If Modelon impact supports IDEAS (i.e. if IDEAS follows the Modelica spec) then we can add it to the list of supported tools in the README.md.

[2022-05-05 09:29] jelgerjansen opened #1267 "Update constructions"
Some constructions within `IDEAS.Buildings.Data.Constructions` should be updated and some seem to be obsolete.

[2022-05-05 09:37] jelgerjansen commented on #1267
@Mathadon there are two different floors which can be used in combination with a floor heating system (`FloorOnGround` and `InsulatedFloorHeating`), but the latter seems to be a floor not suitable for a floor heating system (barely insulated and furthermore `locGain` seems to be wrong). I propose we update the documentation for `FloorOnGround` indicating this is not suitable in combination with a

[2022-05-13 09:15] Mathadon commented on #552
Posted another reminder.

[2022-05-13 09:17] Mathadon commented on #738
Closing this since there is no active work on it and the impact on model results is probably minor anyway.

[2022-05-13 09:17] #738 closed

[2022-05-13 09:19] Mathadon commented on #772
Closing this since there is no active development on this.

[2022-05-13 09:19] #772 closed

[2022-05-13 09:20] Mathadon commented on #861
Better to just throw a warning instead of removing the layer, since adding the layer can be intentional.

[2022-05-13 09:22] Mathadon commented on #1112
Closing this since we have no active unit tests.

[2022-05-13 09:22] #1112 closed

[2022-05-16 14:30] Mathadon opened #1270 "screen thermal effect"
Most screens have an air layer behind them that heats up and heat is able to transfer through the window into the zone. This is not modelled and causes an underestimation of the indirect solar heat gains.

[2022-05-16 21:23] Mathadon commented on #1190
closed through #1190

[2022-05-16 21:23] #1190 closed

[2022-05-17 14:51] casella commented on #1254
I'm checking with @sjoelund, I'll keep you posted.

[2022-05-18 12:51] sjoelund commented on #1254
Because IDEAS is not installed: https://github.com/OpenModelica/OpenModelicaLibraryTesting/blob/master/.CI/installLibraries.mos

[2022-05-18 13:29] casella commented on #1254
Aha, I thought this was taken care of automatically by changing [conf.json](https://github.com/OpenModelica/OpenModelicaLibraryTesting/blob/master/configs/conf.json).

OK, let me take care of that, and also update the documentation 😄

[2022-05-19 11:40] Mathadon opened #1271 "avoid warnings in Dymola2022"
@jelgerjansen reports:
![image001](https://user-images.githubusercontent.com/5970879/169284907-fc463112-0da3-4c18-b734-55dd0c2f5b96.png)
![image002](https://user-images.githubusercontent.com/5970879/169284917-b406c8f5-e356-4ebe-bd78-729992cb18d9.png)

could be removed.

[2022-05-19 12:15] Mathadon opened #1272 "larger than unity view factor"
Simple geometries can lead to larger than unity view factors. The existing assert should be extended to guard against this.

[2022-05-19 12:34] Mathadon commented on #1272
Use `(max(F1)<FMax*0.9 and computeCarroll) or (not computeCarroll and max(F2)<=1) or simVieFac`

[2022-05-23 15:36] casella commented on #1254
@sjoelund I updated the [documentation](https://github.com/OpenModelica/OpenModelicaLibraryTesting/blob/master/conf-howto.md) of the library testing configuration, I hope it is now complete. At least it worked in the case of IDEAS 😄

[2022-05-23 15:49] casella commented on #1254
@Mathadon we finally managed to get IDEAS to test. As agreed, we test the last released version (currently 3.0.0), to look for OMC regressions, and the latest version on the master branch, to look for library regressions.

The reports with the results of the testing with the standard compiler configurations are here:
- last released version: https://libraries.openmodelica.org/branches/master/IDEAS

[2022-05-23 18:25] casella commented on #1254
Getting to the specifics, the results with the [released version](https://libraries.openmodelica.org/branches/master/IDEAS/IDEAS.html) are not bad, 87% of the models simulate successfully.
![immagine](https://user-images.githubusercontent.com/4233148/169858422-34888209-e05e-4dd6-ab08-b2f405b48434.png)

BTW, we are releasing OMC 1.19.0 anytime soon (we are completing the beta testing version now);

[2022-05-23 18:36] casella opened #1273 "Missing 'each' prefix in array modifier"
There are several models in IDEAS that fail because of illegal use of scalar modifiers for arrays. Other tools accept that, but OMC doesn't, because it's not in the specification and can potentially lead to ambiguity

See, e.g. [IDEAS.Buildings.Components.Examples.BeamRadiationOnFloor](https://libraries.openmodelica.org/branches/master/IDEAS_dev/files/IDEAS_dev_IDEAS.Buildings.Components.Examples.

[2022-05-23 18:38] Mathadon commented on #1273
@casella I'll have a look at it! The OMC errors seem quite self-explanatory so I'll try to get most of the problems out of the way based on the test report.

[2022-05-23 20:17] #1273 closed

[2022-05-23 21:13] Mathadon commented on #1254
@casella I fixed some (but not all) issues on our side through 0519fd2 . However, it seems that there are some bugs in OM too:

https://libraries.openmodelica.org/branches/master/IDEAS_dev/files/IDEAS_dev_IDEAS.Buildings.Components.Examples.BuildingShadeExample.err
[code]
for code
[code]
seems an incorrect error message since the line of code does contain 'each'.

Similar error
[code]
for this lin

[2022-05-23 21:32] casella commented on #1273
OK. Given you merged your PR #1274, you should already see some improvement in tomorrow's report for the development version.

I guess most of the issues are due to technically illegal code:
- access to protected element: this is fixed by making it public, if you don't want to see it in the result file you can use the Hide annotation
- more missing 'each' in modifiers
- using stuff from partial pa

[2022-05-24 08:31] Mathadon commented on #1273
Indeed, the most complex stuff from a compiler point of view (nested expandable or complex connectors in inner/outer models) seems to be supported since the main example models run fine.

[2022-05-24 18:14] casella commented on #1254
@Mathadon, 8 more successful simulations through the pipeline: https://libraries.openmodelica.org/branches/history/master/2022-05-23%2022:44:41..2022-05-24%2011:46:14.html

[2022-05-26 07:12] Mathadon commented on #1254
@casella the following code snippet causes an error:

[code]
https://libraries.openmodelica.org/branches/master/IDEAS_dev/files/IDEAS_dev_IDEAS.Airflow.AHU.Examples.Adsolair58.err

[code]

note that 'win' is an array of 2 components:
[code]
As far as I can tell this is legal Modelica code?

[2022-05-26 07:39] casella commented on #1254
@Mathadon, see [OpenModelica #9027](url).

[2022-05-30 12:15] casella commented on #1254
Another [20+ models running](https://libraries.openmodelica.org/branches/history/master/2022-05-26%2011:34:09..2022-05-28%2002:12:27.html).

[2022-05-30 19:11] casella commented on #1254
Another 3+ [here](https://libraries.openmodelica.org/branches/history/master/2022-05-29%2022:30:42..2022-05-30%2011:35:57.html).

[2022-05-30 20:05] Mathadon commented on #1254
Great!
my laptop died today so I might not have the means to follow this up as much anymore over the coming days. But I have the impression that the major issues on our end have been solved in the meantime m.:)

[2022-05-30 20:14] casella commented on #1254
Sorry to hear that. RIP.

Yeah. As soon as @perost gets a grip on #9027, there will be a few more running.

[2022-05-30 20:19] casella opened #1284 "readMatrix is not standard Modelica"
All the validation models in the LIDEAS sub-package use the `readMatrix` function. This is a built-in Dymola function; it's nice to use, but unfortunately it is not portable to other tools, since it is not standardized. Hence, those models, e.g. [IDEAS.LIDEAS.Validation.Case900ValidationLinear](https://libraries.openmodelica.org/branches/master/IDEAS_dev/files/IDEAS_dev_IDEAS.LIDEAS.Validation.Cas

[2022-05-30 20:29] casella opened #1285 "Access to protected variable in ViewFactorVerification test model"
Model [IDEAS.Buildings.Validation.Tests.ViewFactorVerification](https://libraries.openmodelica.org/branches/master/IDEAS_dev/files/IDEAS_dev_IDEAS.Buildings.Validation.Tests.ViewFactorVerification.err) fails with this error:
[code]
In fact, in [this line of code](https://github.com/open-ideas/IDEAS/blob/be003623c064f8d9889f6b1783e252959e2bca1b/IDEAS/Buildings/Validation/Tests/ViewFactorVerificatio

[2022-05-30 20:30] casella commented on #1254
There are a few small things you can fix on you side upon resurrection of your laptop, e.g. #1284 and #1285. No big deal.

[2022-05-30 20:52] casella commented on #1254
I'm also trying to improve the situation with testing of larger models, see #9038.

[2022-06-02 07:06] #1284 closed

[2022-06-02 07:06] #1285 closed

[2022-06-02 07:59] jelgerjansen opened #1287 "Review DHW tap model and add typical DHW tap profiles"
First, the DHW tap model should be reviewed and a quantification of DHW discomfort should be added (when the supply temperature to the tap is lower than the minimum expected temperature).
Second, one or multiple DHW tap profiles should be added to the IDEAS library (including documentation).

[2022-06-02 13:45] casella commented on #1254
@Mathadon have you tried profiling the model in OpenModelica? That said, I'd say the performance is comparable, which is of course good, considering that Dymola is a commercial tool which with 15+ more years of development than OMC 😃

In my experience the Ryzen is significantly faster than the Xeon. This may also be important. The best machines to carry out this kind of duty are gamer PCs with fas

[2022-06-02 13:59] casella commented on #1254
Another 2 extra models [simulate in IDEAS_dev](https://libraries.openmodelica.org/branches/history/master/2022-05-31%2011:23:14..2022-06-02%2002:19:55.html), more coming soon with your latest commit #1286.

Current simulation success ratio is 614/642 = 95.6%. As soon as we manage to give a bit more memory for testing, 15 more models in the testuite should work, bringing the success ratio over 98%.

[2022-06-02 15:08] sjoelund commented on #1254
And in Ryzen's case also with fast memory (which we don't have in this machine). Still, the machine should be 70-80% faster than a Xeon for single-thread workloads. It's in the right ballpark for performance but I suspect we could do better.

[2022-06-02 15:39] casella commented on #1254
Aha, I guess you should, eventually 😄. Anyway, I guess having automated tests of the entire library is good already.

Please note that the test infrastructure allocates only one thread to each model, to maximise parallelism. Simulation is essentially a single-threaded task, so those figures are meaningful for real-life use; on the contrary, the whole code generation process can be carried out with

[2022-06-03 08:07] Mathadon commented on #1254
@casella the IDEAS.LIDEAS models access all state variables of the model, many of which are protected. I do not intend to unprotect all those state variables and therefore I will not fix this 'bug' for now. I could remove the experiment annotation but then the Buildingspy code checker will complain about that. So those models will not pass for now.

[2022-06-03 08:12] Mathadon commented on #1254
A few years ago I looked into OM and noticed that it codegens a C function for each equation. This adds a lot of overhead for function calls. Is this still the case?

[2022-06-03 08:28] sjoelund commented on #1254
I still does, yes. C compilation speed scales with the size of a function. In the past everything was in a single file, but this means all the system RAM and many hours are consumed to compile the model. Simple equations should probably be merged to find some middle ground.

[2022-06-03 08:36] Mathadon commented on #1254
Isn't simulation speed more important than compilation speed? I would group equations in groups of maximum a few hundreds and codegen separate functions for those. But perhaps you need the separate function calls for the debugger and/or sparse evaluation?

[2022-06-03 13:13] casella commented on #1254
@Mathadon for the last 10 years the main goal of OpenModelica has been to expand the coverage ratio of existing libraries, until basically we could run all existing open-source valid Modelica models successfully. As you can see from [this report](https://libraries.openmodelica.org/branches/overview.html), of the 13595 models we try to simulate in our library testsuite, the number of successful sim

[2022-06-03 13:19] casella commented on #1254
The reason why `protected` sections was introduced in Modelica is precisely to prevent accessing the variables of models. I'm not sure why you declare those variables protected if you want to access them from the outside. Is it because you are re-using models that were originally conceived for other purposes and you don't want to waste time editing them?

If that is the case, this seems to me a co

[2022-06-03 13:20] casella commented on #1254
@sjoelund can't those functions be inlined by optimized C compilers? In that case, the overhead would just be at compile time, not at run time.

[2022-06-03 15:41] Mathadon commented on #1254
The reason why I'm protected the sub-models: to avoid generating too large result files, by hiding the most interior components from the end user.

The reason why I want to use the variables in those models: it's a verification model where a linearised (state space) model is compared to its original. And I want to access the state values to make sure that the initial state is identical. So I need

[2022-06-03 17:00] Mathadon commented on #1254
Ok, good point :) But still, computation time impact is there!

Consider
[code]
and
[code]
results in

[code]
So slightly faster compilation but almost 2x slower execution.

This example is even worse:
[code]

[code]
more than 2x slower.

I can see the reason for that but it also has a significant impact.

Simulation of the model `IDEAS.Examples.PPD12.VentilationRBC` using O0, O1 and O2:
[code]

M

[2022-06-03 21:42] casella commented on #1254
OK. Let's go for it, see OpenModelica/OpenModelica#9059.

[2022-06-04 05:23] sjoelund commented on #1254
Is the HideResult annotation not enough in this case?

[2022-06-04 14:53] casella commented on #1254
@sjoelund it is, but you would have to apply it on each and every component.

[2022-06-25 12:05] Mathadon commented on #1254
@casella new laptop arrived and I've worked through my backlog! I have the impression that the major Modelica spec compliance issues for IDEAS have been fixed and that the remaining issues are mostly related to OM. I propose to keep this issue open to track the progress of the compatibility but I presume that it's now a matter of prioritising the development on your end?

Thanks!

[2022-06-25 12:06] Mathadon commented on #1254
That indeed would be a bit of a hassle. :)

[2022-06-26 16:48] casella commented on #1254
@Mathadon I agree, though I still see a couple minor issues at the library level:
- [IDEAS.Buildings.Components.Examples.RectangularZoneExternalSurfaces](https://libraries.openmodelica.org/branches/master/IDEAS_dev/files/IDEAS_dev_IDEAS.Buildings.Components.Examples.RectangularZoneExternalSurfaces.err) has a missing `each` somewhere
- [IDEAS.LIDEAS.Examples.BaseClasses.SimInfoManagerInputs](https:

[2022-07-14 09:48] Mathadon commented on #1254
Some more fixed pushed here https://github.com/open-ideas/IDEAS/commit/974f7f6e385ffc4141928aac0be463d07713b5e4

[2022-07-16 11:18] Mathadon commented on #1254
More fixes pushed: 73ea45f80bfa26b8d7ef1671f7082fc430a12b7c

[2022-07-19 09:22] Mathadon opened #1289 "screen equations"
Direct solar irradiation is converted into diffuse solar irradiation? Does this make sense? Probably not since screens are typically perforated and therefore the light stays direct (except for diffraction).

[code]

[2022-07-19 09:25] Mathadon opened #1290 "screen limiter"
Shouldn't we use an assert instead of this:

[code]
?

[2022-07-20 08:54] Mathadon opened #1291 "enable cavity airflow when using OnePorts"
The OnePorts fluid model does not support natural convection due to buoyancy, only by forced ventilation, while the thermal model does give a first order implementation. So the thermal model can be used to incorporate this, even when fluid flow is active.

[2022-07-24 13:57] Mathadon opened #1292 "initial ground temperature in SlabOnGround"
[code]

The default start temperature `TeAvg` can be too low for some cases. Should be revised.

[2022-08-01 12:15] Mathadon opened #1293 "add staircase in PPD12"

[2022-08-01 12:29] Mathadon opened #1294 "propagate cavity in rectangularzonetemplate"

[2022-08-02 06:42] Mathadon commented on #1294
This was already implemented for the main orientations but not for ceilings/floors.

[2022-08-02 07:06] Mathadon commented on #1291
@kldjonge this is relevant for your PR

[2022-08-02 10:06] #1291 closed

[2022-08-02 10:06] #1293 closed

[2022-08-09 17:25] #1270 closed, assigned to Mathadon

[2022-08-09 17:29] #1245 closed

[2022-09-14 10:09] AbdellaAlzade opened #1298 "Material properties as a variable"
I was trying to set some materials properties as variables using if statement but I kept getting the error:

'Current version of the Modelica translator can only handle conditional components with fixed condition.'
But component MultiLayer.monLay[1].monLayDyn had non-fixed condition if dynamicLayer and realLayer and not airLayer.'
All variables used in condition of conditonal declaration must be d

[2022-09-14 12:13] Mathadon commented on #1298
Probably :) Can you include the code that you are trying to use?

[2022-09-15 07:57] AbdellaAlzade commented on #1298
Thank you for your swift reply :)
I attached the file below. As I duplicated the IDEAS package as a trial to modify some components, you will see that the path of IDEAS library components starts with 'IDEAS_Sunovate' instead of only 'IDEAS'.
[PVThermalBus.zip](https://github.com/open-ideas/IDEAS/files/9573084/PVThermalBus.zip)

[2022-09-15 12:44] Mathadon commented on #1298
[code]

[code]

T_pig is not a parameter. So you are assigning the value of a parameter based on a real variable, which is not possible. Parameters values have to stay constant throughout the simulation, which is not the case now since T_pig can change and therefore the parameter values too.

[2022-09-15 14:12] AbdellaAlzade commented on #1298
I understand now, thank you.
My aim is to model a pigment layer that changes some of its properties depending on the temperature that comes from the sensor. Is there any way to do that using IDEAS?

[2022-09-15 14:18] Mathadon commented on #1298
I'm not sure what a pigment layer is, but what you describe (change a parameter based on some real variable) is not possible in the Modelica spec. And we use parameters for setting thermal properties. So the only way to do it is to reimplement the component models yourself. Hope that helps!

[2022-10-12 09:32] Mathadon opened #1299 "Default thermal connections in DoubleShading are missing"
Causes errors when extending `DoubleShading`

[2022-10-16 08:15] Mathadon opened #1301 "support for transparent layers in walls"
In some cases walls can have an exterior glass pane. This could be considered when computing where to inject the solar heat.

[2022-10-20 14:50] AbdellaAlzade opened #1302 "Variable irradiance input cause error - window component"
Hi,

I am trying to slightly modify the window component in order to make it filter the irradiance based on one of the window layers temperature by an 'if statement' included in the component named 'pigment' that appears in the attached photo.

<img width="621" alt="Capture" src="https://user-images.githubusercontent.com/51786789/196978649-62d2cc1f-3133-4e47-9cb7-3632e4c585c8.PNG">

As I am simula

[2022-10-21 09:56] Mathadon commented on #1302
The problem could be that `Irr_f` affects `Tenv` and vice versa, this causes an algebraic loop. It sounds like the algebraic loop has no solution, i.e. you equations are not making sense. It's like asking a computer to compute the square root of a negative number, which does not have a (real) solution.

[2022-10-24 15:00] Mathadon opened #1303 "vliet data weather file"
This issue is to add the vliet data weather file.

[2022-10-24 15:02] Mathadon commented on #1303
@jelgerjansen can you document here shortly how this file was generated?

[2022-10-24 15:53] jelgerjansen commented on #1303
The following measurements data were available from the Vliet test building (KU Leuven Laboratory of Building Pysics, located in Leuven, Belgium) and added directly into the TMY file:
- Dry bulb temperature
- Relative humidity
- Global horizontal irradiance
- Direct normal radiation
- Diffuse horizontal radiation
- Wind direction
- Wind speed (at 9 metres)

The dew-point temperature mentioned in t

[2022-10-24 16:47] Mathadon opened #1305 "add Belpex price data file"

[2022-10-24 18:00] Mathadon commented on #1305
<img width="800" alt="image" src="https://user-images.githubusercontent.com/5970879/197594288-4f669381-2152-4315-bd66-f2a5fddbb1d6.png">

[2022-10-25 08:38] #1305 closed

[2022-10-25 09:12] #1299 closed

[2022-10-31 11:44] Mathadon commented on #1305
Source: http://my.elexys.be/MarketInformation/SpotBelpex.aspx

[2022-11-11 19:55] Mathadon commented on #1303
@jelgerjansen between time=3218400  and time=3420000 the wind _speed_ is 999 m/s. For the Vliet data. I thought you said that this was for the wind _direction_. We should probably revise this =) I propose setting it to 2m/s since it seems about an average value.

[2022-11-14 08:26] jelgerjansen commented on #1303
According to the [EnergyPlus Weather File (EPW) Data Dictionary](https://bigladdersoftware.com/epx/docs/22-1/auxiliary-programs/energyplus-weather-file-epw-data-dictionary.html#field-wind-speed), both wind direction and wind speed are set to 999 if the data is missing. I thought this was somehow taken into account somehow in the `simInfoManager` or `ReaderTMY3` components.

I agree with a wind spe

[2022-11-14 13:18] #1303 closed