[2014-02-18 14:55] rubenbaetens opened #2 "Unittesting in Dymola, OpenModelica and JModelica"
Add unit tests and scripts to test the examples with OpenModelica and JModelica.

[2014-02-18 15:05] rubenbaetens opened #3 "Annex 60 conversion"
Convert the fluid-part of the IDEAS library based on the IEA Annex60 Baseclasses.

[2014-02-28 10:08] damienpicard opened #5 "issueEmbeddedEmissionSystem"
In IDEAS.Interfaces.BaseClasses.HeatingSystem there is a boolean for heatPortEmb. The boolean name is floorHeating, which is not logical --> to change to embEmi "embedded emission system"

[2014-03-10 16:18] damienpicard opened #7 "heatPump model structure"
Revised current implementation to avoid the used of HeatSource.
Generalize the structure to be able to use easily the performance curve of the different Daikin HP.

[2014-03-10 16:25] damienpicard opened #8 "Embedded pipe implementation"
Revise implementation of EmbeddedPipe:
1) naming of parameter Boolean floorHeating
2) cleaning of model
3) verification with the norm
4) Allow TABS splitsing for linear approximation of EMPA
5) Do we keep TABS model or only embedded?

[2014-03-10 16:31] damienpicard opened #9 "Restructuration of packages"
1) Move IDEAS.Thermal.Components.BaseClasses.ThreeWayValveMotor and .ThreeWayValveeSwitch to Distribution package
2) Redistribute the component of IDEAS.Thermal.Components.BaseClasses into the right packages.

[2014-03-10 16:46] damienpicard opened #10 "HeatingSystems"
Review the partial class. Remove obsolete parameters and variables.

[2014-03-11 09:44] Mathadon opened #11 "Version"
Do we need to change version number? -> ie to 0.1
Annex60 version will not be backwards-compatible with the current version.

[2014-03-11 12:00] Mathadon opened #12 "Using the package manager impact"
We need to look into whether we will use the package manager impact.
https://www.modelica.org/events/modelica2014/proceedings/html/abstracts/abstract_58.pdf
This would allow easy integration with the Annex60 library. However, a different strategy was decided on during the Annex60 meeting. To be discussed with Michael Wetter.

[2014-03-11 16:10] Mathadon opened #13 "Remove Heatsource component from Production.IdealHeater etc"
IDEAS.Thermal.Components.Production.IdealHeater contains a component 'heatsource' that computes the required heat flow. In my opinion this is a non-intuitive approach. Also it is not directly compatible with the Annex60 library as it requires a temperature (not enthalpy). To reduce model complexity I propose to integrate the 'heatsource' component functionality directly in the IdealHeater componen

[2014-03-18 15:20] damienpicard opened #14 "numeric Jacobian from the IDEAS.Buildings"
The simulation of buildings causes a Jacobian evaluation.

[2014-03-18 16:12] #12 closed, assigned to nobody

[2014-03-18 16:33] #5 closed, assigned to nobody

[2014-03-25 13:02] rubenbaetens opened #15 "TMY3 climate reader"
Include the TMY3 climate reader from [LBNL](http://simulationresearch.lbl.gov/modelica/releases/v1.4_build1/help/Buildings_BoundaryConditions_WeatherData.html).

[2014-04-01 10:21] #11 closed, assigned to rubenbaetens

[2014-04-01 15:34] damienpicard opened #16 "EmbeddedPipe: numerical problem"
The embeddedPipe example compiles. It also simulates if simulation time = 1 s and if the heatedPipe uses as parameter: dynamics/dynamicBalance = false. But for higher simulation time or for dynamicBalance = true, dymola gives following error message:

Integration started at T = 0 using integration method DASSL
(DAE multi-step solver (dassl/dasslrt of Petzold modified by Dynasim))
ERROR: Failed to

[2014-04-01 17:42] rubenbaetens opened #17 "Differentiable performancemaps."
Michael noted in #40 of the A60 github-page to replace `Modelica.Math.Vectors.interpolate` with a function that is differentiable such as `Annex60.Utilities.Math.Functions.cubicHermiteLinearExtrapolation`. Doing the same in e.g. the performance maps for heatpumps might improve model stability.

[2014-04-02 09:50] Mathadon opened #18 "Bad behavior of CombiTable2D in Heatpump"
I'm having an issue with the validation of the heat pump:

![vitocal300g29elpowervalidationresult](https://cloud.githubusercontent.com/assets/5970879/2589431/0beae7c2-ba4c-11e3-8fe9-0bbb6f9f0157.png)

There is a sudden dip in the consumed power. This dip is caused by the working point being on the edge of the validity field of the CombiTable2D. When decreasing the inlet temperature of the heat pum

[2014-04-02 14:33] damienpicard opened #19 "Singularities with pumps"
I experienced some problems with pumps when I couple the input signal to a step input. The step input causes singularities in the time derivatives of the model. This can be solved by adding a second-order filter to the input.

[2014-04-02 14:35] damienpicard opened #20 "Singularities with pipeHeatPort"
I get a similar problem as #19 when I couple a pipeHeatPort to a prescribedTemperature which changes on a discrete way.

[2014-04-08 14:10] damienpicard opened #21 "Initial temperature for building (component)"
A propagated variable TStart would be convenient to be able to set the building (and its components) to a given temperature.

In a model, I did it manually. I got, however, a error message when the initial temperature of the internal walls equal the initial temperature of the room:

(twoZoneBuilding.building.corridor.surfCon[1].Q_flow) / (twoZoneBuilding.building.cor_north_wall.intCon_a.dT) = (0)

[2014-04-14 08:54] rubenbaetens opened #23 "Delete references to the Buildings-library"
I noted some of the models in the Fluid code in Annex 60 branch of the IDEAS library refer to the LBNL' Buildings library (e.g. to their radiosity-model) which is very inconvenient. I suggest to delete them all and see how we can incorporate teh required code snippets in IDEAS itself.

[2014-04-16 10:03] rubenbaetens opened #26 "Global Numerical error for IDEAS with DASSL and LSodar"
I computed the global numerical error for the ohmic losses of a feeder of five dwellings with heat pumps (ie. the ohmic losses are choosen as this is where both the electrical and thermal results are combined). The results for Dassl (red) and LSodar (blue) for a equidistant (full) and non-equidistant (dotted) grid are as follows:

![error_vs_tolerance](https://cloud.githubusercontent.com/assets/12

[2014-04-18 12:40] damienpicard opened #27 "[Add] mixed air in the building"

[2014-04-18 12:44] Mathadon opened #28 "Radiator implementation"
Radiator implementation results are inconsistent with the previous implementation.

Change model so that nominal working points are obtained.
Add unit test for this.

[2014-04-18 12:59] Mathadon opened #29 "Stratifiedtank implementation"
Large deviations compared to old ideas model. Need to debug

[2014-04-18 12:59] Mathadon opened #30 "DHW implementation"
Compare implementation results with Roel's model and change

[2014-04-18 13:05] Mathadon opened #31 "Code and specs documentation"
Contact sysi's for helping with documentation and unit tests.

[2014-04-18 13:09] #23 closed, assigned to nobody

[2014-04-18 13:34] #19 closed, assigned to nobody

[2014-04-18 13:35] #14 closed, assigned to rubenbaetens

[2014-04-18 13:35] #20 closed, assigned to nobody

[2014-04-18 13:43] #17 closed, assigned to Mathadon

[2014-04-18 14:08] #9 closed, assigned to damienpicard

[2014-04-18 14:11] #7 closed, assigned to Mathadon

[2014-04-20 17:15] #28 closed, assigned to Mathadon

[2014-04-22 13:17] damienpicard opened #32 "Non linearities for simple hydraulic circuits"
A very simple hydraulic scheme is made: source, pump and pipe (see IDEAS.Fluid.Movers.Examples.PumpWithPipe2). If the dynamic balance of the pump and of the pipe is not set to 'false' non-linearities are created. Interesting is that the CPU time using the IDEAS components is comparable to the one using the Buildings components.

When the pipe is replaced by an isolated pipe (pipe with heat port),

[2014-04-24 09:37] damienpicard opened #34 "too high heat losses of structure"
I converted a building from the master to the Annex60 IDEAS. The previous version showed a relatively similar behaviour as the TRNSYS model of the same building. The Annex60 version shows a big deviation!

@rubenbaetens any idea of the reason? Did you compare the BesTest Cases?

Previous zone temperature (modelica versus TRNSYS)
![image](https://cloud.githubusercontent.com/assets/2987659/2787993/d

[2014-04-24 13:37] damienpicard opened #36 "Bug in valve"
The control input of IDEAS.Fluid.Valves.ThreeWayValveMotor was inverted between the legs. This is now fixed.

I also updates the examples for the different types of valve and I added unit tests.

See pull request of issue33_bugInValve.

[2014-04-28 14:45] #36 closed, assigned to nobody

[2014-04-28 14:45] #32 closed, assigned to damienpicard

[2014-04-28 14:48] #29 closed, assigned to Mathadon

[2014-04-29 12:44] Mathadon opened #39 "Division by zero in InteriorConvection"
The equation:
hcon = port_a.Q_flow/dT;
results in 0/0 division for certain cases.

hcon is not explicitly used. Can this variable and equation be removed? Otherwise the denominator can be moved to the left part of the equation.

I suggest to fix this in master and then merge master into Annex60

[2014-04-30 06:50] #39 closed, assigned to rubenbaetens

[2014-05-05 10:40] #13 closed, assigned to Mathadon

[2014-05-05 16:26] Mathadon opened #40 "Handling zero flow in 3-pipe-networks"
Dymola does not handle zero flow correctly when connecting 3 paths which all have zero flow. An example of when this bug occurs:
[code]
Results in an error:
[code]

This causes problems for a thesis students and this is possibly also the cause for the issues Ruben is experiencing. @rubenbaetens can you confirm this?

I will contact Dymola

[2014-05-06 14:14] Mathadon opened #42 "Climate files path"
Having the inputs folder outside of the IDEAS package path leads to problems with running the unit tests. I would therefore like to move the folder into /IDEAS. To be discussed on next meeting.

[2014-05-09 10:50] Mathadon opened #43 "Annex60 merging"
Merging works and I added a script under IDEAS/scripts/mergeAnnex60script.py to do the merging.

See branch: https://github.com/open-ideas/IDEAS/tree/mergedAnnex60

However not all unit tests give the same results for the Annex60 models.

[2014-05-12 09:29] damienpicard opened #44 "remove replaceablility of medium"
I propose to remove the replaceable specifier of the package Medium in the model still using it.
Most of the models work with a non-replaceable parameter package Medium. This does not cause any problems and it avoids having a package Medium under each model.

[2014-05-12 13:26] #44 closed, assigned to nobody

[2014-05-13 13:50] damienpicard opened #45 "Boiler interpolation and rescaling"
The boiler model, or rather the IDEAS.Fluid.Production.BaseClasses.HeatSource_CondensingGasBurner it is using, show some problems:

1) the scaling of the Boiler, based on QNom / QNom_init with QNom_init the nominal power for which the power maps are valide is done after the efficiency calculation. The scaling should be applyied on the mass flow rate too for the efficiency calculation.

2) the mode

[2014-05-19 06:44] rubenbaetens opened #47 "Include (and evaluate) work of Pierre-Yves"
Include (and evaluate) the CPU-improving options of Pierre-Yves Leva.

[2014-05-22 14:02] #26 closed, assigned to rubenbaetens

[2014-05-22 14:03] #15 closed, assigned to rubenbaetens

[2014-05-23 10:43] Mathadon opened #50 "Tabs model with integrated embeddedpipe"
Right now the tabs model and embeddedpipe need te be used separately. This means that the heat transfer surface needs to be entered into the embeddedpipe model separately as well. Furthermore this area needs to be defined in a record extending RadiantSlabChar. This means I have to create a separate record for each zone I'm considering - not very practical. I therefor propose to make a model which

[2014-05-27 15:25] damienpicard opened #51 "Run the BESTEST"
The BESTEST should be re-runned, as some major changes have been down on the climate file reader and on the building structure.

[2014-05-27 15:27] #34 closed, assigned to rubenbaetens

[2014-05-27 16:25] damienpicard opened #52 "add a README for the climate file"
This file would describe each column of the TMY3 file + indicate if the column values are relevant or not (filled in from measurements) for each climate file.

[2014-05-27 16:26] #52 closed, assigned to nobody

[2014-05-30 14:33] Mathadon opened #54 "More flexible three way valve"
Thermostatic3wayvalve has a fixed hot and cold leg. I'd like to change this implementation so that either lag can be hot or cold. This issue is for discussing any objections/comments.

[2014-06-02 13:02] damienpicard opened #56 "Add borefield model"
The borefield model should be added to IDEAS

[2014-06-02 14:21] saroele opened #57 "Experiment with convert.mos script for new releases of IDEAS"
@damienpicard  wrote: Very useful feature of Dymola we could use in the future: when changing a variable, parameter or class in Dymola, users are obliged to change their own models by hand accordingly. It seems that Dymola has an automatic tool for that: see http://www.inf.ethz.ch/personal/cellier/Lect/MMPS/Refs/Dymola5Manual.pdf p.271

[2014-06-02 14:34] saroele opened #58 "Climate file is loaded twice"
I don't immediately find the cause, but the climate file is loaded twice:

dymosim started
... "dsin.txt" loading (dymosim input file)
... loading "data" from "/home/roel/data/work/temp/../Inputs/Uccle_TMY3_60.txt"
... loading "data" from "/home/roel/data/work/temp/../Inputs/Uccle_TMY3_60.txt"
... "Heating_Radiators.mat" creating (simulation result file)

[2014-06-02 14:44] saroele opened #59 "DHW with profile reader should use sim"
@Mathadon
Filip, what was the reason not to use the DHW profile file specified in the SimInfoManager in the IDEAS.Fluid.Domestic_Hot_Water.DHW_ProfileReader ?

I propose to change this back, unless you don't agree.
I quickly create a branch for this change.

[2014-06-03 07:02] #58 closed, assigned to rubenbaetens

[2014-06-03 08:01] saroele opened #60 "Conventions on naming and GitHub repository use"
I see a lack of naming conventions in IDEAS at this moment.  Examples from the DHW model: `senTem_hot`, `TDHW`, `TColdWaterNom` and `TTapWat_val`.

In case we still strive to naming conventions, like the ones we originally developed https://docs.google.com/document/d/1Ymnbi8LKEfgFKvrnpw_rBfSl3qHIlMXrhv368MrgxFA/edit?usp=sharing , the above would become: `THotSen`, `TDHW`, `TColNom` and `TTapWatVal

[2014-06-03 10:21] #59 closed, assigned to saroele

[2014-06-03 10:24] #10 closed, assigned to damienpicard

[2014-06-11 15:30] saroele opened #65 "Only the IDEAS.Media.Air package works?"
Is it normal that I cannot simulate a building with any other air from the MSL ?  I have tried these, and they all fail:
- Modelica.Media.Air.DryAirNasa (no index reduction possible because some equation cannot be derived)
- Modelica.Media.Air.ReferenceAir (idem)
- Modelica.Media.Air.MoistAir (idem)
- Modelica.Media.Air.SimpleAir (model is only valid between 0°C and 100°C)

An adaptation of the la

[2014-06-13 12:50] saroele opened #66 "Boundary with temperature input does not show correct temperature"
I will create a pull request based on Annex60 branch to pass an example

[2014-06-13 14:31] saroele opened #68 "license references to lbnl"
Hey Roel,

 Issue brought up by Moritz:

I recognized that the Modelica License 2 in OpenIDEAS still references to LBNL and University of California.

[2014-06-16 19:49] Mathadon opened #70 "New implementation for zone connectors"
Issue for discussing pull request

[2014-06-19 12:15] #70 closed, assigned to nobody

[2014-06-19 20:10] #30 closed, assigned to Mathadon

[2014-06-19 20:59] #65 closed, assigned to nobody

[2014-06-26 07:14] Mathadon opened #73 "SimInfoManager partial?"
Hi all,

I am using IDEAS for my building model. Simulation data comes from the building management system and is in a different format than TMY3. To be able to use this data I feel I should implement my own SimInfoManager. Unfortunately this would probably mean that the buildings package in IDEAS cannot use it since it is of a different class?

To solve this I propose to make a SimInfoManager par

[2014-07-03 06:54] #43 closed, assigned to Mathadon

[2014-07-07 18:54] #54 closed, assigned to Mathadon

[2014-07-07 18:55] #50 closed, assigned to Mathadon

[2014-07-09 15:17] damienpicard opened #74 "issue74_replaceableParameterInBuilding"
All the replaceable parameters should be removed from the Building part as they cause an error.

[2014-07-09 15:22] #74 closed, assigned to nobody

[2014-07-15 14:26] damienpicard opened #76 "HeatSource_Condensing: error in implementation"
The heatSource model computes the interpolation on a wrong way as the derivative are not correctly given to the interpolation function.

A 3-d interpolation would be the cleanest... Especially if the derivative can be computed.

[2014-07-17 12:49] damienpicard opened #78 "Add scaling of heat pump pressure losses"
The scaling of the heat pump pressure losses is currently not done.

Scaling the pressure losses by scaling the nominal flow rate is incorrect, as the pressure losses are proportional to L\* r^(4/19) \* m_flow^(7/4)  (using Blasius correlation with r the radius of a pipe and L its length ).

[2014-07-31 11:59] Mathadon opened #81 "Parallel tabs sections"
See https://github.com/open-ideas/IDEAS/pull/82

[2014-07-31 12:09] #73 closed, assigned to Mathadon

[2014-08-01 11:09] Mathadon opened #83 "Add day of the week calculation"
For describing the user behavior it's useful to know which time of the day it is. This can be implemented pretty easily and would fit under IDEAS.Climate.Time.SimTimes. For this to work I propose to use the convention that 'time + delay' (see block) is the unix timestamp (seconds since 1st of januari 1970 midnight). Based on that value the day of the week can be calculated.

This addition would of

[2014-08-06 13:08] Mathadon opened #84 "TOpStart in zone model"
@rubenbaetens what is the purpose of the parameter TOpStart in the zone model? As far as I can tell it is only used for setting a start value for the sum block:

[code]

as far as I know this has no practical effect since the sum is always calculated from the inputs. Can this parameter be removed?

[2014-09-02 06:55] Mathadon opened #86 "Outerwall model inconsistent with internalWall model"
See pull request

[2014-09-08 08:39] rubenbaetens opened #87 "IDEAS/HeatTransfer"
I noticed a IDEAS/HeatTransfer directory with a (only) variable conductor in, whereas many HeatTransfer elements are now in IDEAS/Buildings/Components/BaseClasses ... we migth need to restructure this.

[2014-09-09 07:20] rubenbaetens opened #89 "Possible division by zero in GroundSlab.mo"
PWall can not be zero for a groundslab, due to division by zero.

[2014-09-11 07:45] rubenbaetens opened #90 "Counting nSurf in zones"
The parameter nSurf in the zone is now calculated based on the connections made for the ports, automatically updating the array-lentgh and so on. Allthough it wins you time in some cases, it's very cumbersome:
- If you try to connect a single connector from an array of connectors to the zone, he always counts the entire length as added nSurf, requiring a manual adaptation.
  - It's very difficult

[2014-09-12 09:07] #90 closed, assigned to Mathadon

[2014-09-15 18:20] rubenbaetens opened #91 "Upscaling issue possibly caused by A60 Media.Air"
In the IEA EBC A60 ST 2.2 CE on neighborhood modelling, a problem was found in useing the open-ideas/IDEAS branch Annex 60. At a certain 'scale', the model no long initialises causing Dymola to crash or stop initiating.

All building models work seperatly, and also combined in simulations of about 8 to 10 buildings, but combined in the neighborhood of 25 nBui (200k eqns.), initalisation fails.

[2014-09-15 22:49] rubenbaetens opened #92 "Solving numerical Jacobian in grid"
According to Johan Driesen, the Numerical Jacobian in the el. distribution gird might be resolved if we write the complex equations complete as the real and imaginary equations ourselves. (see also the domain of eg. non-linear frequence response analysis)

[2014-09-16 00:28] rubenbaetens opened #93 "Sign in GroundSlab"
Control in Master and Annex60 branch the sign of the 3D-2D ground losses !

[2014-09-29 11:05] damienpicard opened #94 "airLeakage"
The current implementation of air leakage causes that air enters the zone at a temperature equals to the ambient temperature. This prohibits using Modelica.Media.Air.SimpleAir, as its validity range is [0 100]degC.

It would be interesting to see if you can avoid that as Modelica.Media.Air.SimpleAir is computationall more performant that IDEAS.Media.air.

[2014-09-30 11:40] matsvandecavey opened #95 "Boreholes subpackage not shown in Dymola"
Boreholes subpackage is listed in the HeatExchanger/package.order, but there is no package.mo file in IDEAS/Fluid/HeatExchanger/Boreholes.
Therefore Dymola doensn't load this subpackage. (no Error returned).
OpenModelica returns an error when trying to load IDEAS, because directory Boreholes has no .mo file in the HeatExchanger directory.

Is the package.mo intentionally left out of this subpackag

[2014-10-01 07:07] rubenbaetens opened #96 "Integration of QNom in building structure"
Include the automatic calculation of QNom for zones based on connected structures. This however requires parameter propagation by propsbus, which seems not possible.

[2014-10-01 11:33] #21 closed, assigned to rubenbaetens

[2014-10-02 13:18] #93 closed, assigned to rubenbaetens

[2014-10-02 13:18] #86 closed, assigned to nobody

[2014-10-02 13:18] #84 closed, assigned to Mathadon

[2014-10-02 13:24] #96 closed, assigned to nobody

[2014-10-02 13:30] #89 closed, assigned to rubenbaetens

[2014-10-02 13:31] #87 closed, assigned to nobody

[2014-10-06 13:03] damienpicard opened #106 "Linearization of the building structure"
This issue discusses the automization of the building linearization for controller model. The code implementation can be found on the branch issue79_linearizationBuilding.

[2014-10-06 14:43] #16 closed, assigned to damienpicard

[2014-10-07 09:46] damienpicard opened #107 "issue107_ReviewIdeasInterfaceAndHeatingSystems"

[2014-10-07 12:40] #81 closed, assigned to nobody

[2014-10-07 13:20] rubenbaetens opened #108 "CPU-efficient mixed-air media implementation"
The solution on #27 was the implementation of the Annex60 SimpleAir implementation for thermal building zones, which is now succeeded by a need for CPU-efficient mixed-air implementation. The implementation has to be valid down to -8°C for air leakage as mentioned in #94.

[2014-10-07 13:21] #27 closed, assigned to rubenbaetens

[2014-10-07 16:27] #107 closed, assigned to nobody

[2014-10-07 16:30] damienpicard opened #109 "Division by zero in thermostatic three-way valve"
All the Heatings systems compiles but Heating_radiator, Heating_embedded and Heating_embedded_DHW do not run.

The error points to the ThermostaticThreeWayValve but I'm not sure of the reason...
'''
heating.idealCtrlMixer.k = (heating.idealCtrlMixer.h_set-heating.pipeSupply.port_a.h_outflow)/(heating.senTemEm_out.port_a.h_outflow-heating.pipeSupply.port_a.h_outflow) = 62760/0
'''

The models are o

[2014-10-08 06:51] #68 closed, assigned to saroele

[2014-10-08 06:57] Mathadon opened #111 "New functionality in thermostatic3WayValve"
See pull request #112

[2014-10-08 07:15] #94 closed, assigned to nobody

[2014-10-08 07:45] #76 closed, assigned to nobody

[2014-10-08 09:15] #3 closed, assigned to Mathadon

[2014-10-08 10:05] rubenbaetens opened #113 "Error in loading fluid's usersguide"
Following error is raised while loading Annex60 branch with Modelica 3.2.1 in Dymola 2015:

Error: attempted redefinition of UsersGuide was ignored
File: E:/3_PhD/3_Modelica/IDEAS_Annex60/IDEAS/Fluid/Interfaces/UsersGuide/package.mo, line 2
Using old definition from:
File: E:/3_PhD/3_Modelica/IDEAS_Annex60/IDEAS/Fluid/Interfaces/package.mo, line 6
Error: Error: attempted redefinition of UsersGuide

[2014-10-08 14:15] #113 closed, assigned to Mathadon

[2014-10-08 14:31] #91 closed, assigned to damienpicard

[2014-10-09 07:32] rubenbaetens opened #116 "Error in Buildings class declaration"
[code]

[2014-10-09 10:45] #83 closed, assigned to Mathadon

[2014-10-09 12:56] rubenbaetens opened #117 "Default parameter values"
Do we include default parameter values in our components or don't we as approached in Annex 60 ?

[2014-10-09 16:27] Mathadon opened #118 "XiAmb calculation in simInfoManager"
See pull request #119

[2014-10-10 11:43] #118 closed, assigned to damienpicard

[2014-10-13 10:54] Mathadon opened #120 "T_start parameter in building components"
See pull request #121

[2014-10-13 11:00] Mathadon opened #122 "adding LumpedVolumeDeclarations and T_start in zone model"
See pull request

[2014-10-15 14:23] rubenbaetens opened #125 "Initialisation of state or variables derivatives"
I propose we define an initialization for following states or variables IF possible:

[code]

[2014-10-15 15:16] #122 closed, assigned to nobody

[2014-10-15 15:16] #120 closed, assigned to nobody

[2014-10-15 15:17] #111 closed, assigned to damienpicard

[2014-10-15 15:17] #109 closed, assigned to nobody

[2014-10-15 15:45] #95 closed, assigned to damienpicard

[2014-10-15 17:11] #116 closed, assigned to nobody

[2014-10-15 17:57] #117 closed, assigned to nobody

[2014-10-15 18:11] #125 closed, assigned to nobody

[2014-10-16 06:32] rubenbaetens opened #126 "Annex 60 based grey-box model"
Implement one (or some) greybox models in ```IDEAS.Buildings.GreyBoxModels``` based on ```IDEAS.Fluid.Interfaces.LumpedVolumeDeclarations``` as the effective air node for heating- and ventilationsystem testing purposes.

[2014-10-16 11:45] damienpicard opened #127 "Unit tests full coverage"
Each example should have a unit test and any future pull request should be tested with unit tests before beeing submitted.

[2014-10-16 11:47] #2 closed, assigned to saroele

[2014-10-16 12:22] #57 closed, assigned to saroele

[2014-10-16 12:36] #66 closed, assigned to saroele

[2014-10-16 13:51] damienpicard opened #128 "ShadingControl: change hysteresis and remove time condition"
The modelica path of the hysteresis in ShadingControl is incorrect and the time condition:

[code]

is only valid for the first simulation year.

If necessary, I could add a component enabling the solar shading only during the summer.

[2014-10-17 08:11] #60 closed, assigned to nobody

[2014-10-17 12:45] #128 closed, assigned to nobody

[2014-10-23 18:27] Mathadon opened #131 "Heat pump over temperature protection and model structure changes"
See pull request #

[2014-10-24 12:32] #51 closed, assigned to rubenbaetens

[2014-10-24 12:32] #131 closed, assigned to nobody

[2014-10-26 18:59] rubenbaetens opened #133 "Release 0.2"
I created a mileston for a Release 0.2 (i.e. https://github.com/open-ideas/IDEAS/milestones/Release%200.2) with the issues which (in my opinion) need to be solved before merging the Annex 60 branch as a new master. Any comments are welcome.

[2014-10-30 07:34] Mathadon opened #137 "Import new Annex60 base classes"
See pull request #138

[2014-10-30 07:52] #137 closed, assigned to Mathadon

[2014-10-30 08:39] Mathadon opened #139 "Change corrCV implementation using heatCapacitor into mFactor"
See pull request #140

[2014-10-30 08:49] Mathadon opened #141 "Change radiator implementation using additional thermal into mFactor"
See pull request #142

[2014-10-30 10:44] #141 closed, assigned to nobody

[2014-10-30 10:44] #139 closed, assigned to nobody

[2014-11-03 08:07] Mathadon opened #146 "Best practices document in wiki?"
I'd like to make a 'best practices' document for using Modelica. Is the IDEAS wiki a good place to put this?

[2014-11-03 08:42] #42 closed, assigned to Mathadon

[2014-11-04 12:28] rubenbaetens opened #147 "Default media"
Shouldn't we define a default medium in all components ? Now i even have to select (God who knows which type of) water for a heat pump, radiators, and etcetera while it's kind obvious it shall and must be water.

[2014-11-05 09:16] #147 closed, assigned to damienpicard

[2014-11-05 09:52] Mathadon opened #149 "Avoiding events in heat pumps"
The over/under temperature protection in heat pumps may cause a lot of events. This could be avoided by not switching the compressor off completely but by modulating it down significantly when reaching the temperature bound.

See pull request (todo)

[2014-11-07 09:30] Mathadon opened #152 "Grouping calculations for windows"
When using Advanced.GenerateBlockTimers = true my model currently runs for the following time:
CPUTime = ~ 21k seconds
Entire model    :      8785.424s
Event handling  :    64.044s,
Empty timer     :      0.672s,
Initial code   :         126.994s
Outside of model:   12653.885s,    (contains integrator etc)
DynamicsSection :  8066.616 s (the actual evaluation of equations)

I identified the timer c

[2014-11-11 21:43] Mathadon opened #154 "Bug in IDEAS.Climate.Meteo.Solar.BaseClasses.SkyBrightnessCoefficients?"
The following piece of code seems unlogical:

[code]

ie there are two definitions for a1 and none for a8. Is this correct?

[2014-11-12 08:29] #154 closed, assigned to rubenbaetens

[2014-11-12 17:37] #149 closed, assigned to Mathadon

[2014-11-13 13:31] rubenbaetens opened #157 "BS2015 OpenIDEAS"
BS2015 paper on OpenIDEAS. Abstract comitted in https://github.com/open-ideas/IDEAS/commit/1ba96bf81590f5959e04ddcf8d364f5f68c0f549

[2014-11-15 15:09] Mathadon opened #162 "Heating curve controller"
I was looking for a heating curve block (ie something that calculates the set point temperature based on a parameterised function/table of the outside temperature), basically just a lookup table. All I can find is ```IDEAS.Controls.SetPoints.HotWaterTemperatureReset``` and ```IDEAS.Controls.ControlHeating.HeatingCurve``` but this does not allow to define such a function. Does this type of block no

[2014-11-19 09:58] rubenbaetens opened #163 "Adopt HYSOPTs BCM in IDEAS"
I would (strongly) suggest to consider adopting ```HYSOPTs``` Base Circuit Methodology in ```IDEAS``` (which similar to the MODULEs in ```EES```). More info on this can be found in < R. Vandenbulcke (2013). Optimalisatie van hydronische verwarmingsinstallaties door middel van simulatie. PhD Thesis. >

[2014-11-21 11:02] saroele opened #164 "Fan coil unit"
I have created a fcu and example and will turn it into a pull request

[2014-11-21 11:23] saroele opened #165 "'Non-literal value' warnings"
When checking IDEAS models from the Annex60 branch, I get many of these warnings:

Check of IDEAS.Fluid.HeatExchangers.Radiators.FanCoilUnit:

Non-literal value.

In nominal attribute for res.m_flow.
Ignoring nominal attribute.
In class Modelica.SIunits.
Near file: /opt/dymola-2015v2/Modelica/Library/Modelica 3.2.1/SIunits.mo, line 2
Used in base-class res.PartialTwoPortInterface.
Near file: /home

[2014-11-21 16:31] saroele opened #167 "Back to older boiler implementation"
The condensing gas boiler is currently not working well.  I propose to revert to the old interpolation in `IDEAS/Fluid/Production/BaseClasses/HeatSource_CondensingGasBurner.mo`, while keeping the scaling.

@arnoutaertgeerts is working also on an analytic solution to get rid of the interpolation tables.  That approach may replace the current implementation.

[2014-11-21 17:09] matsvandecavey opened #170 "Thickness of material layers in Construction can not be changed after compilation"
Due to the conditional (d>0) declaration of every material layer, the layer parameter thickness (d) is evaluated at compilation and it cannot be changed after compilation. This is a problem scripted for sensitivity analysis or system design optimisation.

The implementation of building components verifies for every layer in the building the boolean  *NotFictive* = thickness > 0 in MonoLayerOpaque.

[2014-11-24 10:41] damienpicard opened #172 "Add on/off input to pump"
It is often interesting to have an on/off control for a pump even if it is already mass flow rate controllable. For example, if you have a ventilation system, the mass flow rate might be controlled by a PID controller but it should be turn off when the ventilation is off.

[2014-11-28 11:04] Mathadon opened #176 "wrong implementation of Rz in EmbeddedPipe"
We currently do not implement Rz in the same way as it is described by Koschenz in (p24, eqn 4-57). I will try to propose a fix.

[2014-11-29 09:53] Mathadon opened #177 "'True' InternalWall implementation with only one propsBus"
@rubenbaetens the current internalWall implementation has two ports for connecting it to two zones. However in some cases there are internal walls that are completely in one zone. It is then possible to connect both ports to the same zone but this introduces additional equations.

I therefore propose to make one of the ports conditional. When the propsBus_b is disabled then these connections can b

[2014-11-29 10:03] Mathadon opened #178 "Removing simInfoManager from stateWallNoSol"
`IDEAS.Buildings.Components.Interfaces.StateWallNoSol` contains an instance of simInfoManager although not all extending classes need this. I therefore propose to move simInfoManager to the individual classes.

This should not affect any performance/results but it's cleaner in my opinion.

[2014-11-29 10:37] #167 closed, assigned to saroele

[2014-11-29 18:44] #177 closed, assigned to rubenbaetens

[2014-11-29 18:51] #178 closed, assigned to Mathadon

[2014-12-01 08:00] Mathadon opened #181 "Bug in mFactor implementation"
There is a bug in mFactor, which is used in the zone model. This bug only has an effect when using moist air with non-constant moisture levels in the zone.

A bug was proposed in Annex60 issue 131: https://github.com/iea-annex60/modelica-annex60/issues/131 . However the pull request is hanging. In the meantime I'd like to be able to run my models so I hope this can get accepted here already.

[2014-12-01 09:24] #181 closed, assigned to Mathadon

[2014-12-01 10:24] Mathadon opened #183 "Add shading type 'OverhangAndScreen'"
I need a shading type which consists of an Overhang and a screen. I've made this component so I'll make a pull request for adding this to the library.

[2014-12-01 10:35] #183 closed, assigned to Mathadon

[2014-12-01 18:45] rubenbaetens opened #185 "dV/dp-curves of radiator and thermostatic valves"
After two meetings on the ```HYSOPT```-software and some interesting discussions with Roel VdB on valve authority *et al.*, we might want to check if the convexity of the dV/dp-curves of our thermastatic valves and radiators are correctly implemented. Maybe something for @arnoutaertgeerts, as he was the TME'er in the meetings ;)

[2014-12-03 08:44] #78 closed, assigned to damienpicard

[2014-12-04 09:31] damienpicard opened #187 "Moving average"
The current moving average implementation integrates continuously its input. This would lead to very high integral values. I will propose a new implementation reseting the integral to zero without affecting the moving average.

I will also add the running mean outside temperature block as defined in norm EN15251.

[2014-12-04 09:37] damienpicard opened #188 "Boolean value of Shading misspelled"
The boolean value `controlled` is misspelled for the solar shading (controled instead of controlled).

[2014-12-04 09:56] #188 closed, assigned to nobody

[2014-12-04 13:19] rubenbaetens opened #192 "Obsolete models"
While browsing through the latest Annex60 branch, i have the feeling some of the models can be deleted because they're double in the code. Having doubles in there makes it rather confusing if you didn't develop the library. E.g. ...

* We have ```IDEAS.Fluid.HeatExchangers.Radiators.Radiator``` and ```..\Radiators.RadiatorEN442_2``` of which i think the latter one is from ```Annex60```.
* We have

[2014-12-04 13:24] rubenbaetens opened #193 "HeatExchange-based Fluid.Production"
I notice none of the `IDEAS.Fluid.Production.\..`-models use `IDEAS.Fluid.HeatExchangers.HeaterCooler_T` or `..\.HeatExchangers.HeaterCooler_u` though this seems more convenient to me.

[2014-12-04 13:59] rubenbaetens opened #194 "HeatTransfer.BaseClasses-based building material implementation"
Convert all building material implementations to the definition found in `IDEAS.HeatTransfer.Data.BaseClasses` from `Annex60`.

[2014-12-04 14:02] rubenbaetens opened #195 "StROBe-implemenation of occupancy behaviour"
Add a ```StROBe```-implemenation of the user behaviour in ```IDEAS.Occupants```.

[2014-12-04 16:03] damienpicard opened #196 "Heat pump control"
The current implementation of HeatPumpTSet does not work, as the hysteresis controller which has been added is not connected to anything.

I would also like to have an input for <i>ideal</i> modulation.
I made a proposal which allow you to scale the electrical and thermal power using an input. The implementation is correct if the COP does not change for part load and full load. Otherwise, it is ju

[2014-12-07 10:03] rubenbaetens opened #198 "Annotating 'ideal' models"
I would like to 'annotate' all 'ideal' models, to make it visual in a blink which models use a highly simplified version of components; It helps a lot in e.g. analyzing or debugging models of somebody else to understand what might cause problems and what not.

I made an example for the ideal heat source in a model i'm making now:
![idealheatsource](https://cloud.githubusercontent.com/assets/123553

[2014-12-08 11:01] rubenbaetens opened #199 "Control components"
I'm _slightly_ confused by the control units in `IDEAS.Controls.Controlheating` e.g. `Ctrl_Heating` which has a `RealInput TRoo_in1`. The _name_ of the input tells me it is the room sensor temperature  though the annotation says `"Room air temperatrue set point"` as well as in the heating curve; which means the heating curve is only defined by one of both (?).

[2014-12-08 12:53] rubenbaetens opened #200 "Fluid.System"
Is there a way to include the necessary ```Modelica.Fluid.System``` in ```IDEAS.SimInfoManager``` so that only one outer is required ? Or is it a solution to e.g. extend the SiminfoManager from System ?

[2014-12-08 13:37] #199 closed, assigned to saroele

[2014-12-09 08:12] Mathadon opened #202 "Heat pump dynamics"
Heat pump dynamics are currently exposed. However the user should not be able to disable the dynamics since the model will then fail. I'll propose a pull request for fixing this.

[2014-12-09 10:58] rubenbaetens opened #204 "Include transformer hot spot temperature"
Include the calculation of the hot spot temperature of transformers in order to calculate the IEC Ageing Acceleration Factor. If convenient, already include this factor, though it's an exponential function so maybe it's better to do this is post-processing.

[2014-12-10 18:46] rubenbaetens opened #205 "Over-estimation of transformer joule losses"
While checking the standards for transformer ageing estimation, i found a bug in the estimation of ```traLosPs``` in ```IDEAS.Electric.DistributionGrid.GridSubModels.Transformer```.

The standards often use the ratio ```traLosPtot / traLosP0``` at full load conditions (i.e. the load equal to ```Sn```) wherefore a range of 1 to 6.5 is given in the graphs of ANSI/IEEE Std C57.91-1981 (and wherefore

[2014-12-15 11:37] Mathadon opened #208 "Extending Hysteresis controller"
I'd like to extend the hysteresis controller with the option to turn it off. When the controller is off then the output is set to a predefined parameter value. Since this adds another input I will make it conditional. I will also make some of the existing inputs conditional while I'm at it.

[2014-12-15 16:16] rubenbaetens opened #209 "Heat pump evaporator units"
Both ```IDEAS.Fluid.Production.HeatPumpOnOff``` and ```HeatPumpTSet``` have a ```brinIn```- and ```brinOut```-port, however there are no components to connect them with (?). It seems to me these are baseclasses to make the real heat pump models ?

[2014-12-15 16:27] Mathadon opened #211 "Convective heat transfer in air layers"
Air layers currently seem to treat air as a 'solid' layer of matter. It would be nice if a convective heat transfer correlation were integrated that takes into account the orientation and dimensions of the wall.

@GlennReynders is this something you can look into?

[2014-12-18 19:57] #172 closed, assigned to damienpicard

[2014-12-19 12:51] #165 closed, assigned to nobody

[2014-12-19 12:51] #194 closed, assigned to rubenbaetens

[2014-12-19 12:51] #193 closed, assigned to nobody

[2015-01-05 10:03] rubenbaetens commented on #205
The new model implementation of @vanroyj still over-estimates the joule losses compared to manufacturer data. We could (i) compare/validate it with measurement data or (ii) include the ratio of losses at full load to no load as a parameter.

[2015-01-05 10:22] vanroyj commented on #205
As mentioned before, the no-load losses (used in the models) are taken from the previous models. These data were not available for the transformers I implemented, only the impedances are available. A small change in the no-load losses will have a large impact on that ratio...

Solution 2 (including the ratio as a parameters) seems a good asumption, regarding the data (ratios) available in that sta

[2015-01-05 13:39] rubenbaetens commented on #205
@vanroyj could you check again how you parametrized the imepdances of  ```BaseClasses.Branch phase1```, ```phase2``` and ```phase3``` ? I notice it is written based on ```Zd```, ```Zi``` and ```Z0``` respectively but this would mean the transformer model is not symmetrical to its phases.

[2015-01-05 13:48] rubenbaetens commented on #205
@vanroyj ok, solved i noticed just now you defined ```Zi=Zd``` and ```Z0=Zd``` as defaults, though this means presumably that ```Zi``` and ```Z0``` don't represent the inverse and zero-sequence impedances anymore (?).

[2015-01-05 14:06] vanroyj commented on #205
I'll look up my notes why Zi=Zd=Z0. There is an explanation for that (if I'm not mistaken, it is assumed there is no mutual impedance between the phases, and in that case the phase impedance is equal to Zi).

I'll look it up asap, but first thesis deadline... (only few days left)

[2015-01-05 14:12] rubenbaetens commented on #205
@vanroyj ok, by then i got the hot spot temperature calculation of the transformer included in the model. The discrete-time thermal calculation in IEEE C57.91 is kinda strange, so i transformed it into a continuous-time model for Modelica.

[2015-01-05 19:47] rubenbaetens commented on #133
I suggest we get rid of the current ```master```-branch as soon as possible. I notice it e.g. still uses the old implementation of the ```SimInfoManager``` which doesn't help in debugging.

[2015-01-06 07:44] rubenbaetens commented on #204
Solved in #218, merged into #205.

[2015-01-06 07:44] #204 closed

[2015-01-06 07:57] Mathadon commented on #133
Fine by me, let’s fix this during the meeting on Thursday?

[2015-01-06 13:35] rubenbaetens opened #220 "Boolean HysteresisRelease"
Current implementation ```IDEAS.Controls.Discrete.HysteresisRelease``` defines a ```Boolean y_boolean``` as variable in the if-statements, which is eventualy converted as
[code]
for the Real output. Why don't we just use a ```Modelica.Blocks.Interfaces.BooleanOutput``` which we can use for the release-inputs of pumps and heaters ?

[2015-01-06 14:11] Mathadon commented on #220
The model was originally made this way for avoiding events. I’m working on a new hysteresis controller that ‘fixes’ this but it still needs to be validated.

[2015-01-06 14:12] rubenbaetens commented on #220
I'll be lazy and put a RealToBoolean after the hysteresis then for now.

[2015-01-06 19:17] rubenbaetens opened #221 "Error in FlowMachine_Nrpm"
The model ```IDEAS.Fluid.Movers.FlowMachine_Nrpm``` gives following error:
[code]

[2015-01-06 19:24] Mathadon commented on #221
Without any context this error does not tell me a lot. Also this is an Annex60 model that is currently under revision and will probably be updated in a few weeks. Can you pass by if this is urgent?

[2015-01-06 19:29] rubenbaetens commented on #221
I just *check* the model without any context.

[2015-01-06 19:36] Mathadon commented on #221
I think the reason is that the default value for that parameter is not valid. So the model needs to be used with valid parameters for it to be able to check correctly. Or are you experiencing other issues?

[2015-01-06 19:42] rubenbaetens commented on #221
I notice there are no default values for the parameter at all, idem in ```IDEAS.Fluid.Movers.FlowMachine_y``` but i start to presume that you need a performance map for these pumps while we don't have any ... ?

[2015-01-06 19:43] Mathadon commented on #221
Also for me this is a warning instead of an error?

[2015-01-06 19:46] rubenbaetens commented on #221
In Version 2014 FD01 i get an error.

[2015-01-06 20:30] Mathadon commented on #221
That's correct, this is partly resolved in the new version. You can check the master branch of the buildings library. This version of the pumps will be merged into IDEAS in a few weeks probably.

[2015-01-07 07:16] arnoutaertgeerts commented on #163
@rubenbaetens If I'm the assignee, I'm responsible for the merge? What needs to be checked before we can merge?

[2015-01-07 07:24] rubenbaetens commented on #163
Arnout, you're the assignee from the Issue, not from the Pull Request ;) And those are preferably two different persons.

[2015-01-07 08:16] rubenbaetens opened #222 "Replaceable pipes"
At this point, it seems impossible to make a *pipe* replaceable: All pipe-like models seem to extend from different partials, i.e. from ```BaseClasses.PartialResistance```, from ```Interfaces.PartialTwoPortInterface```, from ```Interfaces.TwoPort```, from ```Partials.PipeTwoPort``` or from ```Interfaces.TwoPortFlowResistanceParameters``` making it quasi impossible to define a
[code]
declaration. O

[2015-01-07 09:48] rubenbaetens commented on #163
@arnoutaertgeerts when using it, it seems the base circuits are by far not yet ready to be merged, as a majority of the necessary parameters are not propagated. i'm working on it.

[2015-01-07 09:58] arnoutaertgeerts commented on #222
I encountered the same issue when trying to make the pipes replaceable in the basecircuits (maybe that is what you were trying to do ass well?).

I think we should just define a new partial for pipes and let all pipes extend from this partial?

[2015-01-07 10:05] rubenbaetens commented on #222
@arnoutaertgeerts that was the error i was trying to solve; your solution gave tons of warnings as your default option didn't extend from the constrainedby.

[2015-01-07 10:40] rubenbaetens opened #223 "Uniform emission parametrization"
Could / Should we uniformise the parametrization of all emission coefficients ? Current implementation ```Fluid.HeatExchangers.Radiators.RadiatorEn442_2``` contains parameters for the nominal heating power and inlet / outlet temperatures, allowing a default m_flow_nominal. These parameters are, however, missing in ```Fluid.HeatExchangers.RadiantSlab.EmbeddedPipe``` making m_fow_nominal unknown.

I

[2015-01-07 16:23] Mathadon commented on #223
I don't agree to adding three new parameters just to be able to calculate a nominal mass flow rate. This is too cumbersome for the user. Why would you like to make this change?

[2015-01-07 16:35] arnoutaertgeerts commented on #163
I was unable to use the ```inHomeGrid``` model on this branch due to two errors of dividing by zero in ```IDEAS.Electric.Distribution.BaseClasses.Branch.prescribedHeatFlow```. I "solved" both errors by adjusting these parameters:

- ```prescribedHeatFlow.alpha = 0``` => 1
- ``` Plos = R*Modelica.ComplexMath.'abs'(i)^2``` => + 1

Did anyone encounter these errors as well? I had to change these thin

[2015-01-07 18:19] rubenbaetens commented on #223
In order to do parametric runs changing the heating system, it is very cumbersome to have a lot of different parameters for similar models like e.g. emission components. While all emission components have nominal powers, nominal inlet temperatures, nominal outlet temperatures and nominal mass flows, it feels like a bug to define the first 3 in one model and deduce the 4th one for radiators while y

[2015-01-07 18:44] rubenbaetens commented on #163
Both changes imply the statement that the Ohm's law is incorrect; So i suggest reverting these changes and that we look for the cause instead of a solution ;)

[2015-01-07 18:50] arnoutaertgeerts commented on #163
Ok, That might be a better solution :) I just had to quickly remedy these
errors in order for my models to run :)

On Wed Jan 07 2015 at 7:44:05 PM GMT+1 rubae <notifications@github.com>
wrote:

[2015-01-07 18:53] rubenbaetens commented on #163
If you "just had to quickly remedy these errors for me" i don't want to see them here in a commit, especially if there physically wrong ;)

[2015-01-07 20:33] arnoutaertgeerts commented on #163
ok boss :)

On Wed Jan 07 2015 at 7:53:09 PM GMT+1 rubae <notifications@github.com>
wrote:

[2015-01-07 21:42] saroele opened #225 "Integrate FastBuildings in IDEAS by means of script"
We want to have a separate FastBuildings library because it has to be compatible with OpenModelica and JModelica.  However, a script similar to the annex60 script could copy the FastBuildings lib into IDEAS.

Interesting?

[2015-01-08 10:59] Mathadon commented on #223
I see, sounds reasonable.:) However, in case of my application I do not have nominal power/temperature data so this change would be a bit annoying because I’d have to invent these values and/or reverse engineer them. Is there a way to avoid needing to fill in these new parameters in my model?
You could for instance make the parameters conditional based on a boolean or you could make a model in you

[2015-01-08 11:03] rubenbaetens commented on #223
If there are default values given for the nominal temperatures and power, and the nominal mass flow is not final, nothing changes, no ? Though, how can you design an emission system without nominal power and temepratures ?

[2015-01-08 13:23] Mathadon opened #226 "Update wiki for running unit tests"

[2015-01-08 14:13] Mathadon commented on #192
We will make a list with components that may be removed. This list has to be approved by:
Roel, Damien, Filip, Mats, Ruben, Glenn

[2015-01-08 14:15] Mathadon opened #227 "Merge HPOnOff and HPTset"

[2015-01-08 14:30] arnoutaertgeerts commented on #163
Did a big update of the basecircuit models with a complete restructuring of the partials. Could you guys @rubenbaetens  and @Mathadon take a look?

[2015-01-08 14:40] Mathadon commented on #222
First remove obsolete models and then check again if all models extend from ```partialTwoPortInterface```.

[2015-01-08 14:42] #221 closed

[2015-01-08 14:45] Mathadon commented on #220
This will be fixed in #208

[2015-01-08 14:45] #220 closed

[2015-01-08 14:52] #209 closed

[2015-01-08 14:52] Mathadon opened #228 "Extend fourportinterface in heat pump models"

[2015-01-08 14:54] Mathadon commented on #198
Check this again after removing obsolete models

[2015-01-08 14:55] #196 closed

[2015-01-08 14:56] #185 closed

[2015-01-08 14:56] Mathadon commented on #187
Still need to fix unit tests

[2015-01-08 15:07] damienpicard commented on #170
@matsvandecavey Can you make a pull request?

[2015-01-08 15:10] #108 closed

[2015-01-08 15:10] #56 closed

[2015-01-08 15:11] #40 closed

[2015-01-08 15:12] Mathadon commented on #8
See #176

[2015-01-08 15:12] #8 closed

[2015-01-08 15:16] matsvandecavey commented on #170
I'm not sure we have an acceptable solution yet.
Roel and I fix the number of states at 3 for every material layer and leave out all condtional instantiations.
Advantage: We can change the thickness after compilation, needed for a parameter sensitivity and calibration exercise.
Disadvantage: The nice structure for creating layers is gone.

[2015-01-08 20:28] saroele commented on #225
@rubenbaetens  as discussed, there are two main options:
1. the script thing
2. adding a package FastBuilding with only documentation and a link

Personally, I think the script option is better for the average IDEAS user. And as we always say that IDEAS is for districts, we should include lo models.  So I'm in favour of 1)

[2015-01-08 20:42] Mathadon commented on #226
See https://github.com/open-ideas/IDEAS/wiki/Running-Unit-tests
I'll update this initial version if needed.

[2015-01-08 20:42] Mathadon commented on #226
@rubenbaetens @saroele @damienpicard
can you try out these instruction?

[2015-01-09 08:24] Ryton commented on #162
This answer is a bit late maybe: but yes, this is the case in most buildings:
One ambient temperature sensor, or ideally two temperature sensors are used:
* One mounted in a shaded area (north side of building)
* and sometimes another mounted on a sunny area (roof or south side)
Sometimes both are combined in a (e.g. roof) mounted weather station.

The time weigthed (e.g. 6 hr, 24hr, 48  or 72 hou

[2015-01-09 08:58] Mathadon opened #229 "G-value in Glazing type confusing"
As far as I can tell the g-value in Glazing types is not being used to determine the glazing performance. This may be confusing and people may try to use this parameter to change the building performance. Therefore it may be better to remove it?

[2015-01-09 10:16] rubenbaetens commented on #229
I know it's not used in the current window-model, though it's an important parameter of a glazing type. If we delete it, it must at least always be mentioned in the window data description somewhere. The only moment it could be of use is for window models like the one in ```FastBuildings``` which use a gA-value, but i don't know @saroele is using the same or a similar ```windows.data```-structure.

[2015-01-09 10:20] rubenbaetens commented on #225
After checking ```FastBuildings``` i'm thinking using a merge-scirpt won't work or will be overkill, as we *e.g.* need to allign the use of the data-structure for windows and need to update the air-nodes by A60 lumped volumes which you probably don't want in FastBuildings (?).

[2015-01-09 13:38] Mathadon commented on #229
We could calculate the g-value from the (other) provided parameters instead? This way it can serve as a check as well.
I’m concerned that people may misinterpret the use of the parameter if we leave it as it is.

[2015-01-09 13:51] rubenbaetens commented on #229
Actually you can't calculate it from the other parameters: the g-value is composed of the direct transmission of energy and the secondary dispensation of heat of the glazed surface toward the interior, which occurs on the basis of absorbed solar rays. As such, it's not just a function of the angle-dependent solar transmissions ...

[2015-01-09 15:09] arnoutaertgeerts commented on #163
Done in https://github.com/open-ideas/IDEAS/pull/230

[2015-01-09 15:40] rubenbaetens commented on #229
Also @GlennReynders think this is a way too important factor (often informational) to leave out. Could it solve something defining him by default as ```final``` and/or ```protected``` ?

[2015-01-10 08:40] Mathadon opened #231 "Derivatives of smoothMax, smoothMin, smoothLimit"
Currently no function exists for calculating the derivatives of smoothMax, smoothMin and smoothLimit. I need these functions so I'll add them. I'd like to test them using IDEAS  before making a pull request in the Annex library.

[2015-01-12 09:18] rubenbaetens commented on #163
@arnoutaertgeerts i get an error when checking ```IDEAS.Fluid.BaseCircuits.Interfaces.PartialValveCircuit``` saying
[code]
though i don't get why. Do you see it ?

[2015-01-12 09:20] rubenbaetens commented on #163
@arnoutaertgeerts found it: you wrote ```rhoStdTot``` instead of ```rhoStdTop```.

[2015-01-12 09:32] rubenbaetens commented on #163
@arnoutaertgeerts i get an error when checking ```BaseCircuits.Interfaces.PartialPumpCircuit``` saying
[code]
Do these propagations need to be deleted ?

[2015-01-12 10:32] rubenbaetens commented on #163
@arnoutaertgeerts i solved the ```rhoStdTot``` and ```ThermostaticValve``` error, the last one i don't really get.

[2015-01-12 14:53] rubenbaetens commented on #163
@arnoutaertgeerts it seems there is an error in ```BaseClasses.PumpSupply_dp``` as it is not balanced when you *Check* the component

[2015-01-13 09:47] rubenbaetens commented on #163
Closed in #233

[2015-01-13 09:47] #163 closed

[2015-01-13 15:27] rubenbaetens opened #237 "Negative qRel in HeatingCurve"
Within ```IDEAS.Controls.HeatingCurves.HeatingCurve``` on state ```qRel``` as
[code]
in order to keep ```qRel``` positive to calculate ```qRel^(1/m)```. However, while using the component i get errors during my simulation stateing that ```qRel``` becomes negative (while ```minSup=true```) during the iteration, forcing my simulation to stop.

Did you experience the same, @Mathadon @arnoutaertgeerts

[2015-01-13 16:30] damienpicard opened #238 "Problem with multiple unitTests for a single model"
Some unitTest mos files simulate the same model. They only change a parameter value. This causes a crash of the unit tests on my computer. Surpisingly, Filip does not get any errors.

I propose to anyway avoid using multiple unitTest for a single model. I will make a pull request.

[2015-01-13 18:15] rubenbaetens commented on #238
What if we e.g. want to unittest a model static and dynamic ? We make one single model containing both, or ... ?

[2015-01-14 07:42] rubenbaetens opened #239 "Variable and component visibility"
In many of the models, the word ```protected``` is rarely or not used; which results in a lót of (i.e. too much) data in the result files. Though I'm not sure how we deal best with this as many people might need different variables.

[2015-01-14 07:51] Mathadon commented on #239
I guess we should reason from a user’s perspective and make everything protected that only developers need. Still, this is not easy to determine. But I agree that we should start putting at least some variables in a protected clause.. I’ll try to pay more attention to it.

[2015-01-14 08:09] Mathadon commented on #238
To be clear:
Pump1Example.mo and Pump2Example.mo could be two different example models for the same pump model. It’s only when making multiple unit tests for the same example model that problems arise.

[2015-01-14 08:26] rubenbaetens commented on #239
@Mathadon ok, that makes sence.

[2015-01-14 08:35] Mathadon commented on #237
I have experienced this before as well. The problem is that Dymola integrates ‘too far’, and that it comes into a zone where the equation is no longer valid. A possible solution may be to make deltaX larger.

[2015-01-14 13:27] rubenbaetens commented on #237
The integration problem is solved by stating ```smoothMax(x1=0.01, ...``` instead of ```smoothMax(x1=0, ...```. As long as this minimal ```x1``` is below the minimal modulation of your heat source, this cause no error at all.

[2015-01-14 14:31] #237 closed

[2015-01-14 19:30] rubenbaetens commented on #238
@Mathadon ok, that makes sense.

[2015-01-14 19:31] #205 closed

[2015-01-14 19:33] rubenbaetens commented on #239
I suggest we review this anytime we 'update' a component model. What's key are temperatures, heat fluxes, mass flows, modulations ... but mainly: only once, not in every subcomponent.

[2015-01-14 19:33] #126 closed

[2015-01-14 19:34] #47 closed

[2015-01-14 20:09] rubenbaetens commented on #229
I propose I will make all glazing properties ```final```. It is true the g-value is not allowed to be varied, while actually, none of them are allowed to be varied cause the all depend strongly on each other. The only allowable way to vary glazings is by redeclaring them, making the properties ```final``` will enforce this.

Do we agree on this @Mathadon @GlennReynders ?

[2015-01-14 20:36] rubenbaetens opened #241 "Design heat losses"
We'll add the design heat loss computation as parameter in the building components, and propagate it to the interfaces together with the ventilation system to (semi-)automate the computation of the overall design heat loss per zone. As such, we can more easily do a parametric run for buildings with a heating system, even at neighborhood scale.

@GlennReynders has a first implementation of this.

[2015-01-15 08:51] damienpicard commented on #226
@rubenbaetens @Mathadon Micheal merged the changes we made. UnitTests are now running on my computer. However, I get for some models slightly different results than Filip. @rubenbaetens  could you try the instructions to make sure they are general?

[2015-01-15 11:20] Mathadon commented on #226
See also https://github.com/iea-annex60/modelica-annex60/pull/134#issuecomment-69975892

[2015-01-15 12:30] rubenbaetens commented on #211
@GlennReynders I suggest to solve this in ```Buildings.Components.BaseClasses.MonoLayerOpaque``` equally to ```BaseClasses.MonoLayerLucent``` where there is a ```if mat.gas then```.

[2015-01-15 13:36] rubenbaetens commented on #208
FYI, i just noticed there is a ```Modelica.Blocks.Logical.OnOffControler``` which acts like an hysteresis function around a reference signal width a deadband.

[2015-01-15 13:44] rubenbaetens commented on #208
FYI, @Mathadon, i just noticed there is a Modelica.Blocks.Logical.OnOffControler which acts like an hysteresis function around a reference signal width a deadband. Using this block instead of our ```HysteresisRelease```-function combined with a ```BooleanToReal``` made my number of State Events drop from 4.060 to 2.920.

[2015-01-16 08:41] #239 closed

[2015-01-16 09:39] Mathadon commented on #231
See https://github.com/iea-annex60/modelica-annex60/issues/152

[2015-01-16 09:39] #231 closed

[2015-01-16 10:53] Mathadon commented on #229
okay!

[2015-01-16 10:59] Mathadon opened #243 "COP calculation in heat pump"
Heat pump COP should be calculated based on the condensor outlet temperature. I will propose a fix.

[2015-01-16 13:34] Mathadon opened #244 "Glazing documentation"
Glazing.mo does not describe how to obtain the parameter values for other glazing types. I have added this in the documentation.

[2015-01-16 13:58] rubenbaetens commented on #244
Closed in #245

[2015-01-16 13:58] #244 closed

[2015-01-16 19:41] damienpicard opened #247 "Temperature sensor in air leakage"
@rubenbaetens Why is there a temperature sensor in the air leakage component while the component does not use it?

[2015-01-17 08:14] rubenbaetens commented on #247
For post-processing purposes ?

[2015-01-17 08:43] Mathadon commented on #247
It would then be best to enable this conditionally to avoid additional overhead in models that do not need it.

[2015-01-17 10:57] damienpicard commented on #247
The measured temperature is always equal to the temperature of the mixing volume in the zone for which we have a temperature sensor, as flow reversal is not possible. So I would just remove it.

[2015-01-17 14:47] rubenbaetens commented on #247
Solved in #248

[2015-01-17 14:47] #247 closed

[2015-01-19 14:13] damienpicard commented on #208
@rubenbaetens The implementation of `Modelica.Blocks.Logical.OnOffControler` is the same as `Modelica.Blocks.Logical.Hysteresis` except for the variable reference. Are you sure your models are controlled by the same hysteresis bounds? I can not explain the difference you get!

[2015-01-19 14:29] rubenbaetens commented on #208
@damienpicard you're right, i found out this weekend that it is because the ```OnOff``` splits the hysteresis in half up and below, so my temperature was not between 20 and 20.5 but between 19.75 and 20.25 ...

[2015-01-19 17:37] #202 closed

[2015-01-20 16:38] Mathadon commented on #228
Done

[2015-01-20 16:38] #228 closed

[2015-01-20 16:38] Mathadon commented on #243
Done

[2015-01-20 16:38] #243 closed

[2015-01-20 16:38] Mathadon commented on #227
Done

[2015-01-20 16:38] #227 closed

[2015-01-20 16:48] Mathadon commented on #238
merged

[2015-01-20 16:48] #238 closed

[2015-01-20 16:50] damienpicard commented on #187
The block for the running mean outside temperature block as defined in norm EN15251 using a continuous integration gives inaccurate results with Dasslt. The discrete version should be used.

[2015-01-20 17:02] damienpicard opened #251 "Unwanted revert in borefield"
I noticed that some of my changes in the borefield model are undone! I will push the original version again.

[2015-01-20 17:04] #251 closed

[2015-01-20 17:29] damienpicard opened #253 "Command simulate and plot for unit test"
In Annex 60, every example models have a command `simulate and plot` which runs the unit test script. This has the advantage of simulating and plotting the relevant variables of the example and so it helps the user to understand it. I would vote for doing so in IDEAS too.

Hier is an example of how it is done (use ** __Dymola_Commands **:
[code]

[2015-01-20 18:40] rubenbaetens commented on #229
Solved in #254

[2015-01-20 18:40] #229 closed

[2015-01-20 19:24] rubenbaetens opened #257 "Split of Climate- and User-based SimInfoManager"
With respect to #195, i propose to convert the ```SimInfoManager``` to a pure climate-based Sim-Info-Manager and moving all userbehaviour-based parameters to a seperate ```outer StROBeManager```. Unless someone has objections to this, @Mathadon @damienpicard @GlennReynders @cprotopa @arnoutaertgeerts @cprotopa ?

[2015-01-20 19:28] #223 closed

[2015-01-20 19:28] #133 closed

[2015-01-20 19:37] damienpicard opened #258 "Add a temperature security for production which avoid events"
The current implementation of this security in heat pump does not work. It would also be better to make a partial out of it. I'll make a pull request.

[2015-01-20 19:41] damienpicard commented on #257
fine for me.

[2015-01-21 08:22] Mathadon commented on #253
Make sure to make reference using ```modelica://```. If you use a full path then it will not work on our pcs.

[2015-01-21 08:22] cprotopa commented on #257
I agree as well. (twice!)

[2015-01-21 08:28] Mathadon commented on #257
Actually I’m not that fond of these inner/outer components. Are we sure we want to use this? I rather use a bus connector. At least then it’s clear which components use which inputs. Who does (not) agree?

[2015-01-21 08:39] Mathadon opened #259 "Using bus connections for boundary conditions"
We currently use inner/outer components (SimInfoManager) for managing our weather data / boundary conditions. For a number of reasons it would be more practical to use a bus connector. To be discussed next meeting!

[2015-01-21 08:40] Mathadon commented on #257
Fine for me, we can look at #259 later!

[2015-01-21 12:36] vanroyj opened #261 "Add functionalities for single-phase AC and DC grids"
Add wattsLaw for DC (unipolar) grids
Add adapter for single-phase AC and DC (unipolar) grids (Con1PlusNTo1)
in ```Electric/BaseClasses```

[2015-01-21 12:39] vanroyj opened #262 "Add pin-based converters"
Converters (w/ pins): rectifier, inverter, bidirectional converter
E.g., bidirectional converter required if simulating both AC and DC grids.

Converters (w/o pins): Power (P/Q) in and out
in ```Electric/BaseClasses```

[2015-01-21 16:58] damienpicard opened #263 "Electrical connection conditional in heating system"
In the commit: 0a8151e I made the electrical connection conditional.
I see that for the second time these commits are lost!

So what's the reason for the changes??

[2015-01-21 18:33] rubenbaetens commented on #263
For that same comit: what's the purpose of deleting ```P``` and ```Q``` but making a ```P_dummy``` and ```Q_dummy``` instead ? However, i don't see any conitional connection in that commit.

[2015-01-22 08:57] damienpicard commented on #263
Sorry, it is not the right commit that I showed! Let me make a pull request to show it.

[2015-01-22 11:08] Mathadon opened #265 "Disabling flow resistance in heat pumps"
I would like to add the option to disable the calculation of the pressure drop in heat pumps.  I'll make a pull request.

[2015-01-22 13:58] vanroyj opened #267 "Balanced three-phase grid and transformer"
After the implementation of the new transformer model, the implementation of the single-phase equivalent grid (for balanced three-phase grids) is a bit buggy.

Including the addition of a single-phase equivalent of the new transformer model.

[2015-01-22 15:32] damienpicard opened #268 "Improvements of borefield model"
- Borefield model should allow plugging Rb value
- initial temperature should be adaptable after initialization
- translation of sha could happen automatically

[2015-01-23 09:29] Mathadon commented on #268
Shall I add the TRT example?

[2015-01-23 13:00] damienpicard commented on #268
- increase tolerance of integrator

[2015-01-23 16:55] damienpicard opened #272 "Bug in assert of embedded pipe and unclear equations"
The equations of TABS are very unclear and therefore difficult to maintain.
For example:
[code]

Notice the multiplication: `A_floor*L_r`, but `L_r` is defined as `L_r=A_floor/RadSlaCha.T/nParCir`.

Furthermore, according to me, the assert checking if the floor surface is not too big for the assumption should use the surface divided by the number of parallel branches instead of the total floor sur

[2015-01-26 07:45] rubenbaetens commented on #263
Solved in #264

[2015-01-26 07:45] #263 closed

[2015-01-26 08:11] rubenbaetens commented on #261
Closed in #266.

[2015-01-26 08:11] #261 closed

[2015-01-26 14:33] damienpicard commented on #272
The following parameters are not used:

[code]

[2015-01-26 14:48] damienpicard commented on #272
Sorry, the assert check is correctly implemented.

[2015-01-27 10:14] cprotopa commented on #241
Does anyone know if it's possible to give the value of a **variable** to a **parameter**? @Mathadon?  Like for example the initial value or so? It would be useful to connect the Qnominal through the PropsBus, but then make it a parameter to be used in the heating systems.

[2015-01-27 10:31] rubenbaetens commented on #241
@cprotopa i found it, the key is to use ```(fixed=false)```:
[code]

[2015-01-28 09:00] cprotopa commented on #241
@damienpicard @Mathadon Is it a problem for you if I remove the `parameter QNom` from the `Partial_IdealHeating` and `Partial_HydraulicHeating` and put it directly in the `Interfaces.BaseClasses.HeatingSystem` ? By doing this I could then give it a default `QNom=building.QNom` in the `Building` interface. If you agree.

[2015-01-28 09:07] damienpicard commented on #241
@cprotopa I wouldn't like to put to much in the `Interfaces.BaseClasses.HeatingSystem` nor in `Interface.Building`, because I use them too and `QNom` makes no sense to me, as I'm using multiple systems.

If it is important for you and all your heatingSystems have this parameter, you could make an extension of `Building` where you add the parameter `QNom` and add it as an argument to the heatingSys

[2015-01-28 09:21] Mathadon commented on #241
I agree to Damien’s suggestion :)

[2015-01-28 10:01] rubenbaetens commented on #241
@damienpicard @Mathadon actually, i rather have a more content-full answer than *"I don't need it for my special case so i wouldn't do it"*. In that case there wouldn't be an electrical system in the interface either as none of you are doing `ID-EAS`. It's just the implementation of the design heat loss as in `EN 12831`, so not actually `Q_nominal` but `Q_design`, if that's no usefull information

[2015-01-28 11:12] damienpicard commented on #241
@cprotopa @rubenbaetens : what I would like to avoid it to increase the number of parameters you need to fill in, especially if their use are case specific. For example, the parameter VZones was in heating system (without default value), while lots of heating systems do not need such a parameter.

Adding parameter to `Structure` which calculates the design losses of the structure is a different ma

[2015-01-28 12:24] rubenbaetens commented on #241
@damienpicard Well, that's the point of it; The interfaces' baseclasses `HeatingSystem`, `VentilationSystem` etcetera are made to be part of the `Building`-interface. If there is e.g. a `Q_design` parameter in the interfaces' baseclass `HeatingSystem`, it's explicitely there nót to be filled in by the user, but by default to be propagated in the `Buildings`-interface as `replaceable heatingSystem(

[2015-01-28 13:16] Mathadon commented on #241
I have to agree with Damien that it does not make sense to specify a nominal power for a heating system. What would you use this new parameter for in the heating system? If it's for dimensioning a boiler or for post-processing then I suggest you extend the HeatingSystem such as suggested by @damienpicard.

It's good that this parameter would have a default value but that still leaves you with a pa

[2015-01-28 13:38] rubenbaetens commented on #241
OK, so i conclude most of you don't use `HeatingSystem`-baseclass by default as part of the `Buildings`-interface. In that case we could define a `Boolean IDEAS = true;` in the `Buildings`-interface and define those 'undesired' parameters as `annotation(Dialog(enable=IDEAS));` so that they only exist if properly propagated in the `Buildings`-interface (?).

[2015-01-28 14:28] vanroyj commented on #267
@rubenbaetens
I updated the three-phase and balanced three-phase grid, including the transformer models. You should check your implementation of the hotspot calculations. As I got some errors when compiling, I put everything related to your calculations in comment...

See branch https://github.com/open-ideas/IDEAS/tree/issue267_balanced3Pgrid

The models are not final, as I still have to look into

[2015-01-28 19:28] rubenbaetens commented on #267
@vanroyj you're correct that we should distinct in names between a single-phase model and a single-phase equivalent of a three-phase model. I presume the options are `3P`, `3PEq`, `1P` on the one hand and `3P`, `1PEq`, `1P` on the other hand ?

[2015-01-28 19:50] rubenbaetens commented on #267
@vanroyj i re-added the thermal part in the transformers, let me know if you still get an error (and if so: which one).

[2015-01-29 09:02] Mathadon commented on #268
@damienpicard this can be closed?

[2015-01-29 09:02] Mathadon commented on #265
Merged

[2015-01-29 09:02] #265 closed

[2015-01-29 09:03] Mathadon commented on #187
@damienpicard  Can this be closed?

[2015-01-29 09:05] Mathadon opened #275 "hCon calculation in InteriorConvectionWindow"
hCon is calculated in InteriorConvectionWindow.mo although it is not used.

I'll make a pull request for removing this.

[2015-01-29 09:11] rubenbaetens commented on #275
Closed in #276

[2015-01-29 09:11] #275 closed

[2015-01-29 09:39] damienpicard commented on #268
Nope, I'm working on other improvements:

- add sandbox experiment validation.
- add double U-type

[2015-01-29 09:41] #187 closed

[2015-01-29 09:55] rubenbaetens commented on #257
Closed in #274.

[2015-01-29 09:55] #257 closed

[2015-01-29 13:28] rubenbaetens commented on #241
Closed in #277.

[2015-01-29 13:28] #241 closed

[2015-01-29 15:16] vanroyj commented on #267
@rubenbaetens I prefer 3P, 1PEq and 1P, since it is a single-phase equivalent.

I will check the thermal part tomorrow

[2015-01-30 09:08] vanroyj commented on #267
@rubenbaetens When compiling TestGridGeneral3P, I get the following error in the simulation tab:

dsmodel.c(29) : warning C4553: '==' : operator has no effect; did you intend '='?
dsmodel.c(29) : error C2143: syntax error : missing ')' before ';'
dsmodel.c(29) : error C2059: syntax error : ')'
dsmodel.c(144) : warning C4090: 'function' : different 'const' qualifiers
dsmodel.c(176) : warning C4090:

[2015-01-30 13:08] rubenbaetens commented on #267
@vanroyj i don't think this error is caused by the thermal part of the transformer, as `AC.Examples.Components.Transformer` in `IDEAS.Electric.Distribution` which tests the `Transformer3P_MvLV` works just fine.

[2015-01-30 13:10] rubenbaetens commented on #267
@vanroyj even more `AC.Examples.TestGridGeneral3P` actually works just fine on my computer.

[2015-01-30 22:10] Mathadon opened #279 "EmbeddedPipe model validation"
We should have a validation of the TABs model. I'll make a pull request based on Koschenz.

[2015-02-03 09:47] vanroyj commented on #267
@rubenbaetens apparently, it has something to do with the simInfoManager. After several tries, I just tried to put the absolute path to the input-folder, and then it worked...

[2015-02-03 11:02] vanroyj commented on #267
@rubenbaetens
I will make some last adaptations before a pull request, in order to make:
 - the hot spot calculations conditional, as not everyone requires these calculations
 - the use of the transformer conditional, as the simulations of the transformer is not always required, e.g., when connecting different grids to each other

[2015-02-03 12:20] rubenbaetens commented on #267
@vanroyj on that last comment: i personally don't use the `AC.GridGeneral` model, i always use `AC.Components.GridOnly1p` or `AC.Components.GridOnly3p` ...

[2015-02-03 12:30] vanroyj commented on #267
@rubenbaetens you are right, the easy way of not including the transformer instead of making the transformer/gridGeneral model more complex to do this :)

[2015-02-03 14:25] Mathadon opened #282 "Changed InteriorConvection implementation"
I'd like to improved the implementation of InteriorConvection. I'll make a proposal.

[2015-02-03 19:37] rubenbaetens commented on #267
Solved in #281, after changing some model names to _3P and _1PEq @vanroyj.

[2015-02-03 19:37] #267 closed

[2015-02-04 14:42] Mathadon opened #284 "Linearisation of HeatRadiation"
```HeatRadiation``` contains the following equation:
[code]

it is not clear to me where the factor 0.8 comes from. Does this need to be removed?

[2015-02-05 07:44] rubenbaetens commented on #195
Closed in #286

[2015-02-05 07:44] #195 closed

[2015-02-05 08:28] rubenbaetens commented on #157
Moved to https://github.com/rubenbaetens/BS2015

[2015-02-05 08:28] #157 closed

[2015-02-08 13:13] Mathadon commented on #268
I have some more improvements that I'll add in a pull request.

[2015-02-08 18:21] Mathadon opened #289 "states on layer surfaces"
I changed the implementation of IDEAS.Buildings.Components.BaseClasses.MonoLayerOpaqueNf so that layer surfaces contain a state (instead of a resistance). This reduced the simulation time of ```IDEAS.Buildings.Validation.Tests.Case600```from 85s to 60s.
Depending on the case I think that the gain can be larger. We will need to look further into this.

[2015-02-08 18:30] Mathadon commented on #289
The reason is the following.
Before:
[code]

After:
[code]

Dymola does not like large linear systems..

[2015-02-08 20:07] rubenbaetens commented on #289
@Mathadon How do the unittests behave with states on the surfaces ?

[2015-02-09 13:01] rubenbaetens opened #290 "Check-up of ConstantAirFlowRecup"
I use the model `IDEAS.VentilationSystems.ConstantAirFlowRecup` as a default *basic* ventilation system in many models with `IDEAS.Media.Air` as medium. However, for a two-zone model, the following error constantly occurs during the simulation
[code]
If i decouple the zone outlet-flow from the zone itself (as was somehow the previous implementation) and assume the outlet flow is at a constant temp

[2015-02-09 13:19] Mathadon commented on #290
You could try setting ```allowFlowReversal = false``` where appropriate.

[2015-02-09 13:20] rubenbaetens commented on #290
All problems seem solved when using `IDEAS.Experimental.Media.AirPTDecoupled ` as Media. Simulation time ecreased bij 32% too. Should we use this as a default for the air medium in zones and interfaces ?

[2015-02-09 15:00] #290 closed

[2015-02-09 15:09] rubenbaetens opened #291 "Checkup of TRV BaseCircuit"
I did some numerical tests on heating systems with the implemented `..Fluid.BaseCircuits` and found out the `..Fluid.BaseCircuits.ThermostaticRadiatorValve` *seems* numerically slow. To give an idea:
[code]
Question is, whether it's caused by the choice for a `..Fluid.Actuators.Valves.TwoWayQuickOpening` or the accompagning `k`-value of the `PID`. Any experience on this @arnoutaertgeerts ?

[2015-02-09 15:25] rubenbaetens commented on #291
@arnoutaertgeerts a TRV is usually approximated by a `P`-controller instead of a `PID`-controller, though they can be unstable ...

[2015-02-10 07:48] Mathadon commented on #291
What time constant do you use for the PID?

[2015-02-10 07:53] rubenbaetens commented on #291
@Mathadon i was mistaken, the component was named `PID` but it seemed to be a `P`-controller, which is actually a better representation of a thermostatic radiator valve. So tehre is only a `gain`-parameter to be chosen.

[2015-02-10 11:24] Mathadon commented on #289
It has a lot to do with it :)

Unit tests produce similar results.

[2015-02-10 11:57] Mathadon commented on #152
I have continued work on this so I'm reopening this issue.

[2015-02-10 12:42] arnoutaertgeerts commented on #291
I do not have any more experience than you with that component. So for now
I don't know

On Tue Feb 10 2015 at 8:53:12 AM rubae <notifications@github.com> wrote:

[2015-02-10 14:13] Mathadon commented on #152
I finished the grouping. Simulation time for ```IDEAS.Buildings.Validation.Tests.Case630``` was reduced from 98 to 82 seconds. The speed gain for larger models is probably more since this model only contains 8 surfaces.

[2015-02-11 07:17] #291 closed

[2015-02-11 07:19] rubenbaetens opened #295 "CPU-aimed optimisation"
This issue (and related branch) will be used to evaluate #152, #289, #284 and #282 for cpu-time.

[2015-02-11 07:50] rubenbaetens commented on #295
All tests will be performed with `Radau IIa` as solver in `Dymola 2015 FD01` on a `Intel(R) Xeon(R) CPU E5-1620 v2 @ 3.70GHz` with 16.0 GB RAM on a 64-bit Operating System (i.e. Windows).

[2015-02-11 08:00] rubenbaetens commented on #295
@Mathadon in the attempt to run my reference model with #289, i get the error
[code]
when starting a simulation. You experienced a similar problem once in this branch ?

[2015-02-11 08:16] rubenbaetens commented on #295
I started with `InDiCES.TestBed.Numerics.SingleBuilding`, a two-zone dwelling with hydronic heating system, central thermostat in zone one and thermostatic radiator valves in zone two.

The reference model and results is current `develop`-branch, denoting
[code]
with and log-file denoting
[code]

[2015-02-11 08:18] rubenbaetens commented on #295
The results for the `issue152_groupedEnvironmentCalculations` do not show a significant improvement for the single-building model:
[code]
with a log-file denoting
[code]

[2015-02-11 08:26] rubenbaetens commented on #295
@Mathadon concerning the error in #289, i also get following error or warning which might cause the error denoting the inability to sort th initialization equations:
[code]

[2015-02-11 08:27] Mathadon commented on #295
For the error, can you try removing the initial equation in ```IDEAS.Buildings.Components.BaseClasses.MonoLayerOpaqueNf```?

I did expect a larger speed increase for these models. However, judging from the non-linear system size I expect that they dominate the computation time so that's probably the cause why other changes do not help much.

[2015-02-11 08:28] Mathadon commented on #295
Can you check which systems dominate computation time by settings ```Advanced.GenerateBlockTimers=true```?

[2015-02-11 08:36] rubenbaetens commented on #295
The results for the issue `issue289_layStateSurface` do not show a significant improvement for the single-building model:
[code]
you can clearly see the set of linear equations changing, summarized as
[code]
and the non-linear equations changing, summarized as
[code]

[2015-02-11 08:40] Mathadon commented on #295
Okay, in this case a possible explanation would be that you have very small systems to start from (lumping walls into 1?) so then these changes do not cause any efficiency gains. However in my models I have 16 surfaces connected to a zone and then the change is more noticeable.

[2015-02-11 08:47] rubenbaetens commented on #295
@Mathadon i don't lump walls into 1 here.

[2015-02-11 08:52] rubenbaetens commented on #295
@Mathadon you can clearly see `issue289_layStateSurface` adds thermal mass to a zone compared to `develop`. It's consistent that when `develop` switches the heat pump _on_ 10 times, `issue289` switches the heat pump _on_ 9 times in exactly the same period, but the durations of the _on_state are about 10% longer resulting in a comparable energy consumption.

[2015-02-11 09:10] rubenbaetens commented on #295
@Mathadon with `issue289_layStateSurface` i get following
[code]

[2015-02-12 10:24] Mathadon opened #298 "Calculation of view factors in rectangular zones"
For rectangular zones it's possible to make an estimate of the view factors for each plane. This would allow decoupling of some equations since then no radiative star point exists. I expect this would lead to performance improvements. I'll propose an implementation that is disabled by default but that can be enabled if the user desires this.

[2015-02-13 07:10] rubenbaetens commented on #289
Why did you close this @Mathadon ?

[2015-02-13 07:17] Mathadon commented on #289
I figured it could be closed since the branch is merged, no?

[2015-02-13 09:37] rubenbaetens commented on #289
Ah, ik had het gemerged naar een 'trial' branch, nog niet in develop ... not convinced yet.

[2015-02-13 09:39] rubenbaetens commented on #295
@Mathadon after all, i got it down to the finding that 41% of my cpu-time is event-handling and the remaining 59% is my model of which 48%-pt is the dynamic section.

[2015-02-13 09:42] Mathadon commented on #295
Did you try turning off all events (ie disable heating system controller) for finding this figure? Otherwise I’d be interested to see that result as well!

[2015-02-13 09:47] rubenbaetens commented on #295
@Mathadon Well, no: Given that `Advanced.GenerateBlockTimers=true` there is a line that says `Outside of model block 3`. If I lookedfor that in `dsmodel.c`, i found it was the time required for modelica in the model once the event was detected (if i understood it correctly).

[2015-02-13 09:50] Mathadon commented on #295
Oh, I never looked into that, interesting.

However do note that due to events the number of time steps increases so the total amount of overhead caused by the events is more than just this block.

[2015-02-13 10:42] rubenbaetens commented on #295
@Mathadon is tehre a way to see what exactly caused your event at a certain time ? I have a few which i can't seem to explain based on my hysteresis function.

![capture](https://cloud.githubusercontent.com/assets/1235535/6186071/4d59fae0-b375-11e4-8c26-330e688b1e6d.JPG)

[2015-02-13 10:44] Mathadon commented on #295
In options in tab ‘Debug’ enable ‘Events during simulation'

[2015-02-13 10:45] rubenbaetens commented on #295
Of course, shame on me.

[2015-02-13 11:07] rubenbaetens commented on #295
@Mathadon ok, so ALL my events are hysteresis functions, _i.e._ one for my setpoint temperature of my room and one in the heatpump to check the modulation.

[2015-02-13 11:53] rubenbaetens commented on #295
@Mathadon i think this `Outside of model block 3` in `Advanced.GenerateBlockTimers=true` means something else: If i do't ask my solver to output at 600 seconds but only at 2 hours (non-equidistant and including events), my simulation time drops by 32%.

[2015-02-13 11:57] Mathadon commented on #295
And how much of the ‘outside of block’ remains in this case? Because it may be both. Can you try outputting only 1 time step?

[2015-02-13 13:00] rubenbaetens commented on #295
@Mathadon mm, the ratio remains 40% of the complete time.

[2015-02-13 14:13] Mathadon opened #302 "Numerical problems for large walls?"
Does anybody know if these type of equations can cause numerical problems (because of the very large and very small coefficients)?:
[code]

[2015-02-14 11:14] rubenbaetens commented on #302
@Mathadon i would say this doesn't give any problem if nominal values are given, but what do these 1E-07 numbers represent ?

[2015-02-14 11:21] rubenbaetens opened #303 "Events from hysteresis with filter"
@Mathadon I'm trying to find out if i can make my model faster by not depending on the events so much. I got rid of 50% of my state events by removing the hysteresis function in my heat pump model, denoting that the minimal modulation is equal the minimum required modulation at starting conditions. The result is a cpu-time decrease of 22%.
I'm trying to resolve the last state events which are caus

[2015-02-14 12:07] #222 closed

[2015-02-14 12:08] #208 closed

[2015-02-16 07:40] Mathadon commented on #303
It's the hysteresis itself that generates the event. The fact that the change caused by this event is continuous, does not matter for Dymola, it will still generate an event. If you want to avoid the event then you can use the hysteresis controller with a real output that Roel made.

[2015-02-16 07:41] Mathadon commented on #302
I think they're thermal capacities or resistances. I also do not think it should be a problem.

[2015-02-18 20:03] saroele opened #304 "Peaking PFuel in boiler"
@arnoutaertgeerts

I get strange values for PFuel in the boiler model.  I looked into the code but can't find exactly why.

Eta has normal values, all q-flows also, but PFuel peaks at some moments.  See graph below. Do you have an idea what's going on?

Something else: when looking through the code I thought I had found the bug, but I was confused by the definition of release.  To me, it's logic w

[2015-02-19 09:24] rubenbaetens commented on #304
@saroele i have a similar-but-opposite strange thing in the old heat pump model actually. In a one-year simulation, my COP fluctuates (visually) correctly and so does my Q_flow, but my resulting electric load is like a flat-line including the on-off behaviour. That is, it looks like independent of the COP and Q_flow, het always gives about the same electric load when _on_ ...

[2015-02-19 09:30] #303 closed

[2015-02-19 13:40] saroele commented on #304
That should not be, and it was not in the past.  Can you give an exact ref
of which model in which commit you use?

In the mean time, we have modified the boiler model and solved the issue. I
will have to discuss with Arnout about the model when he's back from
holiday (and maybe after 9 march).

roel

On Thu, Feb 19, 2015 at 10:24 AM, rubae <notifications@github.com> wrote:

[2015-02-22 19:02] #295 closed

[2015-02-22 19:04] rubenbaetens commented on #284
0.8 indeed has to removed, i did it in develop.

[2015-02-22 19:04] #284 closed

[2015-02-22 19:07] #225 closed

[2015-02-22 19:20] saroele commented on #304
why did you close this Ruben?

[2015-02-22 19:22] saroele commented on #225
I plan to investigate in the coming months if air-node based FastBuildings is possible.  I will come back to this point then, and reopen this issue if I think it makes sense.

[2015-02-23 07:18] rubenbaetens commented on #304
@saroele as you said "In the mean time, we have modified the boiler model and solved the issue." i thought is was solved.

[2015-02-25 13:34] Mathadon commented on #152
Another possible improvement would be not to put a 'temperature' Te and Tamb on the bus but to create heat ports for this purpose. This way it would be possible to read the total ```Q_flow``` in ```SimInfoManager``` to know the total heat loss to the environment..

[2015-02-25 15:41] #302 closed

[2015-02-25 15:44] Mathadon opened #307 "Number of states for insulation"
I have an insulation layer of 40 cm in IDEAS that is discretised into 5 states. However due to the low density of insulation these states contain very little energy so it seems that a discretisation of 1-2 states should be sufficiently accurate from an energetic point of view.
Reducing the number of states would of course reduce the computation time. @rubenbaetens do you have an idea how the calcu

[2015-02-26 12:26] vanroyj opened #309 "Add single-phase AC grid models"
To add: single-phase AC grid models, including phase and neutral conductor.

[2015-02-26 12:27] vanroyj opened #310 "Add DC grid models"
To add: unipolar DC grid models

[2015-02-26 12:28] vanroyj opened #311 "DC models PV system"
Add models to connect PV systems to a DC grid

[2015-02-26 12:30] vanroyj opened #312 "Modify battery storage models"
Add latest version of battery storage models, including models to connect to DC grids

[2015-02-26 12:30] vanroyj opened #313 "Add EV model"
To add: EV model, extending the battery storage model.

[2015-02-26 15:32] Mathadon opened #314 "parameters in IDEAS.Fluid.HeatExchangers.GroundHeatExchangers.Borefield.Data.Records.BorefieldData"
Some variables such as ```m_flow_nominal```in ```IDEAS.Fluid.HeatExchangers.GroundHeatExchangers.Borefield.Data.Records.BorefieldData``` are not a parameter. Is this intentional?

[2015-03-03 10:43] Mathadon opened #315 "Annex58 twin houses test/validation"
Can the Annex58 validation model be added to the repository? I'd like to use it to see if some changes improve the prediction performance.

[2015-03-03 14:00] rubenbaetens commented on #315
@GlennReynders has the best latest version of the model, though i don't know if its `develop`-compatible. We were about to use it in a journal paper though (if we ever come to it), so maybe ...

[2015-03-03 14:05] rubenbaetens opened #316 "Loads of Hp_AirWater_TSet"
I'm using `Fluid.Production.Hp_AirWater_TSet` from `develop` in a heating system with radiators and heating curve; it heats the building well but get the resulting thermal and electrical load (see below). What strikes me is that the electrical load forms a (kind of) flatline, and doubting if this is correct ... any thoughts @arnoutaertgeerts @saroele ?

![capture](https://cloud.githubusercontent.c

[2015-03-04 12:35] damienpicard opened #317 "Division by zero in zone with only one surface"
In the model *IDEAS/Buildings/Components/BaseClasses/ZoneLwDistribution.mo*
equation: `  Real[nSurf] F=A ./ (ones(nSurf)*sum(A) - A) "view factor per surface"; `
leads to a division by zero for nSurf = 1.

I guess this can be avoided using:
` Real[nSurf] F= if nSurf > 1 then A ./ (ones(nSurf)*sum(A) - A) else zeros(nSurf) "view factor per surface";` instead?

[2015-03-04 12:45] rubenbaetens commented on #317
Well, you could solved it that way if you want, but maybe you should reconsider why you want to have a zone with only one surface in the first place ... this sounds like saying "i get an error in my stratification model when i ask to have one node in my storage tank" cause it's just not made for it.

[2015-03-04 13:09] damienpicard commented on #317
I might want to avoid the complexity of stratification... If the formula for radiation resistances is still correct for nSurf = 1, I would add this possibillity. A zone with only 1 surface is indeed not physical but could be used for debugging (which is actually my case).

[2015-03-04 13:14] rubenbaetens commented on #317
Maybe the other way works to: if you make sure it doesn't work for 1 surface, it avoides 'bullshit in, bullshit out' problems for those not certain what they're modelling ;) Solve it the way you want, the proposed solution looks ok.

[2015-03-05 11:34] damienpicard opened #318 "Confusion between epsLw and epsSw"
I think there is a mistake in ZoneLwGainDistribution. According to me, the epsLw and epsSw are mixed up in the following equations:
[code]

[2015-03-05 11:39] rubenbaetens commented on #318
@damienpicard epsLw and epsSw aren't mixed, the descriptions are though.

[2015-03-06 08:49] GlennReynders commented on #315
It is indeed not compatible with develop. Indeed when we ever come to the
journal paper, I can make the transition. However I'm not able to put it
high on the agenda for the moment (say first month).

2015-03-03 15:00 GMT+01:00 rubae <notifications@github.com>:

[2015-03-08 11:04] Mathadon opened #319 "Factor 0.96 in ZoneLwGainDistribution"
There is a factor 0.96 in the calculation of ```weightFatorDif``` and ```weightFatorDir```. Looking at the rest of the implementation it seems that 4% of the incoming energy disappears due to this factor. Can it be removed?

[2015-03-08 12:37] rubenbaetens commented on #319
This is the solar radiation that leaves the room again after reflection(s). The 4% is given in the BESTEST but is ofcourse different for all case designs.

[2015-03-09 16:06] saroele opened #320 "Tagging and listing as Modelica library"
Dietmar explained how we can get IDEAS listed properly on the Modelica website.
See here: https://github.com/open-ideas/FastBuildings/issues/6

So we'll have to add proper git tags to our releases.

[2015-03-12 14:45] tbeu opened #323 "sh.exe.stackdump"
Is sh.exe.stackdump really required to be in the repo?

[2015-03-16 14:47] Mathadon opened #324 "Definition of epsLw in Material.mo"
In ```IDEAS.Buildings.Data.Interfaces.Material``` there is:

[code]
I would expect the following to be better:
[code]
also models like ```IDEAS.Buildings.Components.BaseClasses.MultiLayerOpaque``` use ```epsLw``` so then it does not really make sense to have ```epsLw_b```. Can some uniformity be created for this parameter?

[2015-03-16 14:49] Mathadon commented on #323
I think we can do without.
This should be fixed on develop, thanks for reporting!

[2015-03-16 14:49] #323 closed

[2015-03-20 05:47] Mathadon commented on #319
Best to indicate this in the documentation, or add it as a parameter?

[2015-03-20 06:08] Mathadon commented on #307
@rubenbaetens ?

[2015-03-25 08:29] Mathadon opened #327 "Thermal models of non-homogeneous walls"
Walls currently assume homogeneous properties for density, heat capacity and thermal conductivity. However for wall components such as hollow concrete blocks this approximation could be improved. It would be nice if we had some types that take into account this non-homogenity.  Does any of you know good thermal models for this?

[2015-03-25 12:05] GlennReynders commented on #327
Filip,

Typically an equivalent U-value or lambda-value is calculated to implement
these effects. I don't think this feature is needed for general purpose
modelling.
However, thermal bridging effects (2D or 3D) are a different matter and
could be an important improvement.

G.

2015-03-25 9:29 GMT+01:00 Filip <notifications@github.com>:

[2015-03-25 18:05] Mathadon commented on #259
Fixed in #301

[2015-03-25 18:05] #259 closed

[2015-03-25 18:05] Mathadon commented on #258
This was merged in #260

[2015-03-25 18:05] #258 closed

[2015-03-28 22:10] Mathadon commented on #327
Do you have a reference for the equivalent U-value that I can have a look at?

[2015-03-28 23:21] Mathadon commented on #289
@mathadon need to give some good examples

[2015-03-29 09:06] rubenbaetens commented on #327
@Mathadon the one-dimensional thermal resistance of two parallel thermal resistors is basic physics, no ? http://web.mit.edu/16.unified/www/FALL/thermodynamics/notes/node118.html

[2015-04-09 10:51] vanroyj commented on #262
See pull request https://github.com/open-ideas/IDEAS/pull/328 for implementation

[2015-04-10 08:14] arnoutaertgeerts opened #329 "Propagate parameters in BaseCircuits"

[2015-04-10 12:31] vanroyj commented on #312
See pull request https://github.com/open-ideas/IDEAS/pull/331

[2015-04-10 13:58] vanroyj commented on #309
See pull request https://github.com/open-ideas/IDEAS/pull/332

[2015-04-10 14:50] arnoutaertgeerts opened #333 "Radiator model massDynamics = energyDynamics"
In the [`RadiatorEN442`](https://github.com/open-ideas/IDEAS/blob/develop/IDEAS/Fluid/HeatExchangers/Radiators/RadiatorEN442_2.mo) model the massDynamics parameter is set equal to the energy dynamics:

[code]

Shouldn't you be able to set these separately?  If I understand correctly, this model is copied from Annex60?

[2015-04-10 15:35] Mathadon commented on #333
This should indeed be possible. Will you make an issue for this or shall I?

Op 10-apr.-2015 om 16:50 heeft arnoutaertgeerts <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

In the RadiatorEN442<https://github.com/open-ideas/IDEAS/blob/develop/IDEAS/Fluid/HeatExchangers/Radiators/RadiatorEN442_2.mo> model the massDynamics parameter is set equal to the energy dy

[2015-04-10 16:12] arnoutaertgeerts commented on #333
You can do it, where should it actually be submitted?

[2015-04-11 07:15] Mathadon commented on #333
On Annex60 github since that's where we merge the model in from:
https://github.com/iea-annex60/modelica-annex60/pull/215

[2015-04-11 07:16] Mathadon commented on #333
When the change has been merged, I'll need to make a new merge from Annex 60 into IDEAS.

[2015-04-20 14:51] Mathadon commented on #333
This has been merged on the Annex60 library. I'm waiting for some other pull requests before merging Annex 60 again into IDEAS.

[2015-05-05 15:25] Mathadon opened #334 "Convert algorithm section to equation section in SolarTime.mo"
SolarTime.mo contains an algorithm section where this is not required. I'll fix this.

[2015-05-06 09:52] damienpicard opened #336 "No time dependency for SlabOnGround"
The model `SlabOnGround` implementation and its documentation indicates that the heat transfer to the ground is periodic with the month. This is consistant with the norm `ISO 13370`.

However, the equation for the heat flow uses a constant value `m` for the month number, while this should vary from 1 to 12. What's the reasoning behind this?

Equation from the norm:
![image](https://cloud.githubuse

[2015-05-06 09:58] rubenbaetens commented on #336
@damienpicard originally there was an equation for m making it continu between 0 and 12 (i.e. allow half months), but after discussing with @GlennReynders we recently made it constant. We're actually not sure if m is considered to be constant or not in the standard in its current implementation. The above stated equation assumes static temeprature theta_i and theta_e and factor m makes them transi

[2015-05-06 10:25] damienpicard commented on #336
@rubenbaetens  If I understand the norm correctly, the cos exactly make the theta_i and theta_e time varing. hat{theta} are the amplitudes, and bar{theta} are the average. So if you use the forumlation A.3 (as given above) making the cos time dependent is enough.

Furthermore, by chosing m=7, you chose the highest ground temperature. Wouldn't you underestimate the losses then?

[2015-05-13 14:21] thorade opened #337 ""official" citation"
I want to cite IDEAS in a conference apaper - what do you want me to cite?
Both references from the ReadMe?
If you have a BS2015 paper I could also cite that.

And a suggestion: you could add DOIs (as links) to the ReadMe,
makes life even easier.

[2015-05-13 14:57] Mathadon opened #338 "Merging Annex 60"
The TMY reader implementation has changed in the Annex 60 library. I have merged the new implementation into branch https://github.com/open-ideas/IDEAS/tree/mergeAnnex60 . @rubenbaetens can you have a look at the changed implementation and fix it (when your deadlines are past)?

[2015-05-13 18:04] rubenbaetens commented on #338
is there something to be fixed ? :)

[2015-05-13 18:08] rubenbaetens commented on #337
Untill now we indeed used both references as official IDEAS reference, or the oldest one and the url of the github page. But we indeed just submitted a BS2015 paper which (or whose future journal version) will become the official reference together with the url of the github page. The paper is submitted as:

[code]

[2015-05-13 18:32] Mathadon commented on #338
Yup, they removed the 'time' input of the block and I'm not sure if the new implementation is consistent with the assumptions we make.

[2015-05-15 11:10] thorade commented on #337
OK, thanks.

[2015-05-15 11:10] #337 closed

[2015-05-19 09:54] Mathadon commented on #337
@inproceedings{IDEAS,
address = {Hyderabad},
author = {Baetens, Ruben and De Coninck, Roel and Jorissen, Filip and Picard, Damien and Helsen, Lieve and Saelens, Dirk},
booktitle = {Submitted to Building simulation 2015},
title = {{OpenIDEAS - An open framework for integrated district energy simulations}},
year = {2015}
}

[2015-05-19 10:00] thorade commented on #337
Yes, I have used the following:

[code]

[2015-05-19 10:01] Mathadon commented on #337
that's probably even better:)

[2015-05-20 07:59] damienpicard opened #339 "Change fixed radiation variables into parameters."
The radiation calculations in `IDEAS.Buildings.Components.BaseClasses.ZoneLwGainDistribution` are using variable with fixed values during the simulation.

[code]

Would it be possible to make them as parameter with `fixed` = false and defined their values in initial algorithm? That would reduce the number of equations.

[2015-05-20 12:48] rubenbaetens commented on #339
@damienpicard they were (once) defined as a variable as we couldn't propagate paramaters through input/output-ports, while indeed they may be considered as a parameter.

[2015-05-20 14:25] damienpicard commented on #339
Actually, I wonder if the inputs couldn't be propagated as parameters using propbus?

[2015-06-10 07:30] Mathadon opened #340 "Small time constants in borefield model"
Resistance Rgg in SingleUTubeInternalHEX.mo can lead to relatively small time constants, on the order of 20 s. If this is physical then it would be nice to have an option for removing this resistor. Otherwise there may be a bug in the code.

[2015-06-12 11:47] Mathadon opened #341 "Window with two shading components"
I could use a window model with two shading components connected in series. I think we can simply extend the existing model. I'll propose an implementation.

[2015-06-12 12:07] Mathadon opened #342 "Shading device for shade from other buildings"
We could use a component that calculates the shade cast by other buildings. I'll propose an implementation.

[2015-06-12 18:44] Mathadon opened #343 "Diverged unit tests"
Unit tests have diverged after af12c690e00e3d750f57703660fa21e6eaf162fc .
I'll make a pull request to fix this.

[2015-06-16 10:57] rubenbaetens commented on #341
What kind of shading are we talking about then ?

[2015-06-16 10:59] Mathadon commented on #341
For instance from buildings and trees, at the 'horizon'

[2015-06-16 11:02] rubenbaetens commented on #341
Yeah, i thought so. I wouldn't call this a shading component. Usually this included in an horizon definition (see other comment) which is then used in all components which require it, as it is part of the calculation of the incident solar radiation.

[2015-06-16 11:08] Mathadon commented on #341
Note all components have the same shading though?

[2015-06-16 11:49] rubenbaetens commented on #341
No, that's why you define a 360° horizon.

[2015-06-21 08:51] rubenbaetens commented on #343
Is this your fix ? https://github.com/open-ideas/IDEAS/commit/26e4aaa65ca885d63fc9cffd0d791ef0b278b252

[2015-06-21 08:53] rubenbaetens commented on #343
Accepted in #344.

[2015-06-21 08:53] #343 closed

[2015-07-05 09:35] Mathadon opened #349 "Heating controllers"
```IDEAS.Controls.ControlHeating``` contains controllers that use noEvent to avoid events. This however leads to unpredictable results and to large changes in results as a function of the chosen tolerance. I suggest to delete these models or move them to a deprecated folder. I'm removing the unit tests using these models since they often produce 'errors'.

[2015-07-08 08:21] Mathadon opened #351 "linearisation options"
Some linearisation options are missing. I will propose some extensions.

[2015-07-08 14:47] Mathadon opened #352 "Port for checking conservation of energy"
I'd like to add a heatPort in propsBusses where all windows, walls etc can draw heat from when exchanging heat with the environment. This way this port can be used to monitor the total heat flow in and out of the building. This would allow conservation of energy to be checked.

Are there any objections against this?

[2015-07-08 15:26] damienpicard commented on #352
What do you do with the radiation through window for example?

[2015-07-09 07:57] #334 closed

[2015-07-09 07:58] rubenbaetens commented on #352
And what do you do with internal mass ? It's not because the outer wall at the outside gives heat to the environment, that the building zones loose heat.

[2015-07-09 08:00] rubenbaetens commented on #349
I agree to remove the unittests on this. Are they used in other tests, e.g. BESTEST ? We'll have to see then later where to move them to.

[2015-07-09 08:02] Mathadon commented on #352
This can indeed be added at a later stage.
The current suggestion allows to check if the integral of all heat entering the building is ~ zero over the period of one year. Adding internal energy of the building should give a sum that is exactly zero, but this requires a lot more work.

[2015-07-09 08:03] Mathadon commented on #349
I don't know, you're the expert :p

[2015-07-09 08:09] rubenbaetens commented on #352
I think it's more interesting to define the heat balance of `Buildings.Components.Zone` which is also rather straight-forward to implement. However, it serves a different purpose, e.g. comparison with quasi-stationary building models instead of numerical aspects.

[2015-07-09 08:16] Mathadon commented on #352
I don't see the point of that since the zone model contains almost no energy? Also it does not allow to check if energy is conserved in the other component models.

[2015-07-09 08:38] Mathadon commented on #352
I pushed an example to ```https://github.com/open-ideas/IDEAS/tree/issue352_consEne```
see example ```IDEAS.Buildings.Validation.Tests.EnergyConservationValidation```. It contains a 'Simulated and plot' command. This produces the following result:

![screen shot 2015-07-09 at 10 35 27](https://cloud.githubusercontent.com/assets/5970879/8591085/41a5e88e-2626-11e5-8f51-82ebebbc2e58.png)

The blue cu

[2015-07-09 08:57] Mathadon commented on #352
The results are correct: there is a massive wall that stores a large amount of energy.

[2015-07-09 11:40] Mathadon opened #355 "Merge two shading devices into one using partial"
Merge two shading devices into one using partial

[2015-07-09 11:59] #18 closed

[2015-07-09 12:00] #31 closed

[2015-07-09 12:01] Mathadon commented on #92
This was fixed by #350

[2015-07-09 12:01] #92 closed

[2015-07-09 12:05] Mathadon commented on #127
@rubenbaetens will add an example model in ```IDEAS/Examples```

[2015-07-09 12:05] Mathadon commented on #127
@damienpicard will add the two zone model in ```IDEAS/Examples```

[2015-07-09 12:06] Mathadon commented on #152
This has been merged.

[2015-07-09 12:06] #152 closed

[2015-07-09 12:07] Mathadon commented on #152
See issue #352 for last suggestion

[2015-07-09 12:09] Mathadon commented on #164
@matsvandecavey Do you have a final version of this model that we can add?

[2015-07-09 12:10] Mathadon commented on #170
@matsvandecavey can we close this?

[2015-07-09 12:11] Mathadon commented on #176
To be checked by me, Bram and @damienpicard

[2015-07-09 12:15] Mathadon commented on #192
We should merge the `Valves` packages.

In the control package we suggest to only keep `IDEAS.Controls.ControlHeating.RunningMeanTemperatureEN15251`
@rubenbaetens needs to verify this.
This is also relevant for #349

[2015-07-09 12:18] Mathadon commented on #198
We will not do this for other models than for the ones who already have a symbol. Obsolete / too simple models should be removed.

[2015-07-09 12:18] #198 closed

[2015-07-09 12:20] Mathadon commented on #211
@GlennReynders can you look at this again?

[2015-07-09 12:21] Mathadon opened #356 "Window property validation"
Window properties (U value, g value) do not necessarily equal the values contained by the respective record. This can be confusing and the window model may therefore need to be revised.

[2015-07-09 12:23] #226 closed

[2015-07-09 12:24] #253 closed

[2015-07-09 12:25] #268 closed

[2015-07-09 12:25] #272 closed

[2015-07-09 12:25] Mathadon commented on #279
Need to contact Bram about this.

[2015-07-09 12:26] Mathadon commented on #282
This has been merged

[2015-07-09 12:26] #282 closed

[2015-07-09 12:27] Mathadon commented on #304
@saroele is this still relevant?

[2015-07-09 12:34] Mathadon commented on #307
@GlennReynders , could you have a look?

[2015-07-09 12:34] Mathadon commented on #314
@damienpicard can you check this?

[2015-07-09 12:38] Mathadon commented on #315
@GlennReynders will have a look at this.

[2015-07-09 12:39] rubenbaetens commented on #341
Approached in #355

[2015-07-09 12:40] Mathadon commented on #316
@rubenbaetens can you check with the branch for #45 ?

[2015-07-09 12:40] #317 closed

[2015-07-09 12:43] Mathadon commented on #318
Fixed

[2015-07-09 12:43] #318 closed

[2015-07-09 12:44] Mathadon commented on #319
We will ook at this in #352

[2015-07-09 12:44] #319 closed

[2015-07-09 12:46] Mathadon commented on #324
@rubenbaetens will have a look at this.

[2015-07-09 12:46] Mathadon commented on #327
This solution is ok.

[2015-07-09 12:46] #327 closed

[2015-07-09 12:47] Mathadon commented on #333
This has been merged in #350

[2015-07-09 12:47] #333 closed

[2015-07-09 12:48] Mathadon commented on #336
@rubenbaetens can you have a look at this?

[2015-07-09 12:49] Mathadon commented on #338
This is merged in #350

[2015-07-09 12:49] #338 closed

[2015-07-09 12:49] Mathadon commented on #339
@rubenbaetens can you have a look at this?

[2015-07-09 12:50] Mathadon commented on #340
This is fixed by #268

[2015-07-09 12:50] #340 closed

[2015-07-09 12:50] Mathadon commented on #341
I will fix this in #355

[2015-07-09 12:50] #341 closed

[2015-07-09 12:51] Mathadon commented on #351
This is fixed in #354

[2015-07-09 12:51] #351 closed

[2015-07-09 14:10] rubenbaetens commented on #262
Solved in #328.

[2015-07-09 14:10] #262 closed

[2015-07-09 14:11] rubenbaetens commented on #312
Solved in #331.

[2015-07-09 14:11] #312 closed

[2015-07-09 14:12] rubenbaetens commented on #309
Solved in #332.

[2015-07-09 14:12] #309 closed

[2015-07-09 14:12] rubenbaetens commented on #310
Are you still planning to add this, @vanroyj ?

[2015-07-09 14:12] rubenbaetens commented on #311
Are you still planning to add this, @vanroyj ?

[2015-07-09 14:12] rubenbaetens commented on #313
Are you still planning to add this, @vanroyj ?

[2015-07-09 14:48] #316 closed

[2015-07-10 06:09] Mathadon opened #359 "Bestest tolerance of unit test"
The bestest unit tests tend to give different results rather quickly. I'm hoping this can be improved by increasing the solver tolerance for these models. I'll make a pull request.

[2015-07-10 06:25] Mathadon commented on #359
I tested this and even increasing the tolerance from 1e-6 to 1e-7 gives 'different' results. Still, I guess 1e-6 should be better than 1e-4

[2015-07-13 08:05] vanroyj commented on #310
@rubenbaetens Yes, will be added in the upcoming weeks.

[2015-07-13 15:21] Mathadon commented on #352
Error was caused by a sign mistake.

[2015-07-14 10:41] rubenbaetens commented on #352
Addressed in #361

[2015-07-14 10:41] #352 closed

[2015-07-14 14:12] Mathadon commented on #176
We will do a verification based on finite volume simulations together with Bram in August.

[2015-07-14 15:24] Mathadon commented on #349
This will be solved in #192

[2015-07-14 15:24] #349 closed

[2015-07-14 16:23] Mathadon commented on #289
For `IDEAS.Buildings.Validation.Tests.Case920` I get:

### with Evaluate=false
#### old implementation
[code]
cputime = 34.4s
#### new implementation
[code]
Cputime = 24 s

### with Evaluate=true
#### old implementation
[code]
cputime = 26s
#### new implementation
[code]
cputime = 13 s

In both cases the size and number of linear systems is significantly reduced, which leads to significant speed i

[2015-07-14 16:25] Mathadon commented on #289
@rubenbaetens can you give feedback?

[2015-07-14 16:55] Mathadon commented on #289
Unit tests give very similar results, although not exactly the same of course.

[2015-07-14 18:27] rubenbaetens commented on #289
@Mathadon what exactly causes the difference in set of equations between `Evaluate=true` and `Evaluate=false` ?

[2015-07-14 18:29] rubenbaetens commented on #359
Maybe we should decide not to use `dassl` here ? When it comes to these kind of errors, `lsodar` or `sdirk` seem more stable.

[2015-07-14 18:31] rubenbaetens commented on #342
Addressed in #363.

[2015-07-14 18:31] #342 closed

[2015-07-14 18:33] rubenbaetens commented on #355
Addressed in #362.

[2015-07-14 18:33] #355 closed

[2015-07-14 19:00] Mathadon commented on #289
When Evaluate=true Dymola will assume that all parameter values are fixed. This allows more symbolic manipulation since dymola may for instance know that a certain parameter will never be zero, so it can safely divide by this parameter, which may otherwise lead to a division by zero.

[2015-07-15 07:51] rubenbaetens commented on #289
I meant, which each is the main evaluation here that causes this ? E.g. that the number of states is always fixed and can't be changed ?

[2015-07-15 13:22] rubenbaetens opened #365 "IEA EBC Annex 60 components in IDEAS"
I just notice that we e.g. introduced `IDEAS.AirFlow.Multizone` and i'm wondering two things here:

1) Is this the good location for this directory ? or should we e.g. put it in `IDEAS.Buildings` ...
2) Is this content for `IDEAS` at all ? i.e. it is very detailed even including discretized door openings for airflow modelling ...

Any thoughts @Mathadon @damienpicard @GlennReynders ?

[2015-07-15 13:24] Mathadon commented on #365
This is automatically merged from Annex 60. I also argued that it was very detailed but we can just ignore those models I guess.

[2015-07-15 13:46] rubenbaetens commented on #365
Ignore as in "don't use it" or "don't put it in `IDEAS`" ... ? Maybe we should indicate what's a `Annex60` model and what's an `IDEAS` model, as it was e.g. one of the questions of Michael at my preliminary PhD defence: "What's own addition and what's adopted from someone else ?"

[2015-07-15 13:51] Mathadon commented on #365
I mean to ignore it. The merge script automatically includes it in IDEAS, although it is possible to exclude some packages.. Do you think this is necessary?

Would be nice if we could indicate which models are merged, feel free to suggest this in subtaks 1.1!

[2015-07-27 07:23] matsvandecavey commented on #170
@Mathadon You can close this issue

[2015-08-02 16:04] #170 closed

[2015-08-03 09:17] Mathadon commented on #359
Since the issue does not seem to be resolved by this change, I wish not to pursue it.

[2015-08-03 09:17] #359 closed

[2015-08-03 11:22] Mathadon commented on #176
Updated code is on https://github.com/open-ideas/IDEAS/tree/issue176_RzEmbeddedPipe
@damienpicard can you verify this implementation?

Bram and I still need to add a model validation based on FEM simulation.

[2015-08-03 12:06] Mathadon commented on #289
I'm not sure what you mean.

The number of states will indeed not change due to Evaluate=true or false.

[2015-08-03 12:07] #304 closed

[2015-08-03 12:08] Mathadon commented on #192
@rubenbaetens can you confirm that all models except `IDEAS.Controls.ControlHeating.RunningMeanTemperatureEN15251` can be removed?

[2015-08-04 08:03] damienpicard commented on #314
solved in pull request #288

[2015-08-04 08:03] #314 closed

[2015-08-04 08:10] damienpicard commented on #162
Can we close this?

[2015-08-04 08:11] #106 closed

[2015-08-04 12:17] Mathadon commented on #162
I have to make a pull request for this, but that's quite low on the priority list :)

[2015-08-04 13:49] damienpicard commented on #176
@Mathadon Where does this equation come from?
[code]

I suppose from linearizing the rightest part of following figure form Fox and McDonald:
![image](https://cloud.githubusercontent.com/assets/2987659/9062076/4de8354e-3ac0-11e5-99dc-314f63c242b6.png)

However, if I compute the coefficient, I get `y = 2.265 + 6.18`
So the offset is quite different!

[2015-08-04 14:17] Mathadon commented on #176
Typical values of r/D are >10 and 2.48*10 >> 3 so this offset difference seems to be relatively small. Therefore I assume the difference is simply due to an inaccuracy or due to a linearisation point that is chosen differently.

[2015-08-05 12:15] damienpicard commented on #176
I have checked it and made some minor modifications. I made a pull request with the changes and the updated unit test results. (see https://github.com/open-ideas/IDEAS/tree/issue176_RzEmbeddedPipe).

[2015-08-05 12:15] #176 closed

[2015-08-07 09:14] rubenbaetens commented on #365
See https://github.com/iea-annex60/modelica-annex60/issues/294#issuecomment-128042963 for Annex 60 discussion on this topic.

[2015-08-13 08:53] damienpicard opened #373 "issue366_multipleThreadUnitTests"
I experienced problems for running the unitTests with the current implementation of `runUnitTests.py`.
I would propose to use the implementation of Annex60, as it solves my problem.

I'll make a pull request.

[2015-08-13 09:21] #373 closed

[2015-08-17 14:36] rubenbaetens commented on #192
@Mathadon then what do we do with the `ControlHeating/HeatingCurves` ? I would keep this in IDEAS, unless there is an alternative somewhere ?

[2015-08-18 10:23] damienpicard opened #382 "Warnings in SimInfoManager due to use of protected variables"
The current implementation of the SimInfoManager causes lots of warnings due to the use of protected variable of `weaData`.

I'll propose a fix.

[2015-08-18 12:13] cprotopa opened #383 "Fluid.Movers.FlowMachine_dp doesn't exist"
There is a problem in `IDEAS.Fluid.BaseCircuits.PumpSupply_m_flow` and `IDEAS.Fluid.BaseCircuits.PumpSupply_dp` because they are supposed to use `Movers.FlowMachine_m_flow` and `Movers.FlowMachine_dp`, as written in their documentation,  which however now **don't exist**. I presume these have been renamed to `Movers.FlowControlled_m_flow` and `Movers.FlowControlled_dp`, however there are still som

[2015-08-20 11:39] rubenbaetens opened #385 "Loading error"
If you currently load the develop branch, you get following errors:
[code]

[2015-08-20 11:55] rubenbaetens opened #386 "Bug media definition in zone ?"
Suddenly i get following error in `IDEAS.Buildings.Examples.Structure` regarding the definition of media. Do you know here this comes from @Mathadon @damienpicard ?

[code]

[2015-08-20 12:08] rubenbaetens commented on #382
Solved in #384.

[2015-08-20 12:08] #382 closed

[2015-08-20 12:53] Mathadon commented on #386
You need to propagate the correct medium in the zone model of the building structure.The medium names changed recently in Annex 60, which may have caused this bug.

[2015-08-20 12:54] Mathadon commented on #385
I'll fix this when I have my laptop back!

[2015-08-20 13:15] rubenbaetens commented on #385
Who stole it ?

[2015-08-20 13:16] rubenbaetens commented on #386
Ha, the changeing names will maybe cause a majority of the errors then, as they're everywere ... unless only a few changed. It actually used the experimental SImple Air here.

[2015-08-20 13:17] Mathadon commented on #385
God took it away from me.

[2015-08-20 13:20] Mathadon commented on #386
I fixed all occurrences in unit-tested files but you'll probably need to rename all IDEAS Media declarations in your own models.
A trick to avoid this is to create your own medium package that extends the IDEAS one and then always use that package in your models. If a medium name is then changed you will only need to change the name in one location.

[2015-08-20 13:47] rubenbaetens commented on #385
You mean your girlfriend, right ? ;-)

On Thu, Aug 20, 2015 at 3:17 PM, Filip <notifications@github.com> wrote:

[2015-08-20 13:53] damienpicard commented on #385
Or the mom...

[2015-08-20 13:53] damienpicard commented on #385
This starts to be an interesting issue btw :p

[2015-08-20 14:07] Mathadon commented on #385
I do not see how this is relevant to this issue..

[2015-08-26 09:07] rubenbaetens commented on #386
So, apparantly only two air media work, all others give errors allthough they appear in the drop-down menu ... do the required boundary conditions depend on the chosen media ?!

[2015-08-26 09:09] Mathadon commented on #386
I don't think so.

[2015-08-26 20:14] Mathadon opened #388 "bug in interiorConvection"
There is a bug in the `interiorConvection` component. When `dT_nominal<0` the correlations for hot and cold are switched..  Will fix this tomorrow. @rubenbaetens @GlennReynders @damienpicard please take this into account if you've done important simulations on the develop branch during the last few weeks.

[2015-08-31 21:23] tbeu commented on #18
MSL3.2.1+build.3 finally was released.

[2015-08-31 21:35] Mathadon commented on #18
Thanks for the heads up!

[2015-09-10 07:33] Mathadon commented on #192
Okay, and other than that?

[2015-09-11 12:51] damienpicard opened #392 "No multiple gains possible in walls/floors"
So far, it is not possible to have multiple gains in walls / floors. This is a short coming for most of the geotabs systems. I'll propose a new implementation.

[2015-09-17 09:28] rubenbaetens commented on #192
Other than that: feel free to fancy a merge.

[2015-09-19 12:00] Mathadon commented on #162
This is being addressed in https://github.com/iea-annex60/modelica-annex60/issues/316

[2015-09-20 10:59] Mathadon opened #394 "Material property order"
In `constructionType` records the order of the materials is very important, since you do not want to connect the outside of a wall to the inside of a zone. However, right now it's not clear from the documentation how the connection should be made. The current convention seems to be that the first layer of a record contains the outside material properties and the last layer is connected to the zone

[2015-09-20 11:05] Mathadon commented on #307
On a related note. Air cavities typically have a very low heat capacity and not that small thermal resistances. This leads to very small time constants, causing fixed step solvers to become unstable. Therefore it's probably a good idea to remove states from such layers, or to define a lower bound for the time constants of walls that are simulated. We can then remove states when the resulting time

[2015-09-20 11:07] Mathadon commented on #307
@cprotopa this is why fixed step solvers do not work on ```CE.neighborhood_L```

[2015-09-21 08:13] cprotopa commented on #394
Indeed, this is why I tried to explain it in the comments of the definition of the `record Construction` and the ``propsBus's`` of the walls. This helps me to connect the walls correctly, however it also requires a lot of though on how to put the layers. Intuitively I'd put the inner first, actually.

[2015-09-21 12:36] rubenbaetens commented on #307
OK, we can solve this by redefining the air-layer (i actually thought i once did ?! unless only in the window model) or we could at once attack the entire algorithm for defining the RC of the wall.

[2015-09-21 13:17] Mathadon commented on #307
Probably best to look at both issues at the same time :)

[2015-09-25 12:07] tbeu opened #395 "Provide releases at GitHub releases"
Readme contains info about relases v0.3.0 and 0.2.0 but there are no releases available at all.

[2015-09-26 20:46] tbeu commented on #395
Reason: impact/search#14

[2015-09-28 07:23] rubenbaetens commented on #395
Thanx @tbeu, we'll look into it.

[2015-10-13 15:28] damienpicard opened #397 "Division by zero in Overhang"
A division by zero occurs in `IDEAS.Buildings.Components.Shading.Overhang` when `dep=0`.
This is clear from these equations:

[code]

However, I do not understand the model very well and I'm not sure how to fix it.
@Mathadon @GlennReynders @cprotopa @rubenbaetens , do you know this model?

We should fix this as it causes problem for overhang with vertical panes and no horizontal pane.

[2015-10-19 17:23] tbeu opened #398 "Illegal inheritance in IDEAS.Electric.Photovoltaics.Components"
[code]

[2015-10-20 08:48] cprotopa commented on #397
I didn't make these, so I'm not so sure, but wouldn't you use the `SideFins` model in this case? And if you have both, the `Box` model. Now of course if you want to vary the depth down to 0, I suppose you'd have to fix this. I think @Mathadon made the models..?

[2015-10-21 07:18] Mathadon commented on #398
Will look into this, thanks for reporting!

[2015-10-22 17:46] tbeu opened #400 "File name does not match the package name"
[code]

[2015-11-05 15:37] Mathadon opened #403 "Bug in embeddedPipe"
For very low mass flow rates the embeddedPipeModel has undesired behaviour, causing temperature oscillations along the flow direction. This should be fixed.

[2015-11-08 20:52] bramvdh91 commented on #403
Would like to follow this up. In the pipe model, we also encountered some instabilities for very low flow, which were solved by using a threshold with a small number `epsilon` as limiting value. Values below are practically zero flow and modelled as such.

[2015-11-10 12:17] vanroyj commented on #311
This will not be done anymore. Models are available in the library to build up these models.

[2015-11-10 12:17] #311 closed

[2015-11-10 12:26] vanroyj commented on #310
See #404

Note that in the following packages, the AC files should also be combined in "AC"-packages:
- Data/Interfaces
- Data/Cables
- Data/Grids
Not done yet, as I know some people might be using the grid models.

[2015-11-10 15:18] vanroyj commented on #313
Will not be added, as it is a model which uses specific input-data (not to be generalized)

[2015-11-10 15:18] #313 closed

[2015-11-12 12:19] rubenbaetens commented on #313
What's not generalisable in the EV modelling ?

[2015-11-12 12:26] vanroyj commented on #313
The code is specific for the input data as I generate it with another model... As this code is not available, the EV code would need some changes regarding the input. As I'm leaving KUL at the end of this week, I will not have the time to do this...
But I will leave the code at Electa, so if someone wants to continue with these models, they can :)

[2015-11-15 09:34] Mathadon opened #405 "EPC records"
EPC certificates refer to materials/windows such as 'standard walls' 'normal double glazing' etc. It would be nice if we have records matching these EPC options. Maybe I will add a few of them. If anybody else is interested, feel free to help!

[2015-11-15 14:23] Mathadon commented on #388
fixed in #388

[2015-11-15 14:23] #388 closed

[2015-11-15 14:29] #386 closed

[2015-11-15 14:29] Mathadon commented on #385
Fixed

[2015-11-15 14:29] #385 closed

[2015-11-15 14:30] Mathadon commented on #383
Should be fixed

[2015-11-15 14:30] #383 closed

[2015-11-15 14:31] Mathadon commented on #324
Fix was merged.

[2015-11-15 14:31] #324 closed

[2015-11-16 12:37] Mathadon commented on #403
Fixed by #409

[2015-11-16 12:37] #403 closed

[2015-11-18 09:48] bramvdh91 opened #410 "NakedTabs location and model structure"
I was checking the model structure for tabs floors and I noticed that NakedTabs is located in `IDEAS.Fluid.HeatExchangers.Examples.BaseClasses`. However, since it is most related to radiant slabs, I would expect it to be in `IDEAS.Fluid.HeatExchangers.RadiantSlab.BaseClasses`. Is the current location chosen for a specific reason or could it be moved?

Furthermore, it might be interesting to make d

[2015-11-18 15:22] Mathadon commented on #410
It can be moved to the suggested location, feel free to make a pull request!

The NakedTabs model is currently used only for demonstration purposes, since it cannot be efficiently linked to a zone model. If you want to create alternative TABS models, feel free to do so but then it is probably better to start from the `InternalWall` model.

[2015-12-07 10:08] damienpicard commented on #405
I'm interested too, especially if we want to automatize the building structure modeling.

[2015-12-07 10:10] damienpicard commented on #397
@Mathadon did you make this model? Or is it from @rubenbaetens ?

[2015-12-09 07:31] GlennReynders commented on #405
Already have all the components of TABULA for Belgian stock, including
renovated scenario's. I could include these...

2015-12-07 11:08 GMT+01:00 Damien Picard <notifications@github.com>:

[2015-12-11 11:41] rubenbaetens commented on #397
I made the model, it's a copy from the model as it is implemented in EnergyPlus if i remember well.

[2015-12-13 10:27] rubenbaetens commented on #405
Note that all of these 'standard' options only contain information on U-values ... but you could question if anything 'typically Belgian' should be part of IDEAS.

[2015-12-17 10:29] Mathadon opened #412 "Adding a window state"
The window thermal dynamics are currently steady state. This can lead to large non-linear systems for the computation of the radiative temperatures since they now depend on a non-linear relation between the outside temperature and the window sheet temperature.

I propose to add a single state for windows that represents the total thermal mass of the glass. I will test this first and then make a pu

[2015-12-21 11:05] rubenbaetens commented on #412
if i remember well we tested this before finding that the system of equations indeed got smaller but the simulaition took similar time (or longer) because we introduced small time constants.

[2015-12-21 11:08] rubenbaetens opened #414 "Incompatible weaBus"
Both the `SimInfoManager` and the `IDEAS.Fluid.Sources.Outside_CpLowRise` have a `weaBus` connection, but they seem to be *incompatible connectors*.

I suggest we make them compatible. Any suggestion @Mathadon on what differs ?

[2015-12-21 11:32] rubenbaetens commented on #410
I suggest to start from the `layer` model, as TABS can also be located in the roof or floor structure (i;e. does not require to be internal)

[2015-12-21 11:42] rubenbaetens commented on #200
In which specific cases did we need the `Fluid.System` earlier-on ? I could check myself where/when to delete them.

[2015-12-21 11:50] Mathadon commented on #412
Then we should probably make it a conditional option. For me it's definitely faster since I use a fixed step integrator.

[2015-12-21 13:05] rubenbaetens commented on #400
Solved in #407.

[2015-12-21 13:05] #400 closed

[2016-01-04 09:04] Mathadon commented on #200
We only used it to propagate `allowFlowReversal` as far as I know.

[2016-01-04 09:14] Mathadon commented on #414
Let's say it's tricky..
`IDEAS.Fluid.Sources.Outside_CpLowRise` comes from A60 and uses a different `bus` connector than the `SimInfoManager`. `SimInfoManager` contains a lot more signals such that the two busses are not identical and cannot be connected. This means the bus in `IDEAS.Fluid.Sources.Outside_CpLowRise` should be replaced by the IDEAS version, meaning the merge process of A60 should b

[2016-01-04 10:13] rubenbaetens commented on #200
Which can just be replaced by defining a model parameter at higher level (by the user) ?

[2016-01-04 10:14] rubenbaetens commented on #414
Maybe we can split up the `weaBus` of `SimInfoManager` into one that is A60-compatible, and one with 'additional' data ?

[2016-01-04 10:17] Mathadon commented on #200
Yup!

[2016-01-04 10:20] Mathadon commented on #414
But then it gets complicated which one the user should use?

[2016-01-04 10:31] rubenbaetens commented on #414
i didn't mean one that is 'A60 compatible' and one that is 'A60+Additional data' but one with only the additional data. So if you need all data, you'll have to connect both.

[2016-01-04 10:55] Mathadon commented on #414
That's how I understood it. But then for instance in this case you do not know up front which bus to connect the Outside_CpLowRise bus to. And it's cumbersome and prone to errors.
Let's just say I don't like it :p

[2016-01-04 10:57] rubenbaetens commented on #414
You connect `weaBus` to `weaBus` of course, the other one we call `junkBus` or so :)

[2016-01-05 07:55] rubenbaetens commented on #414
I still don't get why you would get uncompatible connectors within IDEAS ? https://github.com/lbl-srg/BuildingsPy/issues/80#issuecomment-168926828

[2016-01-06 01:28] mwetter commented on #414
@rubenbaetens and @Mathadon
Let me know if you indeed need to exclude files from the merging (I won't start with the implementation if you don't need it)

[2016-01-06 14:45] rubenbaetens opened #415 "Embedded heat emission system models"
@Mathadon @damienpicard Any idea how the `Buildings.Fluid.HeatExchangers.RadiantSlabs.SingleCircuitSlab` or `Buildings.Fluid.HeatExchangers.RadiantSlabs.ParallelCircuitsSlab` models from the Buildings library compare to `IDEAS.Fluid.HeatExchangers.RadiantSlab.EmbeddedPipe` model in the IDEAS library ?

[2016-01-06 15:39] rubenbaetens commented on #410
The `Buildings.Fluid.HeatExchangers.RadiantSlabs.SingleCircuitSlab` model might be of inspiration here @bramvdh91 (https://github.com/open-ideas/IDEAS/issues/415)

[2016-01-06 15:59] rubenbaetens commented on #307
I'll have a look at this issue tomorrow.

[2016-01-06 16:11] rubenbaetens commented on #310
Closed in #404.

[2016-01-06 16:11] #310 closed

[2016-01-06 16:11] Mathadon commented on #415
As far as I know our model is a little bit more detailed.

[2016-01-07 16:26] bramvdh91 commented on #415
As far as I understand the code, the `SingleCircuitSlab` can also use a discretization of the pipe, however when the eps-NTU method is used there is no discretization (see `Buildings.Fluid.FixedResistances.BaseClasses.Pipe`). However, I don't really understand where these heat transfer equations are stated exactly.

[2016-01-07 16:56] bramvdh91 commented on #410
The difference between the IDEAS-TABS model and the Buildings `SingleCircuitSlab` is that Ideas uses the heat transfer coefficient from the water to the concrete core as described in Koschenz, whereas uses a different way to calculate this resistance (combination of fluid to pipe, pipe to core etc.). Furthermore, Buildings integrates the embedded system and the slab properties from the start. The

[2016-01-15 13:29] #329 closed

[2016-01-15 13:29] #415 closed

[2016-01-15 13:31] rubenbaetens opened #416 "Updated BaseCircuits"
I'll update, tune and harmonize the `Fluid.BaseCircuits` in general.

[2016-01-15 14:23] Mathadon commented on #416
Nice :) if you can wait a few weeks with this, I can give you my paper that will be quite relevant for this..

[2016-01-15 14:29] rubenbaetens commented on #416
The paper being written now or the one you presented at the Modelica Conference ? I'll start with a general clean-up and A60-harmonisation and keep it in a branch. I presume we can then update it with a few parameters and propagation ?

[2016-01-15 14:33] Mathadon commented on #416
The one I'm writing now (started today), although there may be some overlap for the more simple systems.

Separate branch is fine!

[2016-01-21 18:34] rubenbaetens opened #417 "Refactor IDEAS"
It striked me that `IDEAS` now counts 18 top-level packages, while e.g. `buildings` has only 12 (though `annex60` has already 9.) Eighteen are a lot of directories to search through if you start using the library for a first time. There might be a (rather) backwards-compatible alternative by introducing a top-level `BaseClasses` package?

[2016-01-22 13:06] rubenbaetens opened #418 "allowFlowReversal in Zone.Infiltration"
The parameter `allowFlowReversal` is not correctly propagated in `IDEAS.Buildings.Components.Zone.airLeakage` and thus always `false`. This may give an assert( ) error.

Additionally, it seems to me `Zone.airLeakage` is wrongly connected to the MixingVolume `Zone.vol`. The 4 ports for both airLeakage and the Interface are connected to `{vol[1],vol[2]}` instead of `{vol[1],vol[2],vol[3],vol[4]}`.

[2016-01-22 15:30] rubenbaetens commented on #405
Solved in #406.

[2016-01-22 15:30] #405 closed

[2016-01-22 18:30] Mathadon commented on #418
It should always be false since the flow does not reverse. This property can be exploited by the solver.

It should be connected like this:
      if allowFlowReversal then
  connect(airLeakage.port_a, vol.ports[4]) annotation (Line(
      points={{40,40},{-10,40}},
      color={0,127,255},
      smooth=Smooth.None));
  connect(airLeakage.port_b, vol.ports[3]) annotation (Line(
      points={{60,40

[2016-01-23 07:57] Mathadon commented on #405
Did you check the U values? Now that I'm looking at frames for my own house, the U value of 0.7 seems a bit low. I couldn't find a source from the EPB software, so I looked for other sources but these seem to have been very advanced frames compared to what I'm seeing in practice!

[2016-01-24 09:26] rubenbaetens commented on #418
That's how it is connected, but `if allowFlowReversal  = false`, it seems to give an `assert( )` error in the zone. Why not always connect it to `{3,4}` ?

[2016-01-24 09:29] rubenbaetens commented on #405
Mm, i indeed ran quickly through the values and they seemed legit to me, but now that you mention 0.7 for window frames - i must have missed that one. I have 1.1 - 1.3 in mind for good window frames.

[2016-01-24 11:54] Mathadon commented on #405
I heard that Alu is in general a bit less good insulating. Do you have a value for that? I though PVC was ~1.1 indeed.

I propose to make a distinction between `AluminumInsulated` and `AluminumWellInsulated` or something like that? Then we can also keep the 0.7 values.

[2016-01-24 15:32] rubenbaetens commented on #418
@Mathadon
[code]

[2016-01-26 09:36] #418 closed

[2016-01-26 17:46] cprotopa opened #421 "Unwanted weaBus outputs"
In the output file all these variables appear from some `weaBus` from every single `propsBus` of my building, and from the `sim` manager, although all components are protected in the model.
[code]
Note that these are the only variables that appear from the components. It’s a problem because they increase a lot the size of the output file.
Any idea about where does this come from, and how to fix it

[2016-01-26 18:53] Mathadon commented on #421
This is a known bug in Dymola and I thought the fixed it in Dymola 2016 FD01. Are you using that version?

[2016-01-27 08:54] damienpicard commented on #421
I was thinking that Dymola 2016 FD01 was still too buggy to be used, isn't?

[2016-01-27 09:00] cprotopa commented on #421
Indeed I'm using 2015 still. Should I update or not? :)
Actually I only noticed the problem yesterday when I updated IDEAS. I think before it was fine (or didn't notice, maybe because the weaBus was not everywhere).

[2016-01-27 14:36] rubenbaetens commented on #421
I'm using Dymola 2016 FD01, works fie.

In fact, besides `protected` there is an `annotation`-option to not output certain variables, we could do this for the `weaBus`.

[2016-01-27 21:24] Mathadon commented on #421
the annotation option is `annotation(HideResult=true)`.
This should also work. The (very) old IDEAS indeed did not have these variables.

Dymola 2016FD01 does not work on my ubuntu installation but I think on windows it should be fine.

[2016-01-28 09:48] matsvandecavey opened #422 "parameter mSenFac in zone model is not used"
The parameter `mSenFac ` _(dynamicsTab "Factor for scaling the sensible thermal mass of the volume")_ is not used  in `IDEAS.Building.Component.Zone`, which extends from `LumpedVolumeDeclarations`. Instead the parameter `corrCV ` _("Multiplication factor for the zone air capacity")_ is used as a modifier in `Fluid.MixingVolumes.MixingVolume  vol( ..., mSenFac=corrCV`.

So it appears that there are

[2016-01-28 10:00] Mathadon commented on #422
This is due to backwards compatibility reasons. We can discuss how to treat this during the IDEAS scrum!

[2016-01-28 10:19] rubenbaetens commented on #422
I suggest to delete it then, un-used parameters are very confusing.

[2016-01-28 10:23] #365 closed

[2016-01-28 12:30] rubenbaetens opened #423 "Zone infiltration"
At this moment, infiltration is only considered as a thermal process. We could (should ?) model it as a real air exchange with the outdoor environment.

[2016-01-28 12:37] Mathadon commented on #423
That is a very valid point. We should however discuss if we want to consider this to be a part of the zone model, or as an exterior model. We could even define air leakage factors as part of window frames etc. To be discussed!

[2016-01-28 12:44] rubenbaetens commented on #423
Infiltration rates are defined on building level at 50 Pa in the building industry. In reality this infiltration is of course caused by leakages at component level, but there are no leakage characteristics known at this level.

Except if you consider opening a window as infiltration of course, which makes it complex because in reality this bypasses the infiltration by the envelope.

[2016-01-28 12:59] GlennReynders commented on #423
Unless we have the ambition to start modelling air-flow through cracks in
components and include the local thermal effect this has inside the
components, I think it would be more transparent to move the infiltration
from the zone-model to the ventilation model.

2016-01-28 13:44 GMT+01:00 rubae <notifications@github.com>:

[2016-01-28 16:32] cprotopa commented on #421
Indeed I don't have this problem with Dymola 2016 FD01 anymore.

[2016-01-29 08:43] rubenbaetens commented on #423
There are two annoying things that favour against moving it to the ventilation model:
- It requires a transfer of zone volumes from the building model to the ventilation model
- it requires to use a ventilation model tout court, which sounds overkill if infiltration is the only airlflow to be modelled.

[2016-01-29 08:48] Mathadon commented on #423
I don't agree with 1) but I do agree with 2) :)

[2016-01-29 08:53] Mathadon commented on #421
Feel free to close the issue if your problem is resolved :)

[2016-01-29 09:02] #421 closed

[2016-02-01 13:23] rubenbaetens opened #425 "Solar screen"
The current solar screen model only corrects the solar irradiation for the known transmission `shaCorr`. In reality, these screens have a high relative absoprtion, and we could (should) correct the radiative heat transfer of the window based on the presence of the screen.

[2016-02-04 08:43] rubenbaetens opened #426 "Lsodar as default unittest solver"
As `Dassl` seems sensitive sometimes, we might want to switch to `Lsodar` as default solver for the unittests.

[2016-02-04 08:44] rubenbaetens commented on #423
Solved in #424.

[2016-02-04 08:44] #423 closed

[2016-02-04 08:49] rubenbaetens commented on #416
I'll add examples and unit tests.

[2016-02-04 10:06] rubenbaetens commented on #289
Solved in #372.

[2016-02-04 10:06] #289 closed

[2016-02-04 13:03] damienpicard commented on #422
We should remove the parameter and mention in release note with outer non-backwards compatible changes.

[2016-02-04 13:19] rubenbaetens commented on #398
Solved in #399.

[2016-02-04 13:19] #398 closed

[2016-02-04 13:32] damienpicard commented on #417
Proposition
- Bundle the boundary conditions: weather, occupancy, climate, ? SimInfo?
- Bundle Base circuits: fluid base circuit, heating systems, ventilation systems, electric systems,
- Bundle Fluid: fluid + airflow (--> change for Annex 60)
- Get rid of IDEAS constants to use Type (as annex 60) instead.

Avoid duplicates
- Remove old IDEAS pump
- see if old IDEAS 3wayvalves are necessary. Add t

[2016-02-04 13:33] damienpicard commented on #416
See pull request #419

[2016-02-04 13:43] damienpicard commented on #414
The easiest solution is probably to make a conversion model with as input weaBus_IDEAS and output weaBus_a60.

[2016-02-04 14:01] damienpicard commented on #410
Naked tabs is not used any more, as TABS is actually a layer of the building. Other tabs configuration (for example with air box) can be dealt with by computing equivalent conductivity for concrete.

However, a configuration where the gain would be injected between two air box (i.e. a RC network with two parallel path with one leg with capacities, the other not) is still not possible. This would b

[2016-02-04 14:01] #410 closed

[2016-02-04 14:05] damienpicard commented on #397
dep=0 is not a physical system. Use then either side vertical pane, horizontal pane or box pane.
@GlennReynders  add an assert() to get an error message for this non-physical configuration.

[2016-02-04 14:12] rubenbaetens commented on #395
Notes: https://help.github.com/articles/creating-releases/

[2016-02-04 14:16] damienpicard commented on #395
Done.

[2016-02-04 14:16] #395 closed

[2016-02-04 14:19] tbeu commented on #395
:fireworks:

[2016-02-04 14:55] damienpicard commented on #394
This is indeed confusing. We should do the following

1. Add comments in ConstructionType: "Array of materials. The last layer is connected to propsBus_a."
2. Flip multilay in stateWall
3. Redesign partial for walls and windows: make partial for 1 propsbus and for 2 propsbus.

[2016-02-04 15:09] damienpicard commented on #356
U-values and g-values are not used in the model. They should be removed from the record. The U-value should computed by initial equations (using the linearised air-cavity equation).

[2016-02-04 15:11] damienpicard commented on #339
see pull request #357

[2016-02-04 15:15] rubenbaetens commented on #320
We've made a release v0.3, i'll contact the webmaster.

[2016-02-04 15:17] damienpicard commented on #336
@GlennReynders will check once more and then close this everlasting issue.

[2016-02-04 15:18] damienpicard commented on #315
@GlennReynders will add it as soon as the develop branch is merged into the master.

[2016-02-04 15:29] damienpicard commented on #307
We are interested mainly in energy, rather than temperature. The current implementation of discretisation focuses on the temperature (using penetration depth). Here is an alternative code which should be checked with unit tests.

[code]

Optionally also increase the nStaRef=3 (seems too low).

[2016-02-04 15:33] rubenbaetens commented on #200
@Mathadon will delete them from the unittests to find in which models they're used, and then delete them.

[2016-02-04 15:36] damienpicard commented on #279
No data are currently available for such validation. The current ANSYS model that we have is not suitable as it does not represent the pipes accurately. This will be re opened once we have data.

[2016-02-04 15:36] #279 closed

[2016-02-04 15:38] damienpicard commented on #192
This is handled in #417 .

[2016-02-04 15:40] damienpicard commented on #164
@matsvandecavey bump. Are you planning on adding your fcu model?

[2016-02-04 15:41] #162 closed

[2016-02-04 15:41] #146 closed

[2016-02-04 15:42] #127 closed

[2016-02-04 15:43] #414 closed

[2016-02-04 15:44] matsvandecavey commented on #164
I won't add the model just now, because I use a epsilonNTU - heat exchanger model from the Buildings library. I'm waiting for Annex60 to include this heat exchanger model so it can be added to IDEAS. Then I can add the FCU model.

[2016-02-04 15:49] #164 closed

[2016-02-04 17:07] dietmarw opened #427 "Use proper names for the release numbers"
It's nice to see that you used semver format for the tag. I.e., `v0.3.0` but it would be nice if you could be consistent to also call the release and the references in the documentation exactly like the version number is: v0.3**.0** :smirk:  That way you don't get into trouble when trying to explain changes against that version later.

[2016-02-04 17:27] #320 closed

[2016-02-04 18:28] #192 closed

[2016-02-04 19:36] Mathadon commented on #307
Some preliminary results:

When changing the computation by multiplying it with `c*rho` the results are quite different. This is however not because insulation layers are simulated less accurately, since in both cases the number of states for this material equals one. The concrete of the material however has three states before and two states after the change, which causes the different results.
I

[2016-02-05 07:57] rubenbaetens commented on #200
Solved in #428.

[2016-02-05 07:57] #200 closed

[2016-02-05 09:17] damienpicard opened #429 "Release note and backward compatibility"
As we want to include backward non-compatible changes, I propose that we list in this issues all the major changes and the adaptation needed for make our models compatibles

[2016-02-05 09:18] rubenbaetens commented on #307
I presume the increase of states has quite some impact on the cpu-time ?

[2016-02-05 09:42] Mathadon commented on #307
The increase seems to be relatively minor, but it's hard to compare since I'm running many processes simultaneously.

[2016-02-05 09:55] Mathadon commented on #307
The influence seems to be negligible when using Euler (as long as you don't need to change the step size of course):
![screen shot 2016-02-05 at 10 47 48](https://cloud.githubusercontent.com/assets/5970879/12842887/fe8720b0-cbf5-11e5-973d-317db54dcd33.png)

nStaRef - states
3	1654
5	2314
7	2846
9	3388

Below are results for two temperature sensors for these 4 cases. For this relatively massive bui

[2016-02-05 10:08] GlennReynders commented on #336
The dynamic calculation of ground losses is given in Annex D of ISO 13370.
The losses are determined by the combination of a constant and dynamic term. The dynamic part is induced by the capacitive effect of the modelled ground layer.
The constant term Qf (in our models called Qm) is the average heat loss over the considered period. However currently formula A.3 of ISO13370 is used to calculate th

[2016-02-05 10:30] rubenbaetens opened #430 "Obsolete duplicate models"
Avoid duplicates in `IDEAS.Fluid`

- [ ] Duplicate `Fluid.Movers.Pump` with `Annex60.Fluid.Movers.FlowControlled_m_flow` ?
- [ ] Duplicates of `Fluid.Valves` with `Annex60.Fluid.Actuators.Valves` ? Check if neccessary and merge.
- [ ] Duplicate `Fluid.HeatExchanger.Radiators.Radiator` with `Annex60.Fluid.HeatExchanger.Radiators.RadiatorEN442_2` ?
- [ ] Duplicate `Fluid.FixedResistances.InsulatedPi

[2016-02-05 10:55] rubenbaetens commented on #422
The parameter `mSenFac` in the zone is *removed*, i.e. set final equal to `corrCV` (and thus no longer appears in the GUI). Deleting it for real is not possible as its defined in `LumpedVolumeDeclarations`.

[2016-02-05 11:04] damienpicard commented on #339
This has been solved in #357

[2016-02-05 11:04] #339 closed

[2016-02-05 11:06] Mathadon commented on #307
My suggestion to multiply with `c*rho` does not give the desired effect. A more in-depth analysis is probably required of how we should interpret `pi_ref`. I currently do not have time for this though.

Would it be a good idea to set `nStaRef=4` to have somewhat more accurate simulations?

[2016-02-05 12:57] rubenbaetens commented on #427
Thx ! Done.

[2016-02-05 12:57] #427 closed

[2016-02-05 13:00] rubenbaetens commented on #429
The `mSenFac` change i proposed in #422 is actually backward compatible.

[2016-02-05 13:00] rubenbaetens commented on #429
I propose to make a master 0.4.0 and only make a 1.0.0 once Annex 60 has an official or final release.

[2016-02-05 13:01] rubenbaetens commented on #429
Restructuring in #417 included following changes which need to be included in the release notes:

- [ ] Moved `IDEAS.HeatingSystems` to `IDEAS.Circuits`
- [ ] Moved `IDEAS.VentilationSystems` to `IDEAS.Circuits`
- [ ] Moved `IDEAS.Fluid.BaseCircuits` to `IDEAS.Circuits`
- [ ] Moved `IDEAS.Climate` to `IDEAS.BoundaryConditions`
- [ ] Moved `IDEAS.Occupants` to `IDEAS.BoundaryConditions`
- [ ] Repla

[2016-02-05 13:18] rubenbaetens opened #434 "Tapwater tap model"
The current `Fluid.Domestic_Hot_Water` tap model calculates an ideal heat source that gives the correct return temperature, which is a very old solution to this problem. We should update this with a sink and source model.

[2016-02-05 14:08] rubenbaetens commented on #397
Addressed in #433.

[2016-02-05 14:08] #397 closed

[2016-02-05 14:30] rubenbaetens commented on #422
Closed in #432.

[2016-02-05 14:30] #422 closed

[2016-02-05 14:38] rubenbaetens commented on #412
Closed in  #413.

[2016-02-05 14:38] #412 closed

[2016-02-05 14:48] Mathadon commented on #211
fixed in #408

[2016-02-05 14:48] #211 closed

[2016-02-05 14:52] Mathadon commented on #307
Based on this analysis we decided not to change the discretisation algorithm for now.

[2016-02-05 14:52] #307 closed

[2016-02-05 15:00] Mathadon commented on #416
See #417

[2016-02-05 15:00] #416 closed

[2016-02-05 15:18] damienpicard commented on #429
The new multi gain feature for multilayer requires the following changes:

- Remove the locGain and nGain from all ConstructionType records which do not have embedded gains
- For all ConstructionType  with embedded gain, make locGain an array (e.g..: locGain = {4})
- for all connector connection the embedded port of the internalWalls, externalWalls, boundaryWalls or slabOnGround, change .port_emb

[2016-02-05 15:22] rubenbaetens commented on #392
Closed in #435.

[2016-02-05 15:22] #392 closed

[2016-02-05 15:52] rubenbaetens commented on #336
Solved in #437.

[2016-02-05 15:52] #336 closed

[2016-02-05 15:58] damienpicard commented on #429
Everybody should mention in this issue that his/her models are compatible with the new develop (before making a new release).

[2016-02-05 15:58] Mathadon commented on #298
fixed in #326

[2016-02-05 15:58] #298 closed

[2016-02-05 17:34] damienpicard opened #438 "Full documentation of all IDEAS model"
@lievehelsen proposed during the happy hour to take on herself the complete documentation on IDEAS. She promised to give a final version my this Monday...

Thanks!

[2016-02-05 18:04] damienpicard commented on #438
@lievehelsen do not hesitate to ask for some help from @mwetter. I heard he had too much spare time at work too and he would be glad to be of some help.

[2016-02-05 18:59] mwetter commented on #438
I'd be happy to help if the pay is attractive enough :) But not by this Monday.

[2016-02-05 19:45] lievehelsen commented on #438
?!
Too much spare time at work … @mwetter Michael, you’re more than welcome ;-)

From: Damien Picard [mailto:notifications@github.com]
Sent: vrijdag 5 februari 2016 19:05
To: open-ideas/IDEAS <IDEAS@noreply.github.com>
Cc: Lieve Helsen <lieve.helsen@kuleuven.be>
Subject: Re: [IDEAS] Full documentation of all IDEAS model (#438)

@lievehelsen<https://github.com/lievehelsen> do not hesitate to ask fo

[2016-02-05 19:48] lievehelsen commented on #438
Damien, are you checking whether I am reading this whole batch of emails?
I do!
Have a good weekend … I know what to do ;-)
Lieve

From: Damien Picard [mailto:notifications@github.com]
Sent: vrijdag 5 februari 2016 18:34
To: open-ideas/IDEAS <IDEAS@noreply.github.com>
Cc: Lieve Helsen <lieve.helsen@kuleuven.be>
Subject: [IDEAS] Full documentation of all IDEAS model (#438)

@lievehelsen<https://git

[2016-02-05 21:32] Mathadon opened #439 "Bug in air cavity model"
The energy conservation equations bug out when using the air cavity model in walls. Also it seems wise to propagate the `linearise` parameter of this model such that the non-linear version of this model can be used in walls, where the model will not lead to non-linear systems since walls contain states.

I'll make a pull request for this.

[2016-02-07 08:41] rubenbaetens commented on #45
Let me re-open this issue for #308.

[2016-02-07 08:46] rubenbaetens commented on #438
I think we can make a compromise here, having a fully documented IDEAS by our expert meeting will be fine. That gives @lievehelsen a stunning 14 hours extra !

[2016-02-07 08:49] rubenbaetens commented on #439
Solved in #441.

[2016-02-07 08:49] #439 closed

[2016-02-07 08:51] lievehelsen commented on #438
Waaw wonderful!
You make my day ;-)

[2016-02-07 09:01] #438 closed

[2016-02-07 15:29] rubenbaetens commented on #434
I testes a version of the tap model based on two open ends, but it seems current implementation is 6 times faster. I suggest we keep current version (after some clean up). I'll propose a pull request.

[2016-02-08 10:54] Mathadon commented on #429
[ ] merged annex60 up to commit 00be78c4f27643d8319999fefb96fb4effea4c79

[2016-02-08 17:03] damienpicard commented on #429
changes at constructionType:

1) Add a value to parameter incLastLay for all floor and ceiling constructionType to help you to check the inclination of the surface.

[2016-02-08 20:00] rubenbaetens commented on #429
@damienpicard what's the purpose of this parameter `incLastLay` in comparison to `inc` ?

[2016-02-09 08:24] Mathadon commented on #429
This parameter verifies that `inc` corresponds to `incLastLay`. This way the user can indicate the intended orientation when creating the structure record and Dymola will check if that record is used in the correct way, according to this definition. This is especially important when connecting floors/ceilings.

[2016-02-10 10:35] rubenbaetens commented on #429
@Mathadon Is it correct that:

- [ ] `Fluid.Interfaces.FourPort` has changed name into `Fluid.Interfaces.PartialFourPort` ?

All basecircuits extend from this, but as there are no unittests yet, this didn't show up.

[2016-02-10 14:41] Mathadon commented on #429
I don't know by heart but it's possible that this changed in Annex60, yes.

[2016-02-10 15:27] Mathadon opened #447 "Non-linear convection correlations"
We have implemented non-linear convection correlations, but we currently do not use them by default since they used to lead to non-linear systems. The redesign however allows to use them without a real performance penalty so I suggest to enable the non-linear convections by default.
This leads to large differences in simulation results, see for instance case 900:
![screen shot 2016-02-10 at 16 26

[2016-02-10 20:18] rubenbaetens commented on #447
Now that it doesn't lead to big systems of non-linear euations, it might be indeed beneficial to have it by default non-linear.

[2016-02-11 15:27] rubenbaetens commented on #434
Closed in #450.

[2016-02-11 15:27] #434 closed

[2016-02-11 19:53] rubenbaetens commented on #429
I propose to merge `Annex60` back into `IDEAS` before v0.4.0 after https://github.com/iea-annex60/modelica-annex60/pull/412 which removes the `dynamicBalance` parameter.

[2016-02-12 08:14] Mathadon commented on #429
will do, in due time

[2016-02-12 12:32] damienpicard commented on #394
This has been solved in #444

[2016-02-12 12:32] #394 closed

[2016-02-15 08:29] rubenbaetens commented on #417
It seems Milestone v0.4.0 has no longer content-related issues, so i'll propose a pull-request for the changed tree-structure.

[2016-02-15 19:06] rubenbaetens commented on #429
@damienpicard @Mathadon Mention the additional parameter in the construction-record.

[2016-02-15 19:38] rubenbaetens commented on #417
Restructuring includes:

- [ ] Moved `IDEAS.HeatingSystems` to `IDEAS.Circuits`
- [ ] Moved `IDEAS.VentilationSystems` to `IDEAS.Circuits`
- [ ] Moved `IDEAS.Fluid.BaseCircuits` to `IDEAS.Circuits`
- [ ] Moved `IDEAS.Climate` to `IDEAS.BoundaryConditions`
- [ ] Moved `IDEAS.Occupants` to `IDEAS.BoundaryConditions`
- [ ] Replaced `IDEAS.Constants` by `IDEAS.Types`

[2016-02-15 19:38] rubenbaetens commented on #417
Also update the IDEAS/resources/scripts and /reference results? (for the reference results I would update the file names and then re-run the unittest to make sure that all the scripts work fine).

[2016-02-15 19:41] rubenbaetens commented on #430
@damienpicard @Mathadon also quickly look which old branches can be deleted: https://github.com/open-ideas/IDEAS/branches

[2016-02-16 10:49] GlennReynders opened #454 "Bug for air cavity in opaque wall"
For a wall with an air cavity. The following error occurs:

The bug can be pinpointed to the energyDynamics in layMul and can be avoided by stating for the outerWall:
` layMul(energyDynamics=Modelica.Fluid.Types.Dynamics.SteadyState))
`

[2016-02-16 10:52] GlennReynders commented on #454
In IDEAS.Buildings.BaseClasses.MonoLayer the following check already exists:
[code]

Should this be:
``
 parameter Modelica.Fluid.Types.Dynamics energyDynamics=if **mat.gas** then Modelica.Fluid.Types.Dynamics.SteadyState else Modelica.Fluid.Types.Dynamics.FixedInitial
    "Static (steady state) or transient (dynamic) thermal conduction model"
[code]

[2016-02-16 11:15] Mathadon commented on #454
Can you create a branch with an example model +unit test that generates the bug? Then I will fix it!

[2016-02-16 11:20] Mathadon commented on #429
Default IDEAS implementation is now with non-linear convection equations

[2016-02-16 13:31] Mathadon commented on #454
It should be for glass, since we want glass to be steady state by default. Gasses will be modelled using the `MonoLayerGas` model, which is always static.

[2016-02-16 15:24] #454 closed

[2016-02-19 10:34] rubenbaetens commented on #447
Solved in #456.

[2016-02-19 10:34] #447 closed

[2016-03-03 15:20] GlennReynders opened #461 "Overdetermined initialization problem with boundary wall"
When using boundary wall with `T_in` the intialization problem is overdetermined.

Problem is that `EnergyDynamics` is not correctly propagated to `MonoLayer`. I will propose fix.

[2016-03-04 14:35] rubenbaetens opened #463 "Strict asserts in EmbeddedPipe"
The asserts in `IDEAS.Fluid.HeatExchangers.RadiantSlab.EmbeddedPipe` are very strict:
[code]

Is there a way to make them less strict, either by (a) describing the model in such way that it is more general, or (b) e.g. letting the asserts result in a warning instead of error.

There are some options concerning (a) i think, e.g.
[code]

could be reformulated based on `Boolean tabs  = (S_1 > 0.3*T)`

[2016-03-04 14:49] rubenbaetens commented on #463
Additionally the parameter `nParCir` exists in both the model as in the `RadSlaCha` record. This should be avoided at all times.

[2016-03-04 15:02] Mathadon commented on #463
It's possible to generate a warning (`assert(condition, message, level=AssertionLevel.warning);`) instead of an error. THat's probably the best option?

[2016-03-04 15:03] rubenbaetens commented on #463
That's what i'm doing now to move forward, but because i don't know the importance of each of these asserts i don't want to propose it as a general solution myself.

[2016-03-04 15:58] Mathadon commented on #463
Your reformulation of `Boolean tabs = (S_1 > 0.3*T)` makes sense, but  I am also not sure whether this is correct. I only use the TABS version of the model and the FH implementation is from Roel.

[2016-03-07 10:54] Mathadon opened #464 "Bug in glazing coating sides"
When changing port a and port b we forgot to switch the sides of the coatings for the glazing. This did not affect the results significantly since two errors compensated each other. However the code should be fixed. I'll make a pull request.

[2016-03-07 18:37] rubenbaetens opened #465 "Count for thermal bridge of window edges"
The installation of window frames in building constructions usually come with a thermal bridge. With the current model structure, the psi-value could be counted in in the parallel resistor reflecting the window frame. I'll make a proposal.

[2016-03-08 09:16] rubenbaetens commented on #464
Could you tell me what it means in `IDEAS.Buildings.Data.Glazing` ?

The current representation is:
[code]
for low-e coatings inside the cavity. Is this correct or what should it be ?

[2016-03-08 09:28] rubenbaetens opened #466 "Obsolete outer SimInfoManager"
I notice in (e.g.) `IDEAS.Buildings.Components.Window` that

- IDEAS.Buildings.Components.BaseClasses.ExteriorConvection
- IDEAS.Buildings.Components.BaseClasses.HeatRadiation
- IDEAS.Climate.Meteo.Solar.RadSolData
- ...

no longer use the `SimInfoManager` and thus the `outer SimInfoManager` seems obsolete here.

(allthough i liked the solution with the outer SimInfoManager much more compared to t

[2016-03-08 09:29] rubenbaetens commented on #430
See also #466 on obsolete SiminfoManager.

[2016-03-08 09:37] Mathadon commented on #466
I agree that the current implementation is quite messy and improvement is possible. However, we need the weaBus for our research so I'd like to stick with that. Also, connecting a weaBus to even the smallest of components seems a bit messy..
I'd prefer not to change it since it works now..

[2016-03-08 09:38] Mathadon commented on #464
It should be
[code]
since the low - e coatings are inside the cavity and `port_a` is connected to the last layer.

[2016-03-08 09:40] rubenbaetens commented on #466
What's the real need for `weaBus` in research ?

[2016-03-08 09:41] rubenbaetens commented on #464
I'm waiting :)

[2016-03-08 09:49] Mathadon commented on #464
Working on it!

[2016-03-08 09:49] Mathadon commented on #466
Linearisation possibilities!

[2016-03-08 09:59] rubenbaetens commented on #465
Did you ever make a model for thermal bridges, @GlennReynders ? E.g. for TwinHouses.

[2016-03-08 11:45] rubenbaetens commented on #464
Solved in #467.

[2016-03-08 11:45] #464 closed

[2016-03-08 13:05] GlennReynders commented on #465
I've made a correction rather than a model for the thermal bridges in TwinHouses. Not something that I would generalize.

[2016-03-08 13:34] rubenbaetens commented on #465
@GlennReynders Could you check #470 then ? I created a model for the window edge, i.e. a resistor in parallel to the multilayer. This works because if the ratehr steady-state character of the window and edge, maybe not applicable for thermal bridges in heavy constructions.

[2016-03-09 14:15] rubenbaetens opened #471 "Warnings in IDEAS.Fluid.Movers.FlowControlled_m_flow"
I get following two warnings in `IDEAS.Fluid.Movers.FlowControlled_m_flow` which ennoy me but i can't find how to solve them:
[code]

Any idea @Mathadon @damienpicard @GlennReynders ?

[2016-03-09 15:35] rubenbaetens commented on #461
Addressed in #469.

[2016-03-09 15:35] #461 closed

[2016-03-14 13:45] Mathadon commented on #471
This is related to the nominal attribute of m_flow_in, i.e.:
[code]

[2016-03-14 13:51] rubenbaetens commented on #471
Thx !

[2016-03-14 13:51] #471 closed

[2016-03-24 17:27] Mathadon commented on #466
I'll try to clean it up a bit since I'm also experiencing some problems with this.

[2016-03-25 08:08] Mathadon commented on #466
In `Window` we still have:
[code]
so `sim` should stay for that reason too :)

[2016-03-30 08:44] rubenbaetens commented on #466
Addressed in #472.

[2016-03-30 08:44] #466 closed

[2016-03-31 06:38] rubenbaetens commented on #429
Gentlemen, LBNL published their `Buildings 3.0.0` yesterday. aybe it's time we try to finish our 0.4 milestone ?

[2016-03-31 06:43] Mathadon commented on #429
Yup, @damienpicard and @GlennReynders can you also verify if the changes in #460 are ok?

[2016-03-31 18:12] rubenbaetens commented on #465
Adressed in #474.

[2016-03-31 18:12] #465 closed

[2016-03-31 18:12] rubenbaetens commented on #463
Adressed in #474.

[2016-03-31 18:12] #463 closed

[2016-03-31 18:53] rubenbaetens commented on #45
I would be very happy if we could finalise this issue from ... 13 May 2014 (see #308). I'm working with boiler models for my simulations, which is (kinda) a pain in `develop` and it's a pitty knowing all the code his here to relieve the pain, but it never made it into the main branch ...

[2016-04-12 18:03] rubenbaetens opened #475 "Sourceless Thermostatic3WayValve"
Actually `IDEAS.Fluid.Valves.Thermostatic3WayValve` is not at all `Annex60` compliant and should be redeveloped from scratch: It contains a `IDEAS.Fluid.Interfaces.IdealSource` which may cause a massflow when no pumps are working.

[2016-04-13 06:48] Mathadon commented on #475
This model can indeed be improved, depending on the application (with/without pressure drop). There current implementation is intended to be used in applications without pressure drop where a pump is connected at the outlet at the valve. In this case it should not develop mass flow when no pumps are working.

[2016-04-19 10:35] Mathadon opened #476 "Density in computation of air leakage"
@rubenbaetens `IDEAS.Buildings.Components.BaseClasses.AirLeakage` does not take into account the air density? I think a factor 1.2 should be added?

[2016-04-19 10:39] Mathadon opened #477 "Bug in IDEAS.Controls.ControlHeating.HeatingCurves.HeatingCurveFilter"
IDEAS.Controls.ControlHeating.HeatingCurves.HeatingCurveFilter and IDEAS.Controls.ControlHeating.HeatingCurves.HeatingCurve contain a bug where qRel can be come negative.

qRel^1.3 can then not be computed.

This is easy to fix, but I'm wondering if we should further support these models? Does anybody find them useful?

[2016-04-19 10:41] Mathadon opened #478 "bug in bore field computation"
Parameter `dynamicBalance` was removed in Annex60 and should be removed from IDEAS/Fluid/HeatExchangers/GroundHeatExchangers/Borefield/BaseClasses/BoreHoles/Examples/Interfaces/partial_SingleBoreHoleStepLoad.mo

[2016-04-19 11:15] cprotopa commented on #477
I do use the heating curve. Is there a better model for this that you'd suggest to use instead?

[2016-04-19 12:04] Mathadon commented on #477
Not really :) best to keep it then!

[2016-04-19 12:52] VincentReinbold opened #480 "examples not working"
Examples "IDEAS.Interfaces.Examples.building" and "IDEAS.Buildings.Examples.Structure" not working (the ckeck fail). I put those tow examples in the same issue because it seems to be the same error.

[2016-04-19 14:07] Mathadon commented on #480
The first bug already seems to be fixed on the branch `develop`. The second bug will be fixed in #481 . Thanks for reporting this!

[2016-04-19 18:28] #480 closed

[2016-04-20 07:03] Mathadon opened #482 "Unit tests"
Last Annex60 merge I forgot to update the unit test results. To be fixed.

[2016-04-20 07:07] Mathadon commented on #478
Fixed in #479

[2016-04-20 07:07] #478 closed

[2016-04-20 07:38] Mathadon commented on #482
This has been merged.

[2016-04-20 07:38] #482 closed

[2016-04-27 11:47] Mathadon opened #487 "Zone with 1 surface"
We get a very non-informative error when connecting only a single surface to a zone. This should be caught by an assert.

[2016-04-28 07:45] Mathadon opened #488 "Redesigning zone air models"
Right now we have one zone air model with one state.
This is often not sufficiently accurate and should be redesigned such that several zone air models can be chosen from.
A logical step would be to also move the heat convection equations from the surface models into the zone model.

@rubenbaetens @damienpicard @GlennReynders do you have some feedback on this idea?

[2016-04-28 12:46] rubenbaetens commented on #488
What options where you thinking about when you mention "several zone air models can be chosen from" ?

[2016-04-28 12:49] rubenbaetens commented on #476
True, we shouldmaybe also parametrized this ``*(1/20)`` ...

[2016-04-28 12:50] rubenbaetens commented on #487
something like `Only one surface ? What where you thinking !` ... ? ;-)

[2016-04-28 13:19] Mathadon commented on #488
See for instance page number 297 in https://energyplus.net/sites/default/files/pdfs_v8.3.0/EngineeringReference.pdf

[2016-05-03 07:23] rubenbaetens commented on #487
Adressed in #490.

[2016-05-03 07:23] #487 closed

[2016-05-03 07:33] rubenbaetens commented on #488
Addressed in #491.

[2016-05-03 07:33] #488 closed

[2016-05-03 07:35] rubenbaetens commented on #477
Addressed in #485.

[2016-05-03 07:35] #477 closed

[2016-05-03 07:42] rubenbaetens commented on #476
Reference results should be updated again after #491

[2016-05-03 07:47] damienpicard commented on #475
We looked at this in annex 60 but it seemed to be a bit complex to do:
https://github.com/iea-annex60/modelica-annex60/pull/127

[2016-05-03 07:48] #475 closed

[2016-05-03 07:51] damienpicard commented on #417
This is handled in #460

[2016-05-03 07:51] #417 closed

[2016-05-03 07:52] damienpicard commented on #430
this is handled in #460

[2016-05-03 07:52] #430 closed

[2016-05-03 07:55] damienpicard commented on #356
@GlennReynders will add a couple of records with windows properties from Windows-program.

[2016-05-03 07:57] rubenbaetens commented on #476
Addressed in #492.

[2016-05-03 07:57] #476 closed

[2016-05-03 08:02] damienpicard commented on #315
@GlennReynders this should be discussed with Dirk as it is now part of a student assignment

[2016-05-03 08:06] rubenbaetens opened #493 "Refactor IDEAS.Circuits"
- [x] Moved IDEAS.HeatingSystems to IDEAS.Circuits
- [x] Moved IDEAS.VentilationSystems to IDEAS.Circuits
- [x] Moved IDEAS.Fluid.BaseCircuits to IDEAS.Circuits

[2016-05-03 08:06] rubenbaetens opened #494 "Types-based IDEAS.BoundaryConditions"
- [x] Moved IDEAS.Climate to IDEAS.BoundaryConditions
- [x]  Moved IDEAS.Occupants to IDEAS.BoundaryConditions
- [x]  Moved IDEAS.SimInfoManager to IDEAS.BoundaryConditions.SimInfoManager
- [x]  Replaced IDEAS.Constants by IDEAS.Types

[2016-05-03 08:08] rubenbaetens opened #495 "Refactor fluid valves"
- [ ]  @Mathadon proposess to move IDEAS.Fluid.Valves to IDEAS.Fluid.Actuators.Valves
- [ ]  @Mathadon proposes to remove IDEAS.Fluid.FixedResistances.InsulatedPipe
- [ ]  @Mathadon proposes to remove IDEAS.Fluid.FixedResistances.Pipe
- [ ]  @Mathadon proposes to remove IDEAS.Fluid.FixedResistances.Pipe_Insulated
- [ ]  @GlennReynders proposes to move IDEAS.Fluid.Valves.ThermostaticThreeWayValve t

[2016-05-03 09:00] Mathadon opened #496 "Top level examples package"
The top level examples package does not contain a sensible example. This should be fixed.

[2016-05-03 12:00] damienpicard commented on #495
I have adapted all the above mentioned points except:
- Fluid.Production.HP_AirWater_TSet and Fluid.Production.HP_AirWater_TSet2 : this should be solved by the boiler pull request
-  IDEAS.Fluid.FixedResistances.InsulatedPipe is kept as it is not equivalent from Annex 60.

[2016-05-03 15:08] GlennReynders commented on #356
handled in pull request #498

[2016-05-03 15:08] #356 closed

[2016-05-04 10:08] damienpicard opened #500 "dynamic balance"
The model `IDEAS.Fluid.FixedResistances.InsulatedPipe` still uses _dynamicBalance_

[2016-05-04 14:25] rubenbaetens opened #501 "EmbeddedPipe"
I get diverging temepratures in the `EmbeddedPipe` model, maybe we better rewrite this model based on `Buildings.Fluid.HeatExchangers.RadiantSlabs.BaseClasses.PipeToSlabConductance` ? @Mathadon @damienpicard @GlennReynders
![capture](https://cloud.githubusercontent.com/assets/1235535/15017177/cab77b12-1214-11e6-847d-8d58873b3c8b.JPG)

[2016-05-04 14:40] damienpicard opened #502 "MinorUpdatesDaP"
Make some variable of PartialSimInfoManager.mo public, use tau instead of m for threeWayValve and correct SimInfo for HP.

[2016-05-05 06:41] Mathadon commented on #501
Can you send An example?

[2016-05-15 17:58] rubenbaetens commented on #493
Adressed in #499.

[2016-05-15 17:58] #493 closed

[2016-05-15 17:58] rubenbaetens commented on #495
Addressed in #499.

[2016-05-15 17:58] #495 closed

[2016-05-15 17:59] rubenbaetens commented on #494
Addressed in #499.

[2016-05-15 17:59] #494 closed

[2016-05-15 17:59] rubenbaetens commented on #501
This was not a model bug but a system implementation bug.

[2016-05-15 17:59] #501 closed

[2016-05-27 12:45] GlennReynders commented on #500
So does `IDEAS.Templates.Ventilation.ConstantAirflowRecup`

[2016-06-14 10:15] damienpicard opened #504 "Air convection correlations"
Current version of `IDEAS.Buildings.Components.BaseClasses.MonoLayerAir` only supports vertical or horizontal surfaces for the convection computation. An `assert `with level `error` is used.

However, I have a model with tilted surface. I propose to
- [ ] change the level of the assert to `warning`
- [ ] implement the correlation for sealed air cavities from ASHRAE Fundamental Chap 25, Table 3 (20

[2016-06-14 10:21] Mathadon commented on #504
I'd prefer sticking with sealed cavities to avoid having too many parameters.

Can we treat the convection in a different issue?

[2016-06-14 10:27] damienpicard opened #505 "Convection correlation for sealed air cavities and optionally for ventilated air cavities"
Current version of `IDEAS.Buildings.Components.BaseClasses.MonoLayerAir` only supports vertical or horizontal surfaces for the convection computation. An `assert`with level `error` is used.

However, I have a model with tilted surface. I propose to
- [ ] change the level of the assert to `warning`
- [ ] implement the correlation for sealed air cavities from ASHRAE Fundamental Chap 25, Table 3 (200

[2016-06-14 10:28] damienpicard opened #506 "Air convection correlations are different for Buildings, Energy+ and IDEAS"
I've noticed that we do not use the same correlations in `IDEAS.Buildings.Components.BaseClasses.InteriorConvection` than the ones used in `Buildings.HeatTransfer.Convection.Functions.HeatFlux`.

The ones in energy+ are also different:
http://bigladdersoftware.com/epx/docs/8-0/engineering-reference/page-021.html

[2016-06-14 10:29] damienpicard commented on #504
This is now handled in #505 and #506

[2016-06-14 10:29] #504 closed

[2016-06-14 11:47] Mathadon commented on #505
I'd prefer sticking with sealed cavities for now, to avoid having too many parameters.
However, how do you want to implement this table? Fit polynomials to it?

[2016-06-14 14:47] damienpicard commented on #505
Here is a plot of the thermal resistance as a function of the mean temperature for the horizontal Up case. Left for a temperature diff of 5.6, right for temperature diff of 11.1 and 16.7 combined.
![image](https://cloud.githubusercontent.com/assets/2987659/16046060/5f33b6ec-324b-11e6-99bc-485828b109ac.png)

To keep the implementation easier and due to the lack of data form delta T >= 11.1, I would

[2016-06-15 09:21] rubenbaetens commented on #505
Heat transfer in cavities is of the form a.dT^b wher a and b depends on the inclination and dT. For tilted surfaces, you could maybe just interpolate a and b ?

[2016-06-15 09:23] rubenbaetens commented on #506
I can give you papers with 20 different formulas for this correlation ... with a range of factor 10.

[2016-06-15 09:29] Mathadon commented on #506
The best we could do is to provide multiple options with an ```enumeration```.

[2016-06-15 09:33] rubenbaetens commented on #506
In that case i would stick to the well-knowns, like ASHRAE Fundamentals, Khalifa, Awbi & Hatton, ...

[2016-06-17 08:38] damienpicard opened #508 "Dymola 2017 and MSL 3.2.2"
Since beginning of June Dymola 2017 is available and MSL changes from 3.2.1 to 3.2.2.
I have run the unit tests and they are all working with the new Dymola and MSL.

[2016-07-04 11:26] damienpicard commented on #508
solved in #509

[2016-07-04 11:26] #508 closed

[2016-07-04 11:26] #502 closed

[2016-07-04 11:31] damienpicard commented on #429
Here are the recurrent changes that I had to do to update my models to the new IDEAS version 0.3:

- Replace
	- `IDEAS.SimInfoManager` by `IDEAS.BoundaryConditions.SimInfoManager`
	- `IDEAS.Interfaces.BaseClasses.Structure` by `IDEAS.Templates.Interfaces.BaseClasses.Structure`
	- `IDEAS.Interfaces.BaseClasses.HeatingSystem` by `IDEAS.Templates.Interfaces.BaseClasses.HeatingSystem`
	- `IDEAS.Interf

[2016-07-04 11:32] damienpicard commented on #429
Here is a python code which automate these replacements:

[code]

[2016-07-07 07:48] Mathadon opened #511 "JModelica compliance"
I'm messing around with JModelica. This issue is to fix some errors for which Dymola is more forgiving.

[2016-07-12 19:23] Mathadon opened #512 "Thermal bridge implementation"
The thermal bridge in a window is connected to the convection equation of the frame. This is a problem when the frame is not used. Would it be better to recompute the value of `layFra.G` based on the value of `briType.G` ?

[2016-07-13 14:10] Mathadon opened #513 "Occupancy model"
It could be useful to allow a replaceable occupancy model in the zone model that adds sensible and latent heat to the zone air volume.
The model could contain a replaceable occupancy comfort model that allows evaluating several norms in terms of occupant comfort.

Is this a good idea? Do we need to consider Strobe for making this implementation?

[2016-07-13 15:26] Mathadon opened #514 "Various code clean-ups"
This tickets is for committing some code clean ups, documentation, comments, etc.

[2016-07-13 17:23] rubenbaetens commented on #512
If you recompute `layFra.G`, doesn't the problem remain that you can't include a thermal bridge if you neglect the frame ?

[2016-07-13 17:46] rubenbaetens commented on #513
Note that you aim to introduce *two* models to the zone: an occupancy model introducing boundary conditions and a comfort model for evaluation. I'd separate both:

(1) I'm unaware on how many occupancy models exist in effective standards, i personally only know a few allthough ASHRAE may have more than i know. From a user-perspective, it could be indeed interesting that you can define this at the

[2016-07-13 17:48] rubenbaetens commented on #511
FYI: It might be handy to first debug in Dymola's pedantic mode and then move to JModelica.

[2016-07-13 19:49] Mathadon commented on #512
why would you have a thermal bridge if you have no frame?

[2016-07-13 19:51] Mathadon commented on #513
I agree that they are two models.
1) I may have been misleading: with 'occupancy model', I mean a model that generates sensible and latent heat gains and optionally CO2 gains based on an input: the number of zone occupants. So the complexity is quite low.
2) Can't be that complicated..? Either way it should be optional and disabled by default so I think it should be fine :)

[2016-07-14 01:27] Mathadon opened #515 "Solar gains model"
Currently beam solar gains are redistributed over alle surfaces based on the emissivity-weighted areas of the surfaces. This model is fairly simple and should probably be improved. A first improvement would probably be to assume that all beam irradiation falls onto the floor and to determine which surface is the floor based on the inclination angle etc.

Any other suggestions?

[2016-07-14 06:24] rubenbaetens commented on #512
There are - in general - two thermal bridges: the joint of glazing into the frame, and the joint of the window into the construction. The second one could exist without a frame, or both thermal bridges ánd the joint could be lumped into a single thermal bridge definition.

[2016-07-14 06:28] rubenbaetens commented on #513
Note that:
1) all loads are time dependent and thus not just based on the number of occupants: is it an office, a living, a bedroom, a class in school, a room in an elderly home, ... ? or do you want to have a `RealInput` defining `nOcc` and define the presency elsewhere ? Even then the metabolic rates between a sleeping person and an active person are not quite alike ...
2) You might be suprised

[2016-07-15 08:05] rubenbaetens commented on #515
Since when does all beam radiation first falls onto the floor ? Check your own office at 9 in the morning or 6 in the evening, it will fall on the walls first.

@GlennReynders once made a model that actually calculates where the sun falls, but i think the need of parameters is too high.

[2016-07-15 09:31] Mathadon commented on #515
Well it's certainly not falling onto the ceiling and most of the time not on the walls, so it seems a better approximation to let it fall onto the floor rather than on all surfaces. Also the beam radiation should remain concentrated such that it causes a lot of localised heating, resulting in convective heat exchange with the air. This effect is diminished right now by spreading the beam radiation

[2016-07-15 09:36] rubenbaetens commented on #515
The beam is concentrated causing localised heating, but keep in mind that the floor solar reflectance is 40 to 60%, causing ... spreading over all surfaces.

[2016-07-15 12:58] Mathadon commented on #513
1) You make a good point about the type of building/occupants. I propose to make the occupant model replaceable, such that you can change these characteristics of the model. It should be fairly simple for users to make their own models. I do also want to have a  RealInput as you describe.
Thanks for the feedback!
2) I'll check it out :)

[2016-07-15 13:00] Mathadon commented on #512
Still it seems odd to not have/model a frame, while modelling a thermal bridge which to me seems to be a larger degree of detail?

[2016-07-15 14:08] Mathadon commented on #515
Okay, my suggestion would then be to assume that all light falls onto the floor. A fraction (1-epsSw) is reflected off the floor and redistributed over the rest of the zone based on weights `area[i] * epsSw[i]/sum(area[i]*epsSw[i])`. Does this make sense to you? You can check 11726c3 for the implementation.

[2016-07-18 11:45] Mathadon commented on #513
Buildings has an implementation for Fanger, so I propose to copy that one.

[2016-07-19 09:01] Mathadon opened #519 "Bestest warnings"
Bestest models generate some warnings. I'll try to remove these.

[2016-07-19 13:09] Mathadon commented on #514
closed through #517

[2016-07-19 13:09] #514 closed

[2016-07-19 13:11] rubenbaetens commented on #519
Solved in #521

[2016-07-19 13:11] #519 closed

[2016-07-19 13:15] damienpicard opened #522 "Inaccurate constrainedBy"
Some partial models do not have correct `constrainedby`.
For example, `IDEAS.Buildings.Components.Interfaces.PartialOpaqueSurface` (from which the walls are extended) have the following constrainedby:
[code]

This is confusing as the user's walls will not extend from `CavityWall` but rather from `IDEAS.Buildings.Data.Interfaces.Construction` and therefore the scroll down menu for the parameter `co

[2016-07-19 13:19] Mathadon commented on #522
This will be fixed in #518

[2016-07-27 06:22] Mathadon opened #524 "Bestest update"
I checked the bestest implementation, added documentation and added a script for generating the result figures.

[2016-07-27 11:19] Mathadon opened #526 "Heat pump with performance depending on evaporator outlet temperature instead of inlet temperature"
Currently the heat pump model uses the evaporator inlet temperature to determine the performance. This is inaccurate for variable flow cases. We propose to add an option to resolve this partly.

[2016-07-28 14:11] Mathadon opened #528 "Initialisation of bore field for initial time >> 0"
When starting a simulation not at startTime=0 (for instance using unix time stamps) lenSim is often too small in simulations. Therefore it would be better to take into account  the start time of the simulation. I'll implement a fix for this.

[2016-08-01 08:00] Mathadon opened #530 "Add slate material"
I need a Slate material for making a roof. I'll add it.

[2016-08-01 08:08] Mathadon opened #532 "Default value for nLay in construction"
Construction elements currently require nLay to be defined, while this is not really necessary since the value may be derived from the `mats` parameter size. Will fix this.

[2016-08-01 08:57] Mathadon commented on #528
closed in #529

[2016-08-01 08:57] #528 closed

[2016-08-03 06:10] Mathadon opened #534 "Convention for zero time in IDEAS"
It seems that right now time=0 corresponds to january first 2014 (or something similar), whereas the user may choose/need to use a different time convention. For instance I use unix time stamps which implies time = 0 at january first 1970.
Documentation should be more explicit about this and the code should probably allow for different conventions to be used.

[2016-08-03 06:13] Mathadon commented on #534
Actually, the above relates to some custom code I wrote =)
In that case I'd like to add functionality for computing the weekday and date in IDEAS, for which we'd need a convention for zero time, so the same issue applies.

[2016-08-03 15:37] Mathadon commented on #511
Merged in #520

[2016-08-03 15:37] #511 closed

[2016-08-04 12:08] Mathadon opened #536 "Generic heat pump model"
The current heat pump model only allows the use of evaporator inlet temperature and condensor outlet temperature to define efficiency maps. We would like to extend this implementation towards other, and more (up to 3) variables. Moreover the implementation should allow the computation of other variables than COP and condensor heat flow rate.

[2016-08-08 08:05] Mathadon opened #537 "Sky temperature calculations"
@rubenbaetens  In our calculations we read `TblaSky` from a data file, whereas in EnergyPlus the sky temperature is a weighted sum of the sky temperature and the air temperature (see eqn. 3.61 below). Is this an error, a design choice, or is the value we read from the data file already the weighted average?

![screen shot 2016-08-08 at 10 05 25](https://cloud.githubusercontent.com/assets/5970879/1

[2016-08-08 10:05] rubenbaetens commented on #537
Calculating 3 h's is one way to do it. Another way is recalculating the effictive longwave temperature of the environment based on the viewfactors in Eqns. 3.60 and 3.60. This makes `TEnv` used in `Buildings.Components.BaseClasses.ExteriorHeatRadiation` as implemented in `TenvExpr` in `Climate.Meteo.Solar.ShadedRadSol`.

[2016-08-08 10:07] Mathadon commented on #537
I don't think that's an answer to the question, I'll put it differently: where is 'our' equation 3.61?

[2016-08-08 10:13] rubenbaetens commented on #526
Is it specific for variable-flow cases ? I received performance maps in a project which were all defined based on the average between the inlet and outlet temperature so i included two sensors in my model.

Do we have a unified model already, or is it still hidden in a branch ?

[2016-08-08 10:14] rubenbaetens commented on #532
Solved in #533

[2016-08-08 10:14] #532 closed

[2016-08-08 10:16] Mathadon commented on #526
Yes this is for variable flow. I'm working on a new model that would accept any (many) possible input types.

[2016-08-08 10:28] rubenbaetens commented on #537
But what's the meaning of beta ? It assumes air as a radiant black-body which seams weird, unless it some kind of fictive obstruction factor.

However, for sure, it's not uncluded in `TblaSky` or `Tenv`.

[2016-08-08 10:51] Mathadon commented on #537
I'm not sure.. does air not have a very low emissivity in the IR spectrum such that eventually after kilometers of air 'it adds up' ?

[2016-08-08 12:03] rubenbaetens commented on #537
But how can beta become 1 then ?

[2016-08-08 12:54] Mathadon commented on #537
Good point.. for cos phi = 1 (corresponding to upward facing surface) you get beta = 1.. That does not makes sense to me either. Maybe Dirk knows?

[2016-08-08 13:02] rubenbaetens commented on #537
In TRNSYS, the beta-factor is not included (or thus equal to 1), see e.g. http://web.mit.edu/parmstr/Public/Documentation/06-MultizoneBuilding.pdf page 6-124.

[2016-08-08 13:07] Mathadon commented on #537
Oops, I misinterpreted what happens when beta = 1.

For a vertical surface you get beta = 0.5, which can be interpreted as the surface seeing 50% sky and 50% horizon  (or 50% ground, 25% sky and 25% horizon) to be more exact. When going straight up the atmosphere is rather 'short' but when following the atmosphere along the earth it is a lot longer. So for the longer 'air layer' I can imagine that

[2016-08-08 13:17] rubenbaetens commented on #537
For a vertical surface you get beta = 0.78 (i.e. sqr(0.5)) ... but i indeed suggest to delete it. Is it implemented in `Buildings` ?

[2016-08-08 13:25] Mathadon commented on #537
This does not seem to be the case in `Buildings.Rooms.BaseClasses.SkyRadiationExchange`.
Therefore closing this issue.

[2016-08-08 13:25] #537 closed

[2016-08-11 11:10] Mathadon opened #538 "Updated implementation of sha function"
The sha function used to return a Real variable whereas a typical sha is a string containing hexadecimal numbers. I will 'fix' this.

[2016-08-12 06:09] rubenbaetens commented on #513
Addressed in #518.

[2016-08-12 09:15] Mathadon commented on #536
@mwetter , this issue may be of interest

[2016-08-12 12:06] Mathadon commented on #524
Closed in #525

[2016-08-12 12:06] #524 closed

[2016-08-12 12:25] Mathadon commented on #526
We decided not to implement this.

[2016-08-12 12:25] #526 closed

[2016-08-12 12:26] Mathadon commented on #522
Closed in #518

[2016-08-12 12:26] #522 closed

[2016-08-12 12:29] rubenbaetens commented on #526
@Mathadon  Because of #536 or any other reason ?

[2016-08-12 12:30] rubenbaetens commented on #530
Addressed in #531.

[2016-08-12 12:30] #530 closed

[2016-08-12 13:10] Mathadon commented on #526
Mostly since the recomputation may cause people to use the model in an inappropriate way and to assume that what they do is correct.

[2016-08-12 13:31] rubenbaetens commented on #526
I presume that counts for many code changes :)

[2016-08-12 13:37] mwetter commented on #536
@Mathadon Thanks, the heat pump model is something we want to work on this fall or winter. See also
https://github.com/lbl-srg/modelica-buildings/tree/Annex60_HP_review/Buildings/Fluid/HeatExchangers/HeatPumps
for a development version that needs clean up.

[2016-08-12 14:40] damienpicard opened #541 "Bug with the sample function of borefield model"
Dymola 2017 has a bug with the sampling function:
[code]

gives a constant value for time_d. This is fixed by using `sample(10,10)` instead.

The sample function in partial_borefield needs to be adapted accordingly.

[2016-08-12 15:13] Mathadon commented on #526
But especially for this one!

[2016-08-12 15:20] Mathadon commented on #541
fixed

[2016-08-12 15:20] #541 closed

[2016-08-12 16:52] Mathadon commented on #536
Link to our main model: https://github.com/open-ideas/IDEAS/blob/issue536_heatPump/IDEAS/Fluid/Production/HeatPump_OnOff.mo

[2016-08-17 09:08] Mathadon opened #543 "Template for zones + walls"
@GlennReynders can you make a pull request for the model for simplifying how to set up models in IDEAS?

[2016-08-21 13:22] rubenbaetens commented on #429
The code defaults for linearisation are 'convection = non-linear' and 'radiation = linearised'

[2016-08-21 13:39] rubenbaetens commented on #543
What's this about ?

[2016-08-23 08:50] rubenbaetens commented on #429
This overviews syas that we:
-  Moved IDEAS.HeatingSystems to IDEAS.Circuits
-  Moved IDEAS.VentilationSystems to IDEAS.Circuits
-  Moved IDEAS.Fluid.BaseCircuits to IDEAS.Circuits
But this seems outdated already, cause it seems to be in `IDEAS.Templates.[x]`

[2016-08-23 10:19] rubenbaetens opened #545 "Minor changes"
I updated all my 3E code the the current `develop` branch and added two minor changes:
- [ ] Solar screen properties based on a record instead of parameters, so you can make a library similar to windows and materials.
- [ ] Added a static variant of `IDEAS.Templates.BaseCircuits.CollectorUnit`, could probably be deleted in a later stage again if we ever make verified basecircuits.

[2016-08-23 10:22] rubenbaetens commented on #545
[Damnit, i just by accident pushed to `develop` branch. How to solve this ?]

[2016-08-23 12:39] rubenbaetens commented on #513
In the occupancy model you fix the clo-value toa single-value (0.7), while standards usually give 2 values - i.e. a winter (1.0) and summer value (0.5). Maybe it's better to reformulate this based on 2 parameters and  make it a function of the exterior temperature ?

[2016-08-23 13:17] rubenbaetens opened #546 "Bug in mover implementation"
@Mathadon Could we implement https://github.com/iea-annex60/modelica-annex60/commit/d388262f296fa0ba34d28a0313d339317638df0a in current `IDEAS` or should we wait on Annex 60 ?

[2016-08-23 16:56] Mathadon commented on #513
Beter to make it a continuous function then?

[2016-08-23 17:42] rubenbaetens commented on #513
Something like that, yes. The clo-value is too important to simplify it to a single value all through the year. But there is no real good theory on how to do this, though this might be a good reference : http://www.sciencedirect.com.kuleuven.ezproxy.kuleuven.be/science/article/pii/S0360132312002260